openapi: 3.2.0
info:
  title: tmdb-api Account API
  version: '3'
servers:
- url: https://api.themoviedb.org
security:
- sec0: []
tags:
- name: Account
paths:
  /3/account/{account_id}:
    get:
      summary: Details
      description: Get the public details of an account on TMDB.
      operationId: account-details
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: session_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"avatar":{"gravatar":{"hash":"c9e9fc152ee756a900db85757c29815d"},"tmdb":{"avatar_path":"/xy44UvpbTgzs9kWmp4C3fEaCl5h.png"}},"id":548,"iso_639_1":"en","iso_3166_1":"CA","name":"Travis Bell","include_adult":false,"username":"travisbell"}'
              schema:
                type: object
                properties:
                  avatar:
                    type: object
                    properties:
                      gravatar:
                        type: object
                        properties:
                          hash:
                            type: string
                            example: c9e9fc152ee756a900db85757c29815d
                      tmdb:
                        type: object
                        properties:
                          avatar_path:
                            type: string
                            example: /xy44UvpbTgzs9kWmp4C3fEaCl5h.png
                  id:
                    type: integer
                    example: 548
                    default: 0
                  iso_639_1:
                    type: string
                    example: en
                  iso_3166_1:
                    type: string
                    example: CA
                  name:
                    type: string
                    example: Travis Bell
                  include_adult:
                    type: boolean
                    example: false
                    default: true
                  username:
                    type: string
                    example: travisbell
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/favorite:
    post:
      summary: Add Favorite
      description: Mark a movie or TV show as a favourite.
      operationId: account-add-favorite
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: session_id
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  format: json
            examples:
              Request Example:
                value:
                  media_type: movie
                  media_id: 550
                  favorite: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status_code\": 1,\n  \"status_message\": \"Success.\"\n}"
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 1
                    default: 0
                  status_message:
                    type: string
                    example: Success.
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/watchlist:
    post:
      summary: Add To Watchlist
      description: Add a movie or TV show to your watchlist.
      operationId: account-add-to-watchlist
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: session_id
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: string
                  format: json
            examples:
              Request Example:
                value:
                  media_type: movie
                  media_id: 11
                  watchlist: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status_code\": 1,\n  \"status_message\": \"Success.\"\n}"
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    example: 1
                    default: 0
                  status_message:
                    type: string
                    example: Success.
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/favorite/movies:
    get:
      summary: Favorite Movies
      description: Get a users list of favourite movies.
      operationId: account-get-favorites
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/se5Hxz7PArQZOG3Nx2bpfOhLhtV.jpg","genre_ids":[28,12,16,10751],"id":9806,"original_language":"en","original_title":"The Incredibles","overview":"Bob Parr has given up his superhero days to log in time as an insurance adjuster and raise his three children with his formerly heroic wife in suburbia. But when he receives a mysterious assignment, it''s time to get back into costume.","popularity":71.477,"poster_path":"/2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg","release_date":"2004-10-27","title":"The Incredibles","video":false,"vote_average":7.702,"vote_count":16162},{"adult":false,"backdrop_path":"/8eRscFbRYl681zDfkjv1jjW1KAA.jpg","genre_ids":[878,28,12],"id":1452,"original_language":"en","original_title":"Superman Returns","overview":"Superman returns to discover his 5-year absence has allowed Lex Luthor to walk free, and that those he was closest to felt abandoned and have moved on. Luthor plots his ultimate revenge that could see millions killed and change the face of the planet forever, as well as ridding himself of the Man of Steel.","popularity":23.183,"poster_path":"/385XwTQZDpRX2d3kxtnpiLrjBXw.jpg","release_date":"2006-06-28","title":"Superman Returns","video":false,"vote_average":5.723,"vote_count":3716},{"adult":false,"backdrop_path":"/xh0ZRdnL4pSqfW73HBf97xiNEFP.jpg","genre_ids":[14,28],"id":8960,"original_language":"en","original_title":"Hancock","overview":"Hancock is a down-and-out superhero who''s forced to employ a PR expert to help repair his image when the public grows weary of all the damage he''s inflicted during his lifesaving heroics. The agent''s idea of imprisoning the antihero to make the world miss him proves successful, but will Hancock stick to his new sense of purpose or slip back into old habits?","popularity":53.556,"poster_path":"/7DyuV2G0hLEqHeueDfOqhZ2DVut.jpg","release_date":"2008-07-01","title":"Hancock","video":false,"vote_average":6.343,"vote_count":8691},{"adult":false,"backdrop_path":"/2Gq4teAIkVVv0kc6JsfU66C3VOJ.jpg","genre_ids":[53,18,9648],"id":9741,"original_language":"en","original_title":"Unbreakable","overview":"An ordinary man makes an extraordinary discovery when a train accident leaves his fellow passengers dead — and him unscathed. The answer to this mystery could lie with the mysterious Elijah Price, a man who suffers from a disease that renders his bones as fragile as glass.","popularity":24.491,"poster_path":"/mLuehrGLiK5zFCyRmDDOH6gbfPf.jpg","release_date":"2000-11-22","title":"Unbreakable","video":false,"vote_average":7.134,"vote_count":8357},{"adult":false,"backdrop_path":"/l4QHerTSbMI7qgvasqxP36pqjN6.jpg","genre_ids":[28,878],"id":603,"original_language":"en","original_title":"The Matrix","overview":"Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.","popularity":79.309,"poster_path":"/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg","release_date":"1999-03-30","title":"The Matrix","video":false,"vote_average":8.2,"vote_count":23104},{"adult":false,"backdrop_path":"/zb6fM1CX41D9rF9hdgclu0peUmy.jpg","genre_ids":[18,36,10752],"id":424,"original_language":"en","original_title":"Schindler''s List","overview":"The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.","popularity":51.98,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg","release_date":"1993-12-15","title":"Schindler''s List","video":false,"vote_average":8.569,"vote_count":13997},{"adult":false,"backdrop_path":"/6ms6RdNcQUAnjBY26aM85xC2wV0.jpg","genre_ids":[28,53,878],"id":7191,"original_language":"en","original_title":"Cloverfield","overview":"Five young New Yorkers throw their friend a going-away party the night that a monster the size of a skyscraper descends upon the city. Told from the point of view of their video camera, the film is a document of their attempt to survive the most surreal, horrifying event of their lives.","popularity":31.474,"poster_path":"/qIegUGJqyMMCRjkKV1s7A9MqdJ8.jpg","release_date":"2008-01-15","title":"Cloverfield","video":false,"vote_average":6.664,"vote_count":6326},{"adult":false,"backdrop_path":"/wh4ze6klUbeichAj603OKZwY1W5.jpg","genre_ids":[28,53,878],"id":218,"original_language":"en","original_title":"The Terminator","overview":"In the post-apocalyptic future, reigning tyrannical supercomputers teleport a cyborg assassin known as the \"Terminator\" back to 1984 to kill Sarah Connor, whose unborn son is destined to lead insurgents against 21st century mechanical hegemony. Meanwhile, the human-resistance movement dispatches a lone warrior to safeguard Sarah. Can he stop the virtually indestructible killing machine?","popularity":45.608,"poster_path":"/kdYu7YJJP0uuGEuhUX5toqvBSog.jpg","release_date":"1984-10-26","title":"The Terminator","video":false,"vote_average":7.64,"vote_count":11399},{"adult":false,"backdrop_path":"/P4bGyJQF0shAcRku3I2perNUQR.jpg","genre_ids":[28,80],"id":23483,"original_language":"en","original_title":"Kick-Ass","overview":"Dave Lizewski is an unnoticed high school student and comic book fan who one day decides to become a super-hero, even though he has no powers, training or meaningful reason to do so.","popularity":46.304,"poster_path":"/8citjdBmjddZjlPsAHEyCKwGVvD.jpg","release_date":"2010-03-22","title":"Kick-Ass","video":false,"vote_average":7.118,"vote_count":10732},{"adult":false,"backdrop_path":"/jMBpJFRtrtIXymer93XLavPwI3P.jpg","genre_ids":[28,53,878],"id":679,"original_language":"en","original_title":"Aliens","overview":"When Ripley''s lifepod is found by a salvage crew over 50 years later, she finds that terra-formers are on the very planet they found the alien species. When the company sends a family of colonists out to investigate her story—all contact is lost with the planet and colonists. They enlist Ripley and the colonial marines to return and search for answers.","popularity":45.005,"poster_path":"/r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg","release_date":"1986-07-18","title":"Aliens","video":false,"vote_average":7.92,"vote_count":8395},{"adult":false,"backdrop_path":"/4ywKTlsIllvQYRiZJPwYACJIHY8.jpg","genre_ids":[18],"id":489,"original_language":"en","original_title":"Good Will Hunting","overview":"Will Hunting has a genius-level IQ but chooses to work as a janitor at MIT. When he solves a difficult graduate-level math problem, his talents are discovered by Professor Gerald Lambeau, who decides to help the misguided youth reach his potential. When Will is arrested for attacking a police officer, Professor Lambeau makes a deal to get leniency for him if he will get treatment from therapist Sean Maguire.","popularity":44.795,"poster_path":"/bABCBKYBK7A5G1x0FzoeoNfuj2.jpg","release_date":"1997-12-05","title":"Good Will Hunting","video":false,"vote_average":8.146,"vote_count":10649},{"adult":false,"backdrop_path":"/vVBcIN68kFq681b4lObiNJhEVro.jpg","genre_ids":[18,10749],"id":453,"original_language":"en","original_title":"A Beautiful Mind","overview":"John Nash is a brilliant but asocial mathematician fighting schizophrenia. After he accepts secret work in cryptography, his life takes a turn for the nightmarish.","popularity":27.447,"poster_path":"/zwzWCmH72OSC9NA0ipoqw5Zjya8.jpg","release_date":"2001-12-11","title":"A Beautiful Mind","video":false,"vote_average":7.9,"vote_count":9201},{"adult":false,"backdrop_path":"/hh28CTWLdxTXA5yJgefZ6gUnFDo.jpg","genre_ids":[80,9648,53],"id":807,"original_language":"en","original_title":"Se7en","overview":"Two homicide detectives are on a desperate hunt for a serial killer whose crimes are based on the \"seven deadly sins\" in this dark and haunting film that takes viewers from the tortured remains of one victim to the next. The seasoned Det. Sommerset researches each sin in an effort to get inside the killer''s mind, while his novice partner, Mills, scoffs at his efforts to unravel the case.","popularity":42.809,"poster_path":"/6yoghtyTpznpBik8EngEmJskVUO.jpg","release_date":"1995-09-22","title":"Se7en","video":false,"vote_average":8.366,"vote_count":18674},{"adult":false,"backdrop_path":"/qq4H9JfBKQ5DarMLI6lhUQjn9D7.jpg","genre_ids":[28,53,878,9648],"id":180,"original_language":"en","original_title":"Minority Report","overview":"John Anderton is a top ''Precrime'' cop in the late-21st century, when technology can predict crimes before they''re committed. But Anderton becomes the quarry when another investigator targets him for a murder charge.","popularity":25.998,"poster_path":"/ccqpHq5tk5W4ymbSbuoy4uYOxFI.jpg","release_date":"2002-06-20","title":"Minority Report","video":false,"vote_average":7.333,"vote_count":7725},{"adult":false,"backdrop_path":"/9LSsSPbP715XT9B7acIZzantPyX.jpg","genre_ids":[18],"id":73,"original_language":"en","original_title":"American History X","overview":"Derek Vineyard is paroled after serving 3 years in prison for killing two African-American men. Through his brother, Danny Vineyard''s narration, we learn that before going to prison, Derek was a skinhead and the leader of a violent white supremacist gang that committed acts of racial crime throughout L.A. and his actions greatly influenced Danny. Reformed and fresh out of prison, Derek severs contact with the gang and becomes determined to keep Danny from going down the same violent path as he did.","popularity":29.943,"poster_path":"/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg","release_date":"1998-07-01","title":"American History X","video":false,"vote_average":8.355,"vote_count":10343},{"adult":false,"backdrop_path":"/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg","genre_ids":[28,12,14,878],"id":19995,"original_language":"en","original_title":"Avatar","overview":"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.","popularity":201.185,"poster_path":"/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg","release_date":"2009-12-15","title":"Avatar","video":false,"vote_average":7.569,"vote_count":28980},{"adult":false,"backdrop_path":"/8AE7M2lMsyvowfT36porzGtmOtI.jpg","genre_ids":[878,18,10749],"id":38,"original_language":"en","original_title":"Eternal Sunshine of the Spotless Mind","overview":"Joel Barish, heartbroken that his girlfriend underwent a procedure to erase him from her memory, decides to do the same. However, as he watches his memories of her fade away, he realises that he still loves her, and may be too late to correct his mistake.","popularity":36.729,"poster_path":"/5MwkWH9tYHv3mV9OdYTMR5qreIz.jpg","release_date":"2004-03-19","title":"Eternal Sunshine of the Spotless Mind","video":false,"vote_average":8.1,"vote_count":13294},{"adult":false,"backdrop_path":"/eIi3klFf7mp3oL5EEF4mLIDs26r.jpg","genre_ids":[878,18,53],"id":78,"original_language":"en","original_title":"Blade Runner","overview":"In the smog-choked dystopian Los Angeles of 2019, blade runner Rick Deckard is called out of retirement to terminate a quartet of replicants who have escaped to Earth seeking their creator for a way to extend their short life spans.","popularity":47.122,"poster_path":"/63N9uy8nd9j7Eog2axPQ8lbr3Wj.jpg","release_date":"1982-06-25","title":"Blade Runner","video":false,"vote_average":7.933,"vote_count":12351},{"adult":false,"backdrop_path":"/fK5ssgvtI43z19FoWigdlqgpLRE.jpg","genre_ids":[16,10751,878],"id":10681,"original_language":"en","original_title":"WALL·E","overview":"WALL·E is the last robot left on an Earth that has been overrun with garbage and all humans have fled to outer space. For 700 years he has continued to try and clean up the mess, but has developed some rather interesting human-like qualities. When a ship arrives with a sleek new type of robot, WALL·E thinks he''s finally found a friend and stows away on the ship when it leaves.","popularity":72.81,"poster_path":"/Agc6lw8pb6BIGVeguvdjDT0p9Mb.jpg","release_date":"2008-06-22","title":"WALL·E","video":false,"vote_average":8.075,"vote_count":16926},{"adult":false,"backdrop_path":"/aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg","genre_ids":[12,28,878],"id":11,"original_language":"en","original_title":"Star Wars","overview":"Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.","popularity":81.207,"poster_path":"/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg","release_date":"1977-05-25","title":"Star Wars","video":false,"vote_average":8.208,"vote_count":18531}],"total_pages":4,"total_results":80}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /se5Hxz7PArQZOG3Nx2bpfOhLhtV.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 28
                            default: 0
                        id:
                          type: integer
                          example: 9806
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: The Incredibles
                        overview:
                          type: string
                          example: Bob Parr has given up his superhero days to log in time as an insurance adjuster and raise his three children with his formerly heroic wife in suburbia. But when he receives a mysterious assignment, it's time to get back into costume.
                        popularity:
                          type: number
                          example: 71.477
                          default: 0
                        poster_path:
                          type: string
                          example: /2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg
                        release_date:
                          type: string
                          example: '2004-10-27'
                        title:
                          type: string
                          example: The Incredibles
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 7.702
                          default: 0
                        vote_count:
                          type: integer
                          example: 16162
                          default: 0
                  total_pages:
                    type: integer
                    example: 4
                    default: 0
                  total_results:
                    type: integer
                    example: 80
                    default: 0
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/favorite/tv:
    get:
      summary: Favorite TV
      description: Get a users list of favourite TV shows.
      operationId: account-favorite-tv
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg","genre_ids":[18,80],"id":1396,"origin_country":["US"],"original_language":"en","original_name":"Breaking Bad","overview":"When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family''s financial future at any cost as he enters the dangerous world of drugs and crime.","popularity":292.904,"poster_path":"/ggFHVNu6YYI5L9pCfOacjizRGt.jpg","first_air_date":"2008-01-20","name":"Breaking Bad","vote_average":8.878,"vote_count":11548},{"adult":false,"backdrop_path":"/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg","genre_ids":[10765,18,10759],"id":1399,"origin_country":["US"],"original_language":"en","original_name":"Game of Thrones","overview":"Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night''s Watch, is all that stands between the realms of men and icy horrors beyond.","popularity":316.756,"poster_path":"/7WUHnWGx5OO145IRxPDUkQSh4C7.jpg","first_air_date":"2011-04-17","name":"Game of Thrones","vote_average":8.436,"vote_count":21000},{"adult":false,"backdrop_path":"/zP5SftyPx2VCdly369kTVVNIcT3.jpg","genre_ids":[10759,35,18],"id":1404,"origin_country":["US"],"original_language":"en","original_name":"Chuck","overview":"When Buy More computer geek Chuck Bartowski unwittingly downloads a database of government information and deadly fighting skills into his head, he becomes the CIA''s most vital secret. This sets Chuck on a path to become a full-fledged spy.","popularity":79.243,"poster_path":"/hdBp6Sya1w1DiKMKdJ6vdb0QOPS.jpg","first_air_date":"2007-09-24","name":"Chuck","vote_average":7.726,"vote_count":818},{"adult":false,"backdrop_path":"/8X1BTSaUyF5rc0malaaQovpxC3f.jpg","genre_ids":[35],"id":1418,"origin_country":["US"],"original_language":"en","original_name":"The Big Bang Theory","overview":"The sitcom is centered on five characters living in Pasadena, California: roommates Leonard Hofstadter and Sheldon Cooper; Penny, a waitress and aspiring actress who lives across the hall; and Leonard and Sheldon''s equally geeky and socially awkward friends and co-workers, mechanical engineer Howard Wolowitz and astrophysicist Raj Koothrappali. The geekiness and intellect of the four guys is contrasted for comic effect with Penny''s social skills and common sense.","popularity":134.048,"poster_path":"/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg","first_air_date":"2007-09-24","name":"The Big Bang Theory","vote_average":7.879,"vote_count":9899},{"adult":false,"backdrop_path":"/lNpkvX2s8LGB0mjGODMT4o6Up7j.jpg","genre_ids":[18],"id":1398,"origin_country":["US"],"original_language":"en","original_name":"The Sopranos","overview":"The story of New Jersey-based Italian-American mobster Tony Soprano and the difficulties he faces as he tries to balance the conflicting requirements of his home life and the criminal organization he heads. Those difficulties are often highlighted through his ongoing professional relationship with psychiatrist Jennifer Melfi. The show features Tony''s family members and Mafia associates in prominent roles and story arcs, most notably his wife Carmela and his cousin and protégé Christopher Moltisanti.","popularity":162.264,"poster_path":"/57okJJUBK0AaijxLh3RjNUaMvFI.jpg","first_air_date":"1999-01-10","name":"The Sopranos","vote_average":8.6,"vote_count":2130},{"adult":false,"backdrop_path":"/x4lxFIhhrDI4nWtV8osnYwbGESV.jpg","genre_ids":[35],"id":1421,"origin_country":["US"],"original_language":"en","original_name":"Modern Family","overview":"The Pritchett-Dunphy-Tucker clan is a wonderfully large and blended family. They give us an honest and often hilarious look into the sometimes warm, sometimes twisted, embrace of the modern family.","popularity":231.798,"poster_path":"/fu5vEUHgxkAPmX26ISQXqHmlPMq.jpg","first_air_date":"2009-09-23","name":"Modern Family","vote_average":7.787,"vote_count":2159},{"adult":false,"backdrop_path":"/tEjnoEdE2PtFp9UcqQse5hDgW8U.jpg","genre_ids":[16,10759,35,10765],"id":615,"origin_country":["US"],"original_language":"en","original_name":"Futurama","overview":"The adventures of a late-20th-century New York City pizza delivery boy, Philip J. Fry, who, after being unwittingly cryogenically frozen for one thousand years, finds employment at Planet Express, an interplanetary delivery company in the retro-futuristic 31st century.","popularity":120.381,"poster_path":"/k5e8kAq9jpaSmgvFM10su5LXGFR.jpg","first_air_date":"1999-03-28","name":"Futurama","vote_average":8.392,"vote_count":2650},{"adult":false,"backdrop_path":"/wr3RtUspxiLV0TwBgdikTlTFSG5.jpg","genre_ids":[18],"id":1435,"origin_country":["US"],"original_language":"en","original_name":"The Good Wife","overview":"Alicia Florrick boldly assumes full responsibility for her family and re-enters the workforce after her husband''s very public sex and political corruption scandal lands him in jail.","popularity":65.003,"poster_path":"/lasNCd45fpPLirlA7QxkuopWro.jpg","first_air_date":"2009-09-22","name":"The Good Wife","vote_average":7.597,"vote_count":464},{"adult":false,"backdrop_path":"/iP9Xjlc8KRmXE0kVMTaJRaN0umh.jpg","genre_ids":[18,10759,10765],"id":1437,"origin_country":["US"],"original_language":"en","original_name":"Firefly","overview":"In the year 2517, after the arrival of humans in a new star system, follow the adventures of the renegade crew of Serenity, a \"Firefly-class\" spaceship. The ensemble cast portrays the nine characters who live on Serenity.","popularity":39.093,"poster_path":"/vZcKsy4sGAvWMVqLluwYuoi11Kj.jpg","first_air_date":"2002-09-20","name":"Firefly","vote_average":8.323,"vote_count":1744},{"adult":false,"backdrop_path":"/gNYLylxp5EzopGtIb4XqIzbLtNJ.jpg","genre_ids":[80,18],"id":1621,"origin_country":["US"],"original_language":"en","original_name":"Boardwalk Empire","overview":"Atlantic City at the dawn of Prohibition is a place where the rules don''t apply. And the man who runs things -- legally and otherwise -- is the town''s treasurer, Enoch \"Nucky\" Thompson, who is equal parts politician and gangster.","popularity":32.102,"poster_path":"/kL6SqlVPpfAof2nQbh1VxkUuXBQ.jpg","first_air_date":"2010-09-19","name":"Boardwalk Empire","vote_average":8.0,"vote_count":862},{"adult":false,"backdrop_path":"/2yZXtM2Kky1Sy0kachbDlwybl3y.jpg","genre_ids":[10765,18,9648],"id":1705,"origin_country":["US"],"original_language":"en","original_name":"Fringe","overview":"FBI Special Agent Olivia Dunham, brilliant but formerly institutionalized scientist Walter Bishop and his scheming, reluctant son Peter uncover a deadly mystery involving a series of unbelievable events and realize they may be a part of a larger, more disturbing pattern that blurs the line between science fiction and technology.","popularity":151.906,"poster_path":"/sY9hg5dLJ93RJOyKEiu1nAtBRND.jpg","first_air_date":"2008-09-09","name":"Fringe","vote_average":8.109,"vote_count":2050},{"adult":false,"backdrop_path":"/dGzPJnh8YcUS4J10sNunohaXMVn.jpg","genre_ids":[37,80,18],"id":1406,"origin_country":["US"],"original_language":"en","original_name":"Deadwood","overview":"The story of the early days of Deadwood, South Dakota; woven around actual historic events with most of the main characters based on real people. Deadwood starts as a gold mining camp and gradually turns from a lawless wild-west community into an organized wild-west civilized town. The story focuses on the real-life characters Seth Bullock and Al Swearengen.","popularity":42.61,"poster_path":"/4Yp35DVbVOAWkfQUIQ7pbh3u0aN.jpg","first_air_date":"2004-03-21","name":"Deadwood","vote_average":8.095,"vote_count":670},{"adult":false,"backdrop_path":"/cyieN1P9Xo5SvLasSUT7SaAAzfy.jpg","genre_ids":[80,18],"id":1436,"origin_country":["US"],"original_language":"en","original_name":"Justified","overview":"A character drama based on the 2001 Elmore Leonard short story \"Fire in the Hole.\" Leonard''s tale centers around U.S. Marshal Raylan Givens of Kentucky, a quiet but strong-willed official of the law. The tale covers his high-stakes job, as well as his strained relationships with his ex-wife and father.","popularity":56.399,"poster_path":"/aVYuGDlOZMCRt89fAnHTYgk3BMr.jpg","first_air_date":"2010-03-16","name":"Justified","vote_average":7.961,"vote_count":558},{"adult":false,"backdrop_path":"/tMRdEsMg9MyXAkcufK9YJEeIaNW.jpg","genre_ids":[35],"id":1400,"origin_country":["US"],"original_language":"en","original_name":"Seinfeld","overview":"A stand-up comedian and his three offbeat friends weather the pitfalls and payoffs of life in New York City in the ''90s. It''s a show about nothing.","popularity":164.288,"poster_path":"/aCw8ONfyz3AhngVQa1E2Ss4KSUQ.jpg","first_air_date":"1989-07-05","name":"Seinfeld","vote_average":8.3,"vote_count":1557},{"adult":false,"backdrop_path":"/sAX6JOWZWJGhkvFRctSZIL556mp.jpg","genre_ids":[80,18],"id":1409,"origin_country":["US"],"original_language":"en","original_name":"Sons of Anarchy","overview":"An adrenalized drama with darkly comedic undertones that explores a notorious outlaw motorcycle club’s (MC) desire to protect its livelihood while ensuring that their simple, sheltered town of Charming, California remains exactly that, charming. The MC must confront threats from drug dealers, corporate developers, and overzealous law officers. Behind the MC’s familial lifestyle and legally thriving automotive shop is a ruthless and illegal arms business driven by the seduction of money, power, and blood.","popularity":119.662,"poster_path":"/kiy8BHtIHAslh81rvFcZ4wbNGdY.jpg","first_air_date":"2008-09-03","name":"Sons of Anarchy","vote_average":8.442,"vote_count":2437},{"adult":false,"backdrop_path":"/tK8eRUWVY8AVdDUPUxSzrmlLb0R.jpg","genre_ids":[10765,10759,18],"id":5148,"origin_country":["US"],"original_language":"en","original_name":"Stargate Universe","overview":"The adventures of a present-day, multinational exploration team traveling on the Ancient spaceship Destiny many billions of light years distant from the Milky Way Galaxy. They evacuated there and are now trying to figure out a way to return to Earth, while simultaneously trying to explore and to survive in their unknown area of the universe.","popularity":35.116,"poster_path":"/n23WMoa9y5TYPuKSQjPArpbHr9x.jpg","first_air_date":"2009-10-02","name":"Stargate Universe","vote_average":7.385,"vote_count":577},{"adult":false,"backdrop_path":"/56TMJ466qTNRyg4CCu4AgiXpVQL.jpg","genre_ids":[35,10759,16],"id":10283,"origin_country":["US"],"original_language":"en","original_name":"Archer","overview":"Sterling Archer is the world''s most daunting spy. He works for ISIS, a spy agency run by his mother. In between dealing with his boss and his co-workers - one of whom is his ex-girlfriend - Archer manages to annoy or seduce everyone that crosses his path. His antics are only excusable because at the end of the day, he still somehow always manages to thwart whatever crises was threatening mankind.","popularity":78.672,"poster_path":"/vhnrkTGYPqcB63ALcSJm0WoaKHT.jpg","first_air_date":"2009-09-17","name":"Archer","vote_average":7.907,"vote_count":1009},{"adult":false,"backdrop_path":"/nVRyd8hlg0ZLxBn9RaI7mUMQLnz.jpg","genre_ids":[18,9648,10765],"id":1622,"origin_country":["US"],"original_language":"en","original_name":"Supernatural","overview":"When they were boys, Sam and Dean Winchester lost their mother to a mysterious and demonic supernatural force. Subsequently, their father raised them to be soldiers. He taught them about the paranormal evil that lives in the dark corners and on the back roads of America ... and he taught them how to kill it. Now, the Winchester brothers crisscross the country in their ''67 Chevy Impala, battling every kind of supernatural threat they encounter along the way. ","popularity":361.403,"poster_path":"/KoYWXbnYuS3b0GyQPkbuexlVK9.jpg","first_air_date":"2005-09-13","name":"Supernatural","vote_average":8.304,"vote_count":6650},{"adult":false,"backdrop_path":"/mCwQJqyuCFlbFyJR5sWg3PqtHEN.jpg","genre_ids":[18,80],"id":40008,"origin_country":["US"],"original_language":"en","original_name":"Hannibal","overview":"Both a gift and a curse, Graham has the extraordinary ability to think like his prey—he sees what they see, feels what they feel. But while Graham is pursuing an especially troubling, cannibalistic murderer, Special Agent Jack Crawford teams him with a highly respected psychiatrist – a man with a taste for the criminal minded – Dr. Hannibal Lecter.","popularity":55.286,"poster_path":"/imzvb941su6uhQ158GGurk7vF28.jpg","first_air_date":"2013-04-04","name":"Hannibal","vote_average":8.222,"vote_count":2011},{"adult":false,"backdrop_path":"/2yDV0xLyqW88dn5qE7YCRnoYmfy.jpg","genre_ids":[18,10768],"id":4613,"origin_country":["US"],"original_language":"en","original_name":"Band of Brothers","overview":"Drawn from interviews with survivors of Easy Company, as well as their journals and letters, Band of Brothers chronicles the experiences of these men from paratrooper training in Georgia through the end of the war. As an elite rifle company parachuting into Normandy early on D-Day morning, participants in the Battle of the Bulge, and witness to the horrors of war, the men of Easy knew extraordinary bravery and extraordinary fear - and became the stuff of legend. Based on Stephen E. Ambrose''s acclaimed book of the same name.","popularity":56.008,"poster_path":"/pGzV187ogXzgJrvPRy2YPi29ofH.jpg","first_air_date":"2001-09-09","name":"Band of Brothers","vote_average":8.457,"vote_count":2956}],"total_pages":4,"total_results":68}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 1396
                          default: 0
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: US
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: Breaking Bad
                        overview:
                          type: string
                          example: When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family's financial future at any cost as he enters the dangerous world of drugs and crime.
                        popularity:
                          type: number
                          example: 292.904
                          default: 0
                        poster_path:
                          type: string
                          example: /ggFHVNu6YYI5L9pCfOacjizRGt.jpg
                        first_air_date:
                          type: string
                          example: '2008-01-20'
                        name:
                          type: string
                          example: Breaking Bad
                        vote_average:
                          type: number
                          example: 8.878
                          default: 0
                        vote_count:
                          type: integer
                          example: 11548
                          default: 0
                  total_pages:
                    type: integer
                    example: 4
                    default: 0
                  total_results:
                    type: integer
                    example: 68
                    default: 0
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/lists:
    get:
      summary: Lists
      description: Get a users list of custom lists.
      operationId: account-lists
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"description":"","favorite_count":0,"id":120174,"item_count":5,"iso_639_1":"en","list_type":"movie","name":"Test Alpha Sort","poster_path":null},{"description":"","favorite_count":0,"id":8221116,"item_count":4,"iso_639_1":"en","list_type":"movie","name":"Test List","poster_path":null},{"description":"Here''s a list of the films that take place in the DC Comics universe.","favorite_count":0,"id":3,"item_count":30,"iso_639_1":"en","list_type":"movie","name":"The DC Comics Universe","poster_path":"/4H1jWsgEQOgTs4KeG5j5BorKMfX.jpg"},{"description":"This is a test.","favorite_count":0,"id":8212330,"item_count":2,"iso_639_1":"en","list_type":"movie","name":"Test List #1","poster_path":null},{"description":"Just a UTF test list. 🍩 🐝","favorite_count":0,"id":7066467,"item_count":3,"iso_639_1":"en","list_type":"movie","name":"🚨 My Cool List!","poster_path":null},{"description":"The idea behind this list is to collect the live action comic book movies from within the Marvel franchise.","favorite_count":0,"id":1,"item_count":59,"iso_639_1":"en","list_type":"movie","name":"The Marvel Universe","poster_path":"/coJVIUEOToAEGViuhclM7pXC75R.jpg"},{"description":"Test description.","favorite_count":0,"id":136203,"item_count":2,"iso_639_1":"en","list_type":"movie","name":"Test From Trav''s Scripts","poster_path":null},{"description":"","favorite_count":0,"id":142798,"item_count":3,"iso_639_1":"en","list_type":"movie","name":"UFC Test","poster_path":null},{"description":"A list of the films that were nominated at the 2012 Oscars for best picture.","favorite_count":0,"id":2,"item_count":9,"iso_639_1":"en","list_type":"movie","name":"2012 Oscar Nominations for Best Picture - 84th Academy Awards","poster_path":"/zRqBleU93WncYnIwt8LAanQerZ7.jpg"},{"description":"Here are the films that have won for best drama at the Golden Globes.","favorite_count":0,"id":2469,"item_count":63,"iso_639_1":"en","list_type":"movie","name":"Best Picture Winners - The Golden Globes","poster_path":"/zkjL4XYZkbSKPYJgK1goBYS9EVN.jpg"},{"description":"Name pretty much says it all, here''s the top 50 grossing films of all time.","favorite_count":0,"id":10,"item_count":50,"iso_639_1":"en","list_type":"movie","name":"Top 50 Grossing Films of All Time (Worldwide)","poster_path":"/sRbZeVtRKIWybTOVpCRPZtzW5bd.jpg"},{"description":"A list of the films that were nominated at the 2013 Oscars for best picture.","favorite_count":0,"id":2278,"item_count":9,"iso_639_1":"en","list_type":"movie","name":"2013 Oscar Nominations for Best Picture - 85th Academy Awards","poster_path":"/AfyPUSSn7E75daZ3SfENRbA25h9.jpg"},{"description":"A list of the theatrical releases for Marvel''s Avengers characters that are in the latest Avengers movie.","favorite_count":0,"id":5,"item_count":10,"iso_639_1":"en","list_type":"movie","name":"The Avengers","poster_path":"/2i89ujVkhJebuoB2zy6QZcwbr2N.jpg"},{"description":"A list of the films that were nominated at the 2008 Oscars for best picture.","favorite_count":0,"id":27,"item_count":5,"iso_639_1":"en","list_type":"movie","name":"2008 Oscar Nominations for Best Picture - 80th Academy Awards","poster_path":"/nWwFabqFaBbukXdkUCmtnrFxPNh.jpg"},{"description":"The View Askewniverse is a fictional universe created by writer/director Kevin Smith, featured in several films, comics and a television series; it is named for Smith''s production company, View Askew Productions.","favorite_count":0,"id":15,"item_count":6,"iso_639_1":"en","list_type":"movie","name":"The View Askewniverse","poster_path":"/tGmU66LL8edoRm1RO7sbrz1xuhr.jpg"},{"description":"A list of the films that were nominated at the 2009 Oscars for best picture.","favorite_count":0,"id":9,"item_count":5,"iso_639_1":"en","list_type":"movie","name":"2009 Oscar Nominations for Best Picture - 81st Academy Awards","poster_path":"/gShtwIvdSHgCEQRZfymNkEUEwFm.jpg"},{"description":"A list of the films that were nominated at the 2016 Oscars for best picture.","favorite_count":0,"id":10291,"item_count":8,"iso_639_1":"en","list_type":"movie","name":"2016 Oscar Nominations for Best Picture - 88th Academy Awards","poster_path":null},{"description":"A list of the films that were nominated at the 2011 Oscars for best picture.","favorite_count":0,"id":4,"item_count":10,"iso_639_1":"en","list_type":"movie","name":"2011 Oscar Nominations for Best Picture - 83rd Academy Awards","poster_path":"/iAHDZPyLD3NW7GuNV6U1TVtb0hN.jpg"},{"description":"A list of the films that were nominated at the 2010 Oscars for best picture.","favorite_count":0,"id":8,"item_count":10,"iso_639_1":"en","list_type":"movie","name":"2010 Oscar Nominations for Best Picture - 82nd Academy Awards","poster_path":"/8iwe0iP49A6Gqcv31jBleZDZqI4.jpg"},{"description":"A list of the films that were nominated at the 2014 Oscars for best picture.","favorite_count":0,"id":10288,"item_count":9,"iso_639_1":"en","list_type":"movie","name":"2014 Oscar Nominations for Best Picture - 86th Academy Awards","poster_path":null}],"total_pages":2,"total_results":25}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          example: ''
                        favorite_count:
                          type: integer
                          example: 0
                          default: 0
                        id:
                          type: integer
                          example: 120174
                          default: 0
                        item_count:
                          type: integer
                          example: 5
                          default: 0
                        iso_639_1:
                          type: string
                          example: en
                        list_type:
                          type: string
                          example: movie
                        name:
                          type: string
                          example: Test Alpha Sort
                        poster_path: {}
                  total_pages:
                    type: integer
                    example: 2
                    default: 0
                  total_results:
                    type: integer
                    example: 25
                    default: 0
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/rated/movies:
    get:
      summary: Rated Movies
      description: Get a users list of rated movies.
      operationId: account-rated-movies
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/dUVbWINfRMGojGZRcO6GF1Z2nV8.jpg","genre_ids":[12,14,28],"id":120,"original_language":"en","original_title":"The Lord of the Rings: The Fellowship of the Ring","overview":"Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave his home in order to keep it from falling into the hands of its evil creator. Along the way, a fellowship is formed to protect the ringbearer and make sure that the ring arrives at its final destination: Mt. Doom, the only place where it can be destroyed.","popularity":84.737,"poster_path":"/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg","release_date":"2001-12-18","title":"The Lord of the Rings: The Fellowship of the Ring","video":false,"vote_average":8.396,"vote_count":22579,"rating":8.0},{"adult":false,"backdrop_path":"/YL3GPOiDcNraIJOVDCZsoOBoDy.jpg","genre_ids":[878,28,12,53],"id":106,"original_language":"en","original_title":"Predator","overview":"A team of elite commandos on a secret mission in a Central American jungle come to find themselves hunted by an extraterrestrial warrior.","popularity":62.969,"poster_path":"/k3mW4qfJo6SKqe6laRyNGnbB9n5.jpg","release_date":"1987-06-12","title":"Predator","video":false,"vote_average":7.491,"vote_count":6943,"rating":6.0},{"adult":false,"backdrop_path":"/dqK9Hag1054tghRQSqLSfrkvQnA.jpg","genre_ids":[18,28,80,53],"id":155,"original_language":"en","original_title":"The Dark Knight","overview":"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","popularity":83.151,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","release_date":"2008-07-14","title":"The Dark Knight","video":false,"vote_average":8.509,"vote_count":29582,"rating":9.0},{"adult":false,"backdrop_path":"/yzqaKAhglTrkeOfuIXYYArf0WnA.jpg","genre_ids":[16,10751],"id":12,"original_language":"en","original_title":"Finding Nemo","overview":"Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist''s office aquarium. It''s up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.","popularity":94.545,"poster_path":"/5lc6nQc0VhWFYFbNv016xze8Jvy.jpg","release_date":"2003-05-30","title":"Finding Nemo","video":false,"vote_average":7.822,"vote_count":17590,"rating":8.0},{"adult":false,"backdrop_path":"/ysKahAEPP8h6MInuLjr0xuZOTjh.jpg","genre_ids":[80,35],"id":107,"original_language":"en","original_title":"Snatch","overview":"Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers and supposedly Jewish jewelers fight to track down a priceless stolen diamond.","popularity":32.43,"poster_path":"/56mOJth6DJ6JhgoE2jtpilVqJO.jpg","release_date":"2000-09-01","title":"Snatch","video":false,"vote_average":7.803,"vote_count":7985,"rating":8.0},{"adult":false,"backdrop_path":"/8AE7M2lMsyvowfT36porzGtmOtI.jpg","genre_ids":[878,18,10749],"id":38,"original_language":"en","original_title":"Eternal Sunshine of the Spotless Mind","overview":"Joel Barish, heartbroken that his girlfriend underwent a procedure to erase him from her memory, decides to do the same. However, as he watches his memories of her fade away, he realises that he still loves her, and may be too late to correct his mistake.","popularity":36.729,"poster_path":"/5MwkWH9tYHv3mV9OdYTMR5qreIz.jpg","release_date":"2004-03-19","title":"Eternal Sunshine of the Spotless Mind","video":false,"vote_average":8.1,"vote_count":13294,"rating":9.0},{"adult":false,"backdrop_path":"/3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest Gump","overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","popularity":62.225,"poster_path":"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg","release_date":"1994-06-23","title":"Forrest Gump","video":false,"vote_average":8.5,"vote_count":24536,"rating":9.0},{"adult":false,"backdrop_path":"/xKb6mtdfI5Qsggc44Hr9CCUDvaj.jpg","genre_ids":[28,53,878],"id":280,"original_language":"en","original_title":"Terminator 2: Judgment Day","overview":"Nearly 10 years have passed since Sarah Connor was targeted for termination by a cyborg from the future. Now her son, John, the future leader of the resistance, is the target for a newer, more deadly terminator. Once again, the resistance has managed to send a protector back to attempt to save John and his mother Sarah.","popularity":66.674,"poster_path":"/5M0j0B18abtBI5gi2RhfjjurTqb.jpg","release_date":"1991-07-03","title":"Terminator 2: Judgment Day","video":false,"vote_average":8.096,"vote_count":11255,"rating":8.0},{"adult":false,"backdrop_path":"/8bQbejOvAKe78RXxpkfM04n0K18.jpg","genre_ids":[14,35],"id":310,"original_language":"en","original_title":"Bruce Almighty","overview":"Bruce Nolan toils as a ''human interest'' television reporter in Buffalo, N.Y., but despite his high ratings and the love of his beautiful girlfriend, Bruce remains unfulfilled. At the end of the worst day in his life, he angrily ridicules God—and the Almighty responds, endowing Bruce with all of His divine powers.","popularity":35.483,"poster_path":"/f0QqG14SZYYZcV4VWykVc5w13dz.jpg","release_date":"2003-05-23","title":"Bruce Almighty","video":false,"vote_average":6.7,"vote_count":9757,"rating":8.0},{"adult":false,"backdrop_path":"/lt1rGQSqhk2T2T4lHo6CTQYvoWP.jpg","genre_ids":[53,28,80],"id":187,"original_language":"en","original_title":"Sin City","overview":"Welcome to Sin City. This town beckons to the tough, the corrupt, the brokenhearted. Some call it dark… Hard-boiled. Then there are those who call it home — Crooked cops, sexy dames, desperate vigilantes. Some are seeking revenge, others lust after redemption, and then there are those hoping for a little of both. A universe of unlikely and reluctant heroes still trying to do the right thing in a city that refuses to care.","popularity":23.715,"poster_path":"/i66G50wATMmPrvpP95f0XP6ZdVS.jpg","release_date":"2005-04-01","title":"Sin City","video":false,"vote_average":7.437,"vote_count":7311,"rating":8.0},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","popularity":100.932,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The Godfather","video":false,"vote_average":8.712,"vote_count":17812,"rating":9.0},{"adult":false,"backdrop_path":"/wOfzdzC0QZyhUIlyjeMuUYSb8Ax.jpg","genre_ids":[18,10749],"id":289,"original_language":"en","original_title":"Casablanca","overview":"In Casablanca, Morocco in December 1941, a cynical American expatriate meets a former lover, with unforeseen complications.","popularity":17.927,"poster_path":"/5K7cOHoay2mZusSLezBOY0Qxh8a.jpg","release_date":"1942-11-26","title":"Casablanca","video":false,"vote_average":8.173,"vote_count":4695,"rating":8.0},{"adult":false,"backdrop_path":"/747dgDfL5d8esobk7h4odaOFhUq.jpg","genre_ids":[80,18,53],"id":275,"original_language":"en","original_title":"Fargo","overview":"Jerry, a small-town Minnesota car salesman is bursting at the seams with debt... but he''s got a plan. He''s going to hire two thugs to kidnap his wife in a scheme to collect a hefty ransom from his wealthy father-in-law. It''s going to be a snap and nobody''s going to get hurt... until people start dying. Enter Police Chief Marge, a coffee-drinking, parka-wearing - and extremely pregnant - investigator who''ll stop at nothing to get her man. And if you think her small-time investigative skills will give the crooks a run for their ransom... you betcha!","popularity":20.791,"poster_path":"/rt7cpEr1uP6RTZykBFhBTcRaKvG.jpg","release_date":"1996-03-08","title":"Fargo","video":false,"vote_average":7.87,"vote_count":7007,"rating":8.0},{"adult":false,"backdrop_path":"/bsaA9qtIR6VTDQykXdBzJc8V5rS.jpg","genre_ids":[12,14,9648],"id":675,"original_language":"en","original_title":"Harry Potter and the Order of the Phoenix","overview":"Returning for his fifth year of study at Hogwarts, Harry is stunned to find that his warnings about the return of Lord Voldemort have been ignored. Left with no choice, Harry takes matters into his own hands, training a small group of students to defend themselves against the dark arts.","popularity":118.896,"poster_path":"/5aOyriWkPec0zUDxmHFP9qMmBaj.jpg","release_date":"2007-06-28","title":"Harry Potter and the Order of the Phoenix","video":false,"vote_average":7.687,"vote_count":17658,"rating":8.0},{"adult":false,"backdrop_path":"/r1gEZd7BoXtLNEQSNMqfsMlMtIz.jpg","genre_ids":[12,28,18,53],"id":503,"original_language":"en","original_title":"Poseidon","overview":"A packed cruise ship traveling the Atlantic is hit and overturned by a massive wave, compelling the passengers to begin a dramatic fight for their lives.","popularity":22.847,"poster_path":"/cCx2Ead8KoZhHofsAAr7tyrjfDo.jpg","release_date":"2006-05-10","title":"Poseidon","video":false,"vote_average":5.848,"vote_count":1890,"rating":6.0},{"adult":false,"backdrop_path":"/eGhjeUbzttA3E4flxdAm8gHz4h4.jpg","genre_ids":[28,12,10752],"id":1271,"original_language":"en","original_title":"300","overview":"Based on Frank Miller''s graphic novel, \"300\" is very loosely based the 480 B.C. Battle of Thermopylae, where the King of Sparta led his army against the advancing Persians; the battle is said to have inspired all of Greece to band together against the Persians, and helped usher in the world''s first democracy.","popularity":49.667,"poster_path":"/9W49fy5G7v9Ed3CXtvMi41YqZtt.jpg","release_date":"2007-03-07","title":"300","video":false,"vote_average":7.17,"vote_count":12491,"rating":8.0}],"total_pages":47,"total_results":940}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /dUVbWINfRMGojGZRcO6GF1Z2nV8.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 12
                            default: 0
                        id:
                          type: integer
                          example: 120
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: 'The Lord of the Rings: The Fellowship of the Ring'
                        overview:
                          type: string
                          example: 'Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave his home in order to keep it from falling into the hands of its evil creator. Along the way, a fellowship is formed to protect the ringbearer and make sure that the ring arrives at its final destination: Mt. Doom, the only place where it can be destroyed.'
                        popularity:
                          type: number
                          example: 84.737
                          default: 0
                        poster_path:
                          type: string
                          example: /6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg
                        release_date:
                          type: string
                          example: '2001-12-18'
                        title:
                          type: string
                          example: 'The Lord of the Rings: The Fellowship of the Ring'
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 8.396
                          default: 0
                        vote_count:
                          type: integer
                          example: 22579
                          default: 0
                        rating:
                          type: integer
                          example: 8
                          default: 0
                  total_pages:
                    type: integer
                    example: 47
                    default: 0
                  total_results:
                    type: integer
                    example: 940
                    default: 0
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/rated/tv:
    get:
      summary: Rated TV
      description: Get a users list of rated TV shows.
      operationId: account-rated-tv
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/2yZXtM2Kky1Sy0kachbDlwybl3y.jpg","genre_ids":[10765,18,9648],"id":1705,"origin_country":["US"],"original_language":"en","original_name":"Fringe","overview":"FBI Special Agent Olivia Dunham, brilliant but formerly institutionalized scientist Walter Bishop and his scheming, reluctant son Peter uncover a deadly mystery involving a series of unbelievable events and realize they may be a part of a larger, more disturbing pattern that blurs the line between science fiction and technology.","popularity":151.906,"poster_path":"/sY9hg5dLJ93RJOyKEiu1nAtBRND.jpg","first_air_date":"2008-09-09","name":"Fringe","vote_average":8.109,"vote_count":2050,"rating":9.0},{"adult":false,"backdrop_path":"/dGzPJnh8YcUS4J10sNunohaXMVn.jpg","genre_ids":[37,80,18],"id":1406,"origin_country":["US"],"original_language":"en","original_name":"Deadwood","overview":"The story of the early days of Deadwood, South Dakota; woven around actual historic events with most of the main characters based on real people. Deadwood starts as a gold mining camp and gradually turns from a lawless wild-west community into an organized wild-west civilized town. The story focuses on the real-life characters Seth Bullock and Al Swearengen.","popularity":42.61,"poster_path":"/4Yp35DVbVOAWkfQUIQ7pbh3u0aN.jpg","first_air_date":"2004-03-21","name":"Deadwood","vote_average":8.095,"vote_count":670,"rating":8.0},{"adult":false,"backdrop_path":"/cyieN1P9Xo5SvLasSUT7SaAAzfy.jpg","genre_ids":[80,18],"id":1436,"origin_country":["US"],"original_language":"en","original_name":"Justified","overview":"A character drama based on the 2001 Elmore Leonard short story \"Fire in the Hole.\" Leonard''s tale centers around U.S. Marshal Raylan Givens of Kentucky, a quiet but strong-willed official of the law. The tale covers his high-stakes job, as well as his strained relationships with his ex-wife and father.","popularity":56.399,"poster_path":"/aVYuGDlOZMCRt89fAnHTYgk3BMr.jpg","first_air_date":"2010-03-16","name":"Justified","vote_average":7.961,"vote_count":558,"rating":8.0},{"adult":false,"backdrop_path":"/tMRdEsMg9MyXAkcufK9YJEeIaNW.jpg","genre_ids":[35],"id":1400,"origin_country":["US"],"original_language":"en","original_name":"Seinfeld","overview":"A stand-up comedian and his three offbeat friends weather the pitfalls and payoffs of life in New York City in the ''90s. It''s a show about nothing.","popularity":164.288,"poster_path":"/aCw8ONfyz3AhngVQa1E2Ss4KSUQ.jpg","first_air_date":"1989-07-05","name":"Seinfeld","vote_average":8.3,"vote_count":1557,"rating":9.0},{"adult":false,"backdrop_path":"/bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg","genre_ids":[18,80],"id":1396,"origin_country":["US"],"original_language":"en","original_name":"Breaking Bad","overview":"When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family''s financial future at any cost as he enters the dangerous world of drugs and crime.","popularity":292.904,"poster_path":"/ggFHVNu6YYI5L9pCfOacjizRGt.jpg","first_air_date":"2008-01-20","name":"Breaking Bad","vote_average":8.878,"vote_count":11548,"rating":10.0},{"adult":false,"backdrop_path":"/sAX6JOWZWJGhkvFRctSZIL556mp.jpg","genre_ids":[80,18],"id":1409,"origin_country":["US"],"original_language":"en","original_name":"Sons of Anarchy","overview":"An adrenalized drama with darkly comedic undertones that explores a notorious outlaw motorcycle club’s (MC) desire to protect its livelihood while ensuring that their simple, sheltered town of Charming, California remains exactly that, charming. The MC must confront threats from drug dealers, corporate developers, and overzealous law officers. Behind the MC’s familial lifestyle and legally thriving automotive shop is a ruthless and illegal arms business driven by the seduction of money, power, and blood.","popularity":119.662,"poster_path":"/kiy8BHtIHAslh81rvFcZ4wbNGdY.jpg","first_air_date":"2008-09-03","name":"Sons of Anarchy","vote_average":8.442,"vote_count":2437,"rating":8.5},{"adult":false,"backdrop_path":"/r9t9lblyPfudl0LV0Ujg1nXdKyW.jpg","genre_ids":[18,9648],"id":1408,"origin_country":["US"],"original_language":"en","original_name":"House","overview":"Dr. Gregory House, a drug-addicted, unconventional, misanthropic medical genius, leads a team of diagnosticians at the fictional Princeton–Plainsboro Teaching Hospital in New Jersey.","popularity":257.672,"poster_path":"/5rIQ3pTjWdZjNUJSJxn1T8MIvoG.jpg","first_air_date":"2004-11-16","name":"House","vote_average":8.607,"vote_count":5450,"rating":7.5},{"adult":false,"backdrop_path":"/8X1BTSaUyF5rc0malaaQovpxC3f.jpg","genre_ids":[35],"id":1418,"origin_country":["US"],"original_language":"en","original_name":"The Big Bang Theory","overview":"The sitcom is centered on five characters living in Pasadena, California: roommates Leonard Hofstadter and Sheldon Cooper; Penny, a waitress and aspiring actress who lives across the hall; and Leonard and Sheldon''s equally geeky and socially awkward friends and co-workers, mechanical engineer Howard Wolowitz and astrophysicist Raj Koothrappali. The geekiness and intellect of the four guys is contrasted for comic effect with Penny''s social skills and common sense.","popularity":134.048,"poster_path":"/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg","first_air_date":"2007-09-24","name":"The Big Bang Theory","vote_average":7.879,"vote_count":9899,"rating":7.0},{"adult":false,"backdrop_path":"/tK8eRUWVY8AVdDUPUxSzrmlLb0R.jpg","genre_ids":[10765,10759,18],"id":5148,"origin_country":["US"],"original_language":"en","original_name":"Stargate Universe","overview":"The adventures of a present-day, multinational exploration team traveling on the Ancient spaceship Destiny many billions of light years distant from the Milky Way Galaxy. They evacuated there and are now trying to figure out a way to return to Earth, while simultaneously trying to explore and to survive in their unknown area of the universe.","popularity":35.116,"poster_path":"/n23WMoa9y5TYPuKSQjPArpbHr9x.jpg","first_air_date":"2009-10-02","name":"Stargate Universe","vote_average":7.385,"vote_count":577,"rating":7.5},{"adult":false,"backdrop_path":"/x4lxFIhhrDI4nWtV8osnYwbGESV.jpg","genre_ids":[35],"id":1421,"origin_country":["US"],"original_language":"en","original_name":"Modern Family","overview":"The Pritchett-Dunphy-Tucker clan is a wonderfully large and blended family. They give us an honest and often hilarious look into the sometimes warm, sometimes twisted, embrace of the modern family.","popularity":231.798,"poster_path":"/fu5vEUHgxkAPmX26ISQXqHmlPMq.jpg","first_air_date":"2009-09-23","name":"Modern Family","vote_average":7.787,"vote_count":2159,"rating":9.0},{"adult":false,"backdrop_path":"/nVRyd8hlg0ZLxBn9RaI7mUMQLnz.jpg","genre_ids":[18,9648,10765],"id":1622,"origin_country":["US"],"original_language":"en","original_name":"Supernatural","overview":"When they were boys, Sam and Dean Winchester lost their mother to a mysterious and demonic supernatural force. Subsequently, their father raised them to be soldiers. He taught them about the paranormal evil that lives in the dark corners and on the back roads of America ... and he taught them how to kill it. Now, the Winchester brothers crisscross the country in their ''67 Chevy Impala, battling every kind of supernatural threat they encounter along the way. ","popularity":361.403,"poster_path":"/KoYWXbnYuS3b0GyQPkbuexlVK9.jpg","first_air_date":"2005-09-13","name":"Supernatural","vote_average":8.304,"vote_count":6650,"rating":8.0},{"adult":false,"backdrop_path":"/1dQHZhnej0acyQn5jlVb8NHDMDM.jpg","genre_ids":[18],"id":15621,"origin_country":["US"],"original_language":"en","original_name":"The Newsroom","overview":"A behind-the-scenes look at the people who make a nightly cable-news program. Focusing on a network anchor, his new executive producer, the newsroom staff and their boss, the series tracks their quixotic mission to do the news well in the face of corporate and commercial obstacles-not to mention their own personal entanglements.","popularity":22.784,"poster_path":"/2s6IPLtfw0GiMxlJznb1TkA6KXk.jpg","first_air_date":"2012-06-24","name":"The Newsroom","vote_average":8.119,"vote_count":485,"rating":8.5},{"adult":false,"backdrop_path":"/mCwQJqyuCFlbFyJR5sWg3PqtHEN.jpg","genre_ids":[18,80],"id":40008,"origin_country":["US"],"original_language":"en","original_name":"Hannibal","overview":"Both a gift and a curse, Graham has the extraordinary ability to think like his prey—he sees what they see, feels what they feel. But while Graham is pursuing an especially troubling, cannibalistic murderer, Special Agent Jack Crawford teams him with a highly respected psychiatrist – a man with a taste for the criminal minded – Dr. Hannibal Lecter.","popularity":55.286,"poster_path":"/imzvb941su6uhQ158GGurk7vF28.jpg","first_air_date":"2013-04-04","name":"Hannibal","vote_average":8.222,"vote_count":2011,"rating":9.0},{"adult":false,"backdrop_path":"/jBhcm0Rm5Uv1UaHt0TTWuRjG5G3.jpg","genre_ids":[9648,10759],"id":4607,"origin_country":["US"],"original_language":"en","original_name":"Lost","overview":"Stripped of everything, the survivors of a horrific plane crash  must work together to stay alive. But the island holds many secrets.","popularity":152.944,"poster_path":"/og6S0aTZU6YUJAbqxeKjCa3kY1E.jpg","first_air_date":"2004-09-22","name":"Lost","vote_average":7.968,"vote_count":3428,"rating":7.5},{"adult":false,"backdrop_path":"/2yDV0xLyqW88dn5qE7YCRnoYmfy.jpg","genre_ids":[18,10768],"id":4613,"origin_country":["US"],"original_language":"en","original_name":"Band of Brothers","overview":"Drawn from interviews with survivors of Easy Company, as well as their journals and letters, Band of Brothers chronicles the experiences of these men from paratrooper training in Georgia through the end of the war. As an elite rifle company parachuting into Normandy early on D-Day morning, participants in the Battle of the Bulge, and witness to the horrors of war, the men of Easy knew extraordinary bravery and extraordinary fear - and became the stuff of legend. Based on Stephen E. Ambrose''s acclaimed book of the same name.","popularity":56.008,"poster_path":"/pGzV187ogXzgJrvPRy2YPi29ofH.jpg","first_air_date":"2001-09-09","name":"Band of Brothers","vote_average":8.457,"vote_count":2956,"rating":9.0},{"adult":false,"backdrop_path":"/ogZMFPQbkv4gGYjVt9vA35eTpee.jpg","genre_ids":[80,18,35],"id":33400,"origin_country":["US"],"original_language":"en","original_name":"Terriers","overview":"Ex-cop and recovering alcoholic Hank Dolworth partners with his best friend, former criminal Britt Pollack, in an unlicensed private investigation business. The series is set in Ocean Beach, San Diego, California, although it is portrayed as a distinct town, with Dolworth having once been a member of the fictional Ocean Beach Police Department.","popularity":8.858,"poster_path":"/51T6VEO74kijlt2SDowGiiq0Cti.jpg","first_air_date":"2010-09-08","name":"Terriers","vote_average":8.135,"vote_count":78,"rating":8.0},{"adult":false,"backdrop_path":"/gNYLylxp5EzopGtIb4XqIzbLtNJ.jpg","genre_ids":[80,18],"id":1621,"origin_country":["US"],"original_language":"en","original_name":"Boardwalk Empire","overview":"Atlantic City at the dawn of Prohibition is a place where the rules don''t apply. And the man who runs things -- legally and otherwise -- is the town''s treasurer, Enoch \"Nucky\" Thompson, who is equal parts politician and gangster.","popularity":32.102,"poster_path":"/kL6SqlVPpfAof2nQbh1VxkUuXBQ.jpg","first_air_date":"2010-09-19","name":"Boardwalk Empire","vote_average":8.0,"vote_count":862,"rating":8.5},{"adult":false,"backdrop_path":"/7sJrNKwzyJWnFPFpDL9wnZ859LZ.jpg","genre_ids":[18,9648,80],"id":1415,"origin_country":["US"],"original_language":"en","original_name":"Elementary","overview":"A modern-day drama about a crime-solving duo that cracks the NYPD''s most impossible cases. Following his fall from grace in London and a stint in rehab, eccentric Sherlock escapes to Manhattan where his wealthy father forces him to live with his worst nightmare - a sober companion, Dr. Watson.","popularity":134.614,"poster_path":"/q9dObe29W4bDpgzUfOOH3ZnzDbR.jpg","first_air_date":"2012-09-27","name":"Elementary","vote_average":7.563,"vote_count":1406,"rating":7.0},{"adult":false,"backdrop_path":"/OylSdzVezjwGLYM0w73mUPNHM4.jpg","genre_ids":[35],"id":18347,"origin_country":["US"],"original_language":"en","original_name":"Community","overview":"Follow the lives of a group of students at what is possibly the world’s worst community college in the fictional locale of Greendale, Colorado.","popularity":75.864,"poster_path":"/3KUjDt8XY7w2Ku70UE0SECmv1zP.jpg","first_air_date":"2009-09-17","name":"Community","vote_average":7.957,"vote_count":1327,"rating":7.5},{"adult":false,"backdrop_path":"/qoauOMsZq2GXBxVj05Oga0IYPbX.jpg","genre_ids":[35],"id":1422,"origin_country":["US"],"original_language":"en","original_name":"The Middle","overview":"The daily mishaps of a married woman and her semi-dysfunctional family and their attempts to survive life in general in the city of Orson, Indiana.","popularity":129.786,"poster_path":"/7YwLY7Fg9BJU9qu9rrwaYbIc77c.jpg","first_air_date":"2009-09-30","name":"The Middle","vote_average":7.546,"vote_count":545,"rating":7.5}],"total_pages":15,"total_results":290}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /2yZXtM2Kky1Sy0kachbDlwybl3y.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 10765
                            default: 0
                        id:
                          type: integer
                          example: 1705
                          default: 0
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: US
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: Fringe
                        overview:
                          type: string
                          example: FBI Special Agent Olivia Dunham, brilliant but formerly institutionalized scientist Walter Bishop and his scheming, reluctant son Peter uncover a deadly mystery involving a series of unbelievable events and realize they may be a part of a larger, more disturbing pattern that blurs the line between science fiction and technology.
                        popularity:
                          type: number
                          example: 151.906
                          default: 0
                        poster_path:
                          type: string
                          example: /sY9hg5dLJ93RJOyKEiu1nAtBRND.jpg
                        first_air_date:
                          type: string
                          example: '2008-09-09'
                        name:
                          type: string
                          example: Fringe
                        vote_average:
                          type: number
                          example: 8.109
                          default: 0
                        vote_count:
                          type: integer
                          example: 2050
                          default: 0
                        rating:
                          type: integer
                          example: 9
                          default: 0
                  total_pages:
                    type: integer
                    example: 15
                    default: 0
                  total_results:
                    type: integer
                    example: 290
                    default: 0
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/rated/tv/episodes:
    get:
      summary: Rated TV Episodes
      description: Get a users list of rated TV episodes.
      operationId: account-rated-tv-episodes
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"air_date":"2013-10-17","episode_number":5,"id":64782,"name":"The Workplace Proximity","overview":"Amy starts working at Caltech which causes friction with Sheldon. Howard agrees with Sheldon who mentions this to Bernadette causing a big fight for the Wolowitzes.","production_code":"4X5305","runtime":22,"season_number":7,"show_id":1418,"still_path":"/k8atjbd5gAsntuhbPnFpvnvo0qn.jpg","vote_average":7.242,"vote_count":31,"rating":8.0},{"air_date":"2013-12-08","episode_number":11,"id":968782,"name":"Big Man in Tehran","overview":"Brody''s loyalty to the mission wavers when he meets a ghost from his past. As Lockhart''s confirmation looms, Saul stares into the precipice between success and failure.","production_code":"3WAH11","runtime":55,"season_number":3,"show_id":1407,"still_path":"/2JYvwe7HoEkn3BQhhHCyPzhqhh5.jpg","vote_average":8.0,"vote_count":23,"rating":9.0},{"air_date":"2014-03-23","episode_number":15,"id":973273,"name":"Dramatics, Your Honor","overview":"Alicia asks Cary to be her lawyer when Nelson Dubeck (Eric Bogosian) asks her to participate in a deposition; Will faces off with a new prosecutor while defending Jeffrey Grant (Hunter Parrish).","production_code":"","runtime":43,"season_number":5,"show_id":1435,"still_path":"/eGQg94nfM6EhKrxGA8A92SXe3WT.jpg","vote_average":8.2,"vote_count":11,"rating":9.0},{"air_date":"2014-05-11","episode_number":6,"id":63099,"name":"The Laws of Gods and Men","overview":"Stannis makes a deal with the Iron Bank of Braavos. Yara and her troops storm the Dreadfort to free Theon. Meanwhile, Daenerys meets Hizdar zo Loraq and her other supplicants. And the day of Tyrion''s trial has come where Tyrion faces his father.","production_code":"406","runtime":51,"season_number":4,"show_id":1399,"still_path":"/vKt9b7HNYhwM91C7S53zPsAWfT3.jpg","vote_average":9.0,"vote_count":133,"rating":8.5},{"air_date":"2014-05-18","episode_number":7,"id":63100,"name":"Mockingbird","overview":"Tyrion gains an unlikely ally; Daario asks Dany to allow him to do what he does best; Jon''s warnings about the vulnerability of the Wall are ignored; Brienne follows a new lead. ","production_code":"407","runtime":51,"season_number":4,"show_id":1399,"still_path":"/r7u0uELPyDkNnBZzAFVvw1XJKo5.jpg","vote_average":8.2,"vote_count":116,"rating":8.5},{"air_date":"2014-05-16","episode_number":12,"id":975339,"name":"Tome-wan","overview":"Bedelia returns and accepts immunity to testify against Hannibal. Mason Verger plots revenge after learning of Hannibal''s manipulations.","production_code":"212","runtime":43,"season_number":2,"show_id":40008,"still_path":"/pYsO5cXmjJGYUZWVDocBI3CIM6.jpg","vote_average":8.2,"vote_count":32,"rating":9.0},{"air_date":"2014-05-23","episode_number":13,"id":976285,"name":"Mizumono","overview":"Springing their trap, Jack, Will and Alana face off with Hannibal in a bloody final showdown, but the doctor has a few surprises of his own.","production_code":"213","runtime":43,"season_number":2,"show_id":40008,"still_path":"/40jqX3XRk6W97gscX5rj4kTy411.jpg","vote_average":9.0,"vote_count":47,"rating":10.0},{"air_date":"2014-06-01","episode_number":8,"id":63101,"name":"The Mountain and the Viper","overview":"Unexpected visitors arrive in Mole''s Town. With assistance from Theon, Ramsay proves himself to his father, Lord Bolton. Littlefinger''s motives are questioned when Sansa reveals the fate of Lysa Arryn to other lords of the Vale. Daenerys finds out a secret about Jorah Mormont. Tyrion''s fate is decided.","production_code":"408","runtime":53,"season_number":4,"show_id":1399,"still_path":"/exdPjUiilNFUV8uUSiBBhsanAwa.jpg","vote_average":8.9,"vote_count":141,"rating":9.5},{"air_date":"2013-09-29","episode_number":16,"id":62161,"name":"Felina","overview":"All bad things must come to an end.","production_code":"","runtime":56,"season_number":5,"show_id":1396,"still_path":"/pA0YwyhvdDXP3BEGL2grrIhq8aM.jpg","vote_average":9.2,"vote_count":172,"rating":9.0},{"air_date":"2014-07-13","episode_number":1,"id":989249,"name":"Night Zero","overview":"When a plane lands in New York City with everyone on board dead, Dr. Ephraim Goodweather, head of the CDC’s Canary Project, and his team are called upon to investigate. Harlem pawnbroker Abraham Setrakian races to the airport, convinced that what looks at first like a mysterious viral outbreak might be the beginning of something infinitely more sinister.","production_code":"XSN01001","runtime":44,"season_number":1,"show_id":47640,"still_path":"/18fgFoUhfDW4PVNOnwonaRXMJMe.jpg","vote_average":7.6,"vote_count":35,"rating":7.5},{"air_date":"2014-06-19","episode_number":1,"id":976915,"name":"Running with the Bull","overview":"Daniel’s family fears he won’t recover from his injuries and his attackers will escape justice. Judy Dean shows Bobby some unexpected affection. Ted, Jr. hides a shameful secret from his wife. Sheriff Daggett investigates Daniel’s beating.","production_code":"","runtime":47,"season_number":2,"show_id":46619,"still_path":"/8fpa0GjYpSaAaEI5f2JiP1dkrqc.jpg","vote_average":8.7,"vote_count":9,"rating":9.0},{"air_date":"2014-08-24","episode_number":9,"id":990362,"name":"The Garveys at Their Best","overview":"Kevin tries to suppress his bad habits while tracking down a marauding deer in Mapleton. Laurie receives not-unexpected news amidst a rising sense of foreboding. Tom connects with his past, against his better judgment. Nora has a job interview; Kevin Senior receives an honor.","production_code":"4X5709","runtime":60,"season_number":1,"show_id":54344,"still_path":"/gGLWdy0ac2OryUwfGd3y0TiHTpD.jpg","vote_average":8.5,"vote_count":20,"rating":9.0},{"air_date":"2012-07-15","episode_number":1,"id":62147,"name":"Live Free or Die","overview":"As Walt deals with the aftermath of the Casa Tranquila explosion, Hank works to wrap up his investigation of Gus'' empire.","production_code":"","runtime":43,"season_number":5,"show_id":1396,"still_path":"/uShB5dWoA3xIivZ9jvwWnGCVvt4.jpg","vote_average":8.6,"vote_count":122,"rating":8.0},{"air_date":"2012-08-26","episode_number":7,"id":62153,"name":"Say My Name","overview":"Walt takes control of business matters; Mike deals with the consequences of his actions.","production_code":"","runtime":48,"season_number":5,"show_id":1396,"still_path":"/2NA7ti9jsWnG4xreMEFwbq4DH1f.jpg","vote_average":8.9,"vote_count":117,"rating":8.5},{"air_date":"2015-03-01","episode_number":1,"id":1022053,"name":"The Battle Creek Way","overview":"Jaded Det. Russ Agnew reluctantly partners with charming FBI Agent Milt Chamberlain to solve a drug-related double homicide, but while Milt investigates with the high-tech resources of the FBI, Russ prefers old-school police work and instinct.","production_code":"101","runtime":60,"season_number":1,"show_id":61676,"still_path":"/d7i0ChoPXU4VbdFWCNtFOqTZTk8.jpg","vote_average":7.4,"vote_count":7,"rating":8.0},{"air_date":"2015-02-23","episode_number":16,"id":1039439,"name":"The Wrong Stuff","overview":"When an astronaut, training for a trip to Mars, is mysteriously killed inside a Mars simulation, Castle and Beckett don spacesuits to investigate. But when they discover no one inside the sealed simulation could have committed the murder and no one from the outside could get in, the case takes a shocking turn","production_code":"716","runtime":45,"season_number":7,"show_id":1419,"still_path":"/kg0beAZYaaLVsP3mMxVnwDcG1f8.jpg","vote_average":7.5,"vote_count":13,"rating":8.0},{"air_date":"2015-04-10","episode_number":13,"id":1036361,"name":"Daredevil","overview":"In the season finale, a boxed-in Fisk and a desperate Murdock, Foggy and Karen are forced to play their end games.","production_code":"","runtime":57,"season_number":1,"show_id":61889,"still_path":"/nSCJMlJkGULVKHuisKeH9Crguy8.jpg","vote_average":8.4,"vote_count":75,"rating":9.5},{"air_date":"2015-03-20","episode_number":1,"id":1040171,"name":"Part 1","overview":"Trouble starts when oldest son Danny Rayburn comes home for the 45th anniversary celebration of his parents'' hotel in the Florida Keys'' Islamorada.","production_code":"","runtime":60,"season_number":1,"show_id":61986,"still_path":"/qfMRZLmVPm6ubFC1NxSVRm7RLnq.jpg","vote_average":7.7,"vote_count":14,"rating":8.5},{"air_date":"2015-05-31","episode_number":8,"id":1070282,"name":"Hardhome","overview":"Arya makes progress in her training. Sansa confronts an old friend. Cersei struggles. Jon travels.","production_code":"508","runtime":61,"season_number":5,"show_id":1399,"still_path":"/zIrSrXU4zOArlVYnXFxxfKDYYY2.jpg","vote_average":9.3,"vote_count":170,"rating":10.0},{"air_date":"2011-04-17","episode_number":1,"id":63056,"name":"Winter Is Coming","overview":"Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon''s place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.","production_code":"101","runtime":62,"season_number":1,"show_id":1399,"still_path":"/9hGF3WUkBf7cSjMg0cdMDHJkByd.jpg","vote_average":7.8,"vote_count":285,"rating":9.0}],"total_pages":10,"total_results":186}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        air_date:
                          type: string
                          example: '2013-10-17'
                        episode_number:
                          type: integer
                          example: 5
                          default: 0
                        id:
                          type: integer
                          example: 64782
                          default: 0
                        name:
                          type: string
                          example: The Workplace Proximity
                        overview:
                          type: string
                          example: Amy starts working at Caltech which causes friction with Sheldon. Howard agrees with Sheldon who mentions this to Bernadette causing a big fight for the Wolowitzes.
                        production_code:
                          type: string
                          example: 4X5305
                        runtime:
                          type: integer
                          example: 22
                          default: 0
                        season_number:
                          type: integer
                          example: 7
                          default: 0
                        show_id:
                          type: integer
                          example: 1418
                          default: 0
                        still_path:
                          type: string
                          example: /k8atjbd5gAsntuhbPnFpvnvo0qn.jpg
                        vote_average:
                          type: number
                          example: 7.242
                          default: 0
                        vote_count:
                          type: integer
                          example: 31
                          default: 0
                        rating:
                          type: integer
                          example: 8
                          default: 0
                  total_pages:
                    type: integer
                    example: 10
                    default: 0
                  total_results:
                    type: integer
                    example: 186
                    default: 0
      deprecated: false
      tags:
      - Account
  /3/account/{account_id}/watchlist/movies:
    get:
      summary: Watchlist Movies
      description: Get a list of movies added to a users watchlist.
      operationId: account-watchlist-movies
      parameters:
      - name: account_id
        in: path
        schema:
          type: integer
          format: int32
          default: null
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: session_id
        in: query
        schema:
          type: string
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rgNzvSagnlc32TuMEBa529QFIig.jpg","genre_ids":[878,18,53],"id":76726,"original_language":"en","original_title":"Chronicle","overview":"Three high school students make an incredible discovery, leading to their developing uncanny powers beyond their understanding. As they learn to control their abilities and use them to their advantage, their lives start to spin out of control, and their darker sides begin to take over.","popularity":37.148,"poster_path":"/xENglsVIIWEEhhB5lgpy33tGcKI.jpg","release_date":"2012-02-01","title":"Chronicle","video":false,"vote_average":6.822,"vote_count":4741},{"adult":false,"backdrop_path":"/q5zTYYhgRtUgB9MORq6TohCzxV3.jpg","genre_ids":[28,18,53],"id":70435,"original_language":"en","original_title":"Haywire","overview":"A black ops soldier seeks payback after she is betrayed and left for dead.","popularity":18.699,"poster_path":"/iI3KOQOyTMJgxccs50zjxn3R7DF.jpg","release_date":"2011-11-01","title":"Haywire","video":false,"vote_average":5.676,"vote_count":1190},{"adult":false,"backdrop_path":"/v63E5H5TD7Eay1gZPVt9ibP9riy.jpg","genre_ids":[14,28,27],"id":52520,"original_language":"en","original_title":"Underworld: Awakening","overview":"Having escaped years of imprisonment, vampire warrioress Selene finds herself in a changed world where humans have discovered the existence of both Vampire and Lycan clans and are conducting an all-out war to eradicate both immortal species. Now Selene must battle the humans and a frightening new breed of super Lycans to ensure the death dealers'' survival.","popularity":49.928,"poster_path":"/jN0uuc8U6M3sTg9zEaliJV60Stf.jpg","release_date":"2012-01-19","title":"Underworld: Awakening","video":false,"vote_average":6.298,"vote_count":3689},{"adult":false,"backdrop_path":"/c7JgVgsF2qMp2UbCr9mCx85CIZo.jpg","genre_ids":[14,28,53],"id":12437,"original_language":"en","original_title":"Underworld: Rise of the Lycans","overview":"A prequel to the first two Underworld films, this fantasy explains the origins of the feud between the Vampires and the Lycans. Aided by his secret love, Sonja, courageous Lucian leads the Lycans in battle against brutal Vampire king Viktor. Determined to break the king''s enslavement of his people, Lucian faces off against the Death Dealer army in a bid for Lycan independence.","popularity":32.477,"poster_path":"/yW9gF7rGn8EoV8B8rxOx1xjxVZf.jpg","release_date":"2009-01-22","title":"Underworld: Rise of the Lycans","video":false,"vote_average":6.5,"vote_count":3228},{"adult":false,"backdrop_path":"/yMAqgJyxLm7wqeuQOr3J6FlIHxf.jpg","genre_ids":[12,16,9648],"id":17578,"original_language":"en","original_title":"The Adventures of Tintin","overview":"Intrepid young reporter, Tintin, and his loyal dog, Snowy, are thrust into a world of high adventure when they discover a ship carrying an explosive secret. As Tintin is drawn into a centuries-old mystery, Ivan Ivanovitch Sakharine suspects him of stealing a priceless treasure. Tintin and Snowy, with the help of salty, cantankerous Captain Haddock and bumbling detectives, Thompson and Thomson, travel half the world, one step ahead of their enemies, as Tintin endeavors to find the Unicorn, a sunken ship that may hold a vast fortune, but also an ancient curse.","popularity":24.56,"poster_path":"/mKYkNro2btaWMsnYSuyqrBdHQo3.jpg","release_date":"2011-10-24","title":"The Adventures of Tintin","video":false,"vote_average":6.875,"vote_count":4885},{"adult":false,"backdrop_path":"/kXRskNzFiTxi5xwsM6hDmOTGae7.jpg","genre_ids":[28,53],"id":59961,"original_language":"en","original_title":"Safe House","overview":"A dangerous CIA renegade resurfaces after a decade on the run. When the safe house he''s remanded to is attacked by mercenaries, a rookie operative escapes with him. Now, the unlikely allies must stay alive long enough to uncover who wants them dead.","popularity":20.431,"poster_path":"/7SYBPjv5ywF6cI4BSFFtlDyChT2.jpg","release_date":"2012-02-08","title":"Safe House","video":false,"vote_average":6.4,"vote_count":3185},{"adult":false,"backdrop_path":"/krDjqWqLAewVYiU8fDQLHO7gPmf.jpg","genre_ids":[18,14],"id":8967,"original_language":"en","original_title":"The Tree of Life","overview":"The impressionistic story of a Texas family in the 1950s. The film follows the life journey of the eldest son, Jack, through the innocence of childhood to his disillusioned adult years as he tries to reconcile a complicated relationship with his father. Jack finds himself a lost soul in the modern world, seeking answers to the origins and meaning of life while questioning the existence of faith.","popularity":14.837,"poster_path":"/l8cwuB5WJSoj4uMAsnzuHBOMaSJ.jpg","release_date":"2011-05-17","title":"The Tree of Life","video":false,"vote_average":6.729,"vote_count":2758},{"adult":false,"backdrop_path":"/kx2YVkcsnTnmF9XGTAj2NqEcHFG.jpg","genre_ids":[28,53,878],"id":49530,"original_language":"en","original_title":"In Time","overview":"In the not-too-distant future the aging gene has been switched off. To avoid overpopulation, time has become the currency and the way people pay for luxuries and necessities. The rich can live forever, while the rest try to negotiate for their immortality. A poor young man who comes into a fortune of time, though too late to help his mother from dying. He ends up on the run from a corrupt police force known as ''time keepers''.","popularity":75.086,"poster_path":"/kyuXWPU7KLGD6yIfhCVk59LF0KN.jpg","release_date":"2011-10-27","title":"In Time","video":false,"vote_average":6.952,"vote_count":10227},{"adult":false,"backdrop_path":"/sA9sYbLUE1grGKh5q5SHgPaZS72.jpg","genre_ids":[28,53,80],"id":49527,"original_language":"en","original_title":"Man on a Ledge","overview":"An ex-cop turned con threatens to jump to his death from a Manhattan hotel rooftop. The NYPD dispatch a female police psychologist to talk him down. However, unbeknownst to the police on the scene, the suicide attempt is a cover for the biggest diamond heist ever pulled.","popularity":22.56,"poster_path":"/fn75crX6sRcKRc7lhuqKTenppQE.jpg","release_date":"2012-01-13","title":"Man on a Ledge","video":false,"vote_average":6.423,"vote_count":2331},{"adult":false,"backdrop_path":"/7UjEgarkL9pKjXbJDfxx85Ws0ur.jpg","genre_ids":[28,53,80,18],"
[...]
