openapi: 3.2.0
info:
  title: tmdb-api Account Search API
  version: '3'
servers:
- url: https://api.themoviedb.org
security:
- sec0: []
tags:
- name: Search
paths:
  /3/search/collection:
    get:
      summary: Collection
      description: Search for collections by their original, translated and alternative names.
      operationId: search-collection
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: include_adult
        in: query
        schema:
          type: boolean
          default: false
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: region
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/zuW6fOiusv4X9nnW3paHGfXcSll.jpg","id":86311,"name":"The Avengers Collection","original_language":"en","original_name":"The Avengers Collection","overview":"A superhero film series produced by Marvel Studios based on the Marvel Comics superhero team of the same name, and part of the Marvel Cinematic Universe (MCU).  The series features an ensemble cast from the Marvel Cinematic Universe series films, as they join forces for the peacekeeping organization S.H.I.E.L.D. led by Nick Fury.","poster_path":"/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg"}],"total_pages":1,"total_results":1}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /zuW6fOiusv4X9nnW3paHGfXcSll.jpg
                        id:
                          type: integer
                          example: 86311
                          default: 0
                        name:
                          type: string
                          example: The Avengers Collection
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: The Avengers Collection
                        overview:
                          type: string
                          example: A superhero film series produced by Marvel Studios based on the Marvel Comics superhero team of the same name, and part of the Marvel Cinematic Universe (MCU).  The series features an ensemble cast from the Marvel Cinematic Universe series films, as they join forces for the peacekeeping organization S.H.I.E.L.D. led by Nick Fury.
                        poster_path:
                          type: string
                          example: /yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
      tags:
      - Search
  /3/search/company:
    get:
      summary: Company
      description: Search for companies by their original and alternative names.
      operationId: search-company
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"id":3268,"logo_path":"/tuomPhY2UtuPTqqFnKMVHvSb724.png","name":"HBO","origin_country":"US"},{"id":142414,"logo_path":"/tC3oVZvqpwhAG1uSjpMnmj4nW3O.png","name":"HBO Asia","origin_country":"SG"},{"id":143571,"logo_path":null,"name":"HBO Showcase","origin_country":""},{"id":14914,"logo_path":"/1RZBWz53SpHUTLpRcM8BGv2plIP.png","name":"HBO Documentary Films","origin_country":"US"},{"id":119349,"logo_path":null,"name":"HBO Central Europe","origin_country":""},{"id":48582,"logo_path":"/tyoN6zoxMJ71GBddxVkk4dpaeze.png","name":"HBO Europe","origin_country":""},{"id":147188,"logo_path":null,"name":"HBO / Cinemax","origin_country":""},{"id":7429,"logo_path":"/6in9uMqxXEHx5XgYgkeRBpZ4rPw.png","name":"HBO Films","origin_country":"US"},{"id":158691,"logo_path":"/s5ELD35ShWgVKQxgERHM2iP5bXA.png","name":"HBO Max","origin_country":"US"},{"id":21222,"logo_path":"/baMruKL2uRhJ1Soi4flSHVzXIH2.png","name":"HBO Independent Productions","origin_country":"US"},{"id":27289,"logo_path":null,"name":"HBO Bulgaria","origin_country":""},{"id":128608,"logo_path":null,"name":"H-Bomb Films","origin_country":""},{"id":89525,"logo_path":null,"name":"HBO Family","origin_country":""},{"id":37659,"logo_path":"/zfouUSOEq718TbB9YqN9OylPtD7.png","name":"HBO Polska","origin_country":"PL"},{"id":136561,"logo_path":"/mReKmOZLemFcWlMocCwiq3XbsbB.png","name":"HBO Europe","origin_country":"CZ"},{"id":44618,"logo_path":"/vh38lPSFvesAuOQ8r5TrUT9Vur5.png","name":"HBO Latin America","origin_country":""},{"id":67207,"logo_path":null,"name":"HBO Downtown Productions","origin_country":""},{"id":11489,"logo_path":null,"name":"HBO/Cinemax Documentary","origin_country":""},{"id":13670,"logo_path":null,"name":"HBO Romania","origin_country":"RO"},{"id":6751,"logo_path":"/giPzzhPdiNloiuwo7qLagRn5uGH.png","name":"HBO Sports","origin_country":"US"}],"total_pages":2,"total_results":22}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3268
                          default: 0
                        logo_path:
                          type: string
                          example: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                        name:
                          type: string
                          example: HBO
                        origin_country:
                          type: string
                          example: US
                  total_pages:
                    type: integer
                    example: 2
                    default: 0
                  total_results:
                    type: integer
                    example: 22
                    default: 0
      deprecated: false
      tags:
      - Search
  /3/search/keyword:
    get:
      summary: Keyword
      description: Search for keywords by their name.
      operationId: search-keyword
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"id":262419,"name":"lost"},{"id":5930,"name":"getting lost"},{"id":249351,"name":"lost wallet"},{"id":213077,"name":"lost youth"},{"id":41309,"name":"lost of friend"},{"id":215483,"name":"lost daughter"},{"id":251248,"name":"paradise lost"},{"id":215583,"name":"lost colony"},{"id":215678,"name":"partially lost film"},{"id":163088,"name":"lost tribe"},{"id":222130,"name":"lost continent"},{"id":223620,"name":"lost in the woods"},{"id":169953,"name":"lost treasure"},{"id":170333,"name":"innocence lost"},{"id":225280,"name":"partly lost"},{"id":227948,"name":"lost children"},{"id":288632,"name":"lost girl"},{"id":179553,"name":"lost pet"},{"id":179578,"name":"lost at sea"},{"id":181429,"name":"lost film"}],"total_pages":5,"total_results":84}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 262419
                          default: 0
                        name:
                          type: string
                          example: lost
                  total_pages:
                    type: integer
                    example: 5
                    default: 0
                  total_results:
                    type: integer
                    example: 84
                    default: 0
      deprecated: false
      tags:
      - Search
  /3/search/movie:
    get:
      summary: Movie
      description: Search for movies by their original, translated and alternative titles.
      operationId: search-movie
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: include_adult
        in: query
        schema:
          type: boolean
          default: false
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: primary_release_year
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: region
        in: query
        schema:
          type: string
      - name: year
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg","genre_ids":[18,53,35],"id":550,"original_language":"en","original_title":"Fight Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.","popularity":73.433,"poster_path":"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg","release_date":"1999-10-15","title":"Fight Club","video":false,"vote_average":8.433,"vote_count":26279},{"adult":false,"backdrop_path":"/1VqE5z4VIOcNcajJuHLk4fDkY9G.jpg","genre_ids":[28,27],"id":289732,"original_language":"zh","original_title":"屍城","overview":"It''s the end of the century at a corner of the city in a building riddled with crime - Everyone in the building has turned into zombies. After Jenny''s boyfriend is killed in a zombie attack, she faces the challenge of surviving in the face of adversity. In order to stay alive, she struggles with Andy to flee danger.","popularity":15.263,"poster_path":"/u8u3KVq0qfJYmNDsaTVOXy4So6f.jpg","release_date":"2014-10-23","title":"Zombie Fight Club","video":false,"vote_average":4.721,"vote_count":52},{"adult":false,"backdrop_path":null,"genre_ids":[35,18],"id":323667,"original_language":"ru","original_title":"Вставай и бейся","overview":"Intertwined stories from the gladiator/athletes participating to the Calcio Storico Fiorentino yearly championship.","popularity":2.744,"poster_path":"/rPCOC0myV3Vr7nYGMAOAOpUXgH3.jpg","release_date":"2015-06-21","title":"Florence Fight Club","video":false,"vote_average":5.722,"vote_count":9},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":973534,"original_language":"ru","original_title":"Бойцовский клуб (русская версия)","overview":"The Russian version of the movie \"Fight Club\" is not just a Russian version of a well-known cult film, it is the result and of the hard work of two young men and their love for cinema, Alexander Kukhar (GOLOBON-TV) and Dmitry Ivanov (GRIZLIK FILM) , who are responsible for this project, from the development of its idea and the selection of the cast, to the organization of filming and financial support.  Filming lasted a whole year. Everyday work, constant trips, searching for suitable film sets and an exhausting schedule - all this was not in vain and resulted in an unusually amazing and original project - the film \"Fight Club\", created in the very heart of southern Russia, in the city of Krasnodar, by two young people","popularity":0.874,"poster_path":null,"release_date":"","title":"Fight Club (Russian version)","video":false,"vote_average":7.4,"vote_count":6},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":883656,"original_language":"en","original_title":"GCW Fight Club","overview":"GCW presents Fight Club straight from the Showboat Hotel in Atlantic City, NJ! The event features the GCW World Championship match where Mox defends against Gage in a match that we have been waiting for during the last decade. Who will be the new GCW World Champion?","popularity":1.953,"poster_path":"/a9RWdhRLyx3BqCjlwmZJHXyeMkR.jpg","release_date":"2021-10-09","title":"GCW Fight Club","video":true,"vote_average":6.5,"vote_count":5},{"adult":false,"backdrop_path":null,"genre_ids":[28],"id":347807,"original_language":"hi","original_title":"Fight Club: Members Only","overview":"Four friends head off to Bombay and get involved in the mother and father of all gang wars.","popularity":2.26,"poster_path":"/aXFmWfWYCCxQTkCn7K86RvDiMHZ.jpg","release_date":"2006-02-17","title":"Fight Club: Members Only","video":false,"vote_average":4.5,"vote_count":12},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":259016,"original_language":"en","original_title":"Insane Fight Club","overview":"A group of friends have created a brand new subculture that is taking over the streets of Glasgow. They''ve established their very own fight club, but this is no ordinary wrestling event - this is brutal, riotous chaos. Fights don''t always stay inside the ring, people are bounced off the side of buses and thrown off balconies in pubs. They now plan the biggest show of their lives. The stakes are high, will it bring them the fame and recognition they need to survive?","popularity":1.614,"poster_path":null,"release_date":"2014-03-11","title":"Insane Fight Club","video":false,"vote_average":4.333,"vote_count":3},{"adult":false,"backdrop_path":null,"genre_ids":[28,18,80],"id":51021,"original_language":"en","original_title":"Lure: Teen Fight Club","overview":"A community is under siege as three Belmont Highschool coed students go missing with no trace of their whereabouts. The pressure is on the police to capture the culprits responsible. Scouring the school hallways in search of clues, undercover female detective Maggie Rawdon (Jessica Sonnerborn) enters Belmont High as a transfer student in an attempt to solve the hideous disappearance of the students. Maggie makes a few new friends, and gets invited to a private rave in the country. Just as the group begins to suspect that they''ve taken a wrong turn, however, the trap is sprung and Maggie finds out firsthand what fate has befallen the missing girls.","popularity":0.983,"poster_path":"/ipl6NdM0LwyakzLH9gKBDn8YhmZ.jpg","release_date":"2010-11-16","title":"Lure: Teen Fight Club","video":false,"vote_average":5.556,"vote_count":9},{"adult":false,"backdrop_path":null,"genre_ids":[28,99,12],"id":104782,"original_language":"it","original_title":"Florence Fight Club","overview":"Four men decided to enter in the oldest Fight Club of the History, The Florentine Football tournament. A father and son, a black guy, an old champion and outsider clerk will enter in an arena of the time to win their fears, to go over their limits, to be heroes for a day.","popularity":0.6,"poster_path":null,"release_date":"2010-01-01","title":"Florence Fight Club","video":false,"vote_average":7.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":532155,"original_language":"en","original_title":"Musangwe: Fight Club","overview":"The first rule is that there are no rules. For the bare-knuckle combatants competing in Musangwe fights, anything goes - you can even put a curse on him. The sport, which dates back centuries, has become a South African institution. Any male from the age of nine to ninety can compete. We follow a group of fighters as they slug it out in the ring. Who will be this year''s champion?","popularity":0.6,"poster_path":"/tZDxttt0LfgAKwvLIWyOO3fr01c.jpg","release_date":"2007-10-01","title":"Musangwe: Fight Club","video":false,"vote_average":6.25,"vote_count":4},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":289100,"original_language":"en","original_title":"Girls Fight Club","overview":"The best women''s wrestling competition of all time...and if you think it''s fake you''re in for a big surprise See LEGENDARY Mixed Martial Arts fighters coach their teams to victory in the cage! aka Chuck Lidell''s Girl''s Fight Club","popularity":0.6,"poster_path":null,"release_date":"2009-06-18","title":"Girls Fight Club","video":false,"vote_average":5.25,"vote_count":2},{"adult":false,"backdrop_path":"/lBENxZ1nmHXkTKV0AJu1agnW8Mg.jpg","genre_ids":[],"id":877672,"original_language":"en","original_title":"Superhero Fight Club","overview":"Oliver introduces Barry to his own little fight club which features such members as Roy Harper, Laurel Lance, Malcolm Merlyn and Ra''s Al Ghul.","popularity":0.6,"poster_path":"/riAUCTb0NBakJxlBMB801gQlF1j.jpg","release_date":"2015-04-13","title":"Superhero Fight Club","video":false,"vote_average":6.375,"vote_count":9},{"adult":false,"backdrop_path":"/z8MzErK9gYLHgvqYKMapqk7rqyZ.jpg","genre_ids":[],"id":877673,"original_language":"en","original_title":"Superhero Fight Club 2.0","overview":"Barry and Oliver introduce Supergirl to the new fight club, Felicity and Cisco applying additional features to the fight in which The Flash, Green Arrow, Supergirl, White Canary, Firestorm and Atom need to fight to stay alive.","popularity":0.632,"poster_path":"/edt0iegDlAqPddRunIixcpNsja4.jpg","release_date":"2016-09-29","title":"Superhero Fight Club 2.0","video":false,"vote_average":6.5,"vote_count":6},{"adult":false,"backdrop_path":null,"genre_ids":[16,35],"id":615408,"original_language":"en","original_title":"Fight Club But With Tennis And No Fight","overview":"Drama descends upon two tennis-obsessed women as the tension moves from off the court and into the café.","popularity":0.6,"poster_path":"/8pEQqVtSpgCtb7dzhR55EO1dC3l.jpg","release_date":"2019-07-13","title":"Fight Club But With Tennis And No Fight","video":false,"vote_average":7.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":969532,"original_language":"en","original_title":"GCW: Fight Club Houston","overview":"On July 9th GCW presents Fight Club Houston straight from Premier Arena in Houston, Texas. The lineup is almost completed, check it below:  AJ Gray vs Bryan Keith  Nick Gage vs Sadika  Joey Janela vs Dante  Ninja Mack vs Jack Cartwheel  Effy vs Gino  Jimmy Lloyd vs Carter  Lucha Scramble  .... more to be added soon!","popularity":0.6,"poster_path":"/353CATo61TQERENVF6AqIqhUD51.jpg","release_date":"2021-07-09","title":"GCW: Fight Club Houston","video":true,"vote_average":5.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":944789,"original_language":"en","original_title":"Leopard Fight Club","overview":"Witness a remarkable coming-of-age story as we track a young leopard''s journey from rookie to royalty in South Africa''s lethal Big Five landscape. When we first meet Jack, he''s clumsy, fearful, and weak, but he''s a fast learner - and he''ll need to be. He''s destined for a showdown with the area''s current leopard monarch, an alpha male with a real mean streak. We follow Jack as he hones his skills and builds up muscle for the ultimate catfight. It''s a battle where only the winner will walk out alive.","popularity":0.6,"poster_path":"/pNhu0kvxvBJhpzDEwKf9Zdphbfg.jpg","release_date":"","title":"Leopard Fight Club","video":false,"vote_average":6.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":151912,"original_language":"en","original_title":"Jurassic Fight Club","overview":"Jurassic Fight Club, a paleontology-based miniseries that ran for 12 episodes, depicts how prehistoric beasts hunted their prey, dissecting these battles and uncovering a predatory world far more calculated and complex than originally thought. It was hosted by George Blasing, a self-taught paleontologist.","popularity":0.742,"poster_path":null,"release_date":"2008-10-22","title":"Jurassic Fight Club","video":false,"vote_average":7.4,"vote_count":5},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":322772,"original_language":"en","original_title":"Insane Fight Club II - This Time It’s Personal","overview":"Insane Fight Club is back. This year the boys are taking their unique form of entertainment to England as they stage fight nights in Birmingham, Leeds, Liverpool and Newcastle.","popularity":2.348,"poster_path":null,"release_date":"2015-01-21","title":"Insane Fight Club II - This Time It’s Personal","video":false,"vote_average":7.0,"vote_count":2},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":818666,"original_language":"en","original_title":"Triller Fight Club: Jake Paul vs Ben Askren","overview":"Jake Paul vs. Ben Askren is an professional boxing match between YouTuber Jake Paul and former MMA fighter Ben Askren.  The bout took take place on April 17, 2021, at the Mercedes-Benz Stadium in Atlanta, Georgia.","popularity":1.467,"poster_path":"/pFxHnZhetfHpXlcYTNTFZFt6pBq.jpg","release_date":"2021-04-17","title":"Triller Fight Club: Jake Paul vs Ben Askren","video":true,"vote_average":5.0,"vote_count":3},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":935845,"original_language":"en","original_title":"GCW: Fight Club 2 Houston","overview":"Are you ready for the GCW: Fight Club 2?  On February 4th GCW: Fight Club 2 is live on FITE straight from Houston Premier Arena, TX!  Check the full lineup below:  4-way match  Mascara Dorada vs Gringo Loco vs Blake Christian vs ASF  Atticus Cogar vs Gino Medina  All-Star Scramble  Matthew Justice vs Allie Katch vs Grim Reefer vs Jimmy Lloyd vs Jordan Oliver vs Chris Carter  GCW Extreme Championship  AJ Gray vs Mysterious Q  Bryan Keith vs Effy  Ninja Mack vs Nick Wayne  Loko Wrestling Championship  Dante Leon vs Sam Stackhouse  Matt Tremont vs Sadika  *lineup subject to change","popularity":0.6,"poster_path":"/bPPvoNxWcoqSvw0SnigOZpcxKmN.jpg","release_date":"2022-02-04","title":"GCW: Fight Club 2 Houston","video":true,"vote_average":8.0,"vote_count":1}],"total_pages":2,"total_results":39}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 550
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Fight Club
                        overview:
                          type: string
                          example: A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.
                        popularity:
                          type: number
                          example: 73.433
                          default: 0
                        poster_path:
                          type: string
                          example: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                        release_date:
                          type: string
                          example: '1999-10-15'
                        title:
                          type: string
                          example: Fight Club
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 8.433
                          default: 0
                        vote_count:
                          type: integer
                          example: 26279
                          default: 0
                  total_pages:
                    type: integer
                    example: 2
                    default: 0
                  total_results:
                    type: integer
                    example: 39
                    default: 0
      deprecated: false
      tags:
      - Search
  /3/search/multi:
    get:
      summary: Multi
      description: Use multi search when you want to search for movies, TV shows and people in a single request.
      operationId: search-multi
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: include_adult
        in: query
        schema:
          type: boolean
          default: false
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    page: 1
                    results:
                    - adult: false
                      backdrop_path: /aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg
                      id: 11
                      title: Star Wars
                      original_language: en
                      original_title: Star Wars
                      overview: Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.
                      poster_path: /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
                      media_type: movie
                      genre_ids:
                      - 12
                      - 28
                      - 878
                      popularity: 78.047
                      release_date: '1977-05-25'
                      video: false
                      vote_average: 8.208
                      vote_count: 18528
                    - adult: false
                      backdrop_path: /iflKt34Ck2JpY2PY9wW1zwdJgJi.jpg
                      id: 782054
                      title: 'Doraemon: Nobita''s Little Star Wars 2021'
                      original_language: ja
                      original_title: 映画ドラえもん のび太の宇宙小戦争 2021
                      overview: One day during summer vacation, a palm-sized alien named Papi appears from a small rocket that Nobita picks up. He is the president of Pirika, a small planet in outer space, and has come to Earth to escape the rebels. Doraemon and his friends are puzzled by Papi’s small size, but as they play together using the secret tool “Small Light”, they gradually become friends. However, a whale-shaped space battleship comes to earth and attacks Doraemon, Nobita and the others in order to capture Papi. Feeling responsible for getting everyone involved, Papi tries to stand up to the rebels. Doraemon and his friends leave for the planet Pirika to protect their dear friend and his home.
                      poster_path: /48gKZioIDeUOI0afbYv3kh9u9RQ.jpg
                      media_type: movie
                      genre_ids:
                      - 16
                      - 878
                      - 12
                      popularity: 33.466
                      release_date: '2022-03-04'
                      video: false
                      vote_average: 5.825
                      vote_count: 60
                    - adult: false
                      backdrop_path: /ajztm40qDPqMONaSJhQ2PaNe2Xd.jpg
                      id: 83867
                      name: 'Star Wars: Andor'
                      original_language: en
                      original_name: 'Star Wars: Andor'
                      overview: The tale of the burgeoning rebellion against the Empire and how people and planets became involved. In an era filled with danger, deception and intrigue, Cassian Andor embarks on the path that is destined to turn him into a rebel hero.
                      poster_path: /59SVNwLfoMnZPPB6ukW6dlPxAdI.jpg
                      media_type: tv
                      genre_ids:
                      - 10765
                      - 10759
                      - 10768
                      - 18
                      popularity: 87.697
                      first_air_date: '2022-09-21'
                      vote_average: 8.223
                      vote_count: 671
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /7Q0diljpwSnUuHfxrZmexxztrEZ.jpg
                      id: 114478
                      name: 'Star Wars: Visions'
                      original_language: ja
                      original_name: スター・ウォーズ：ビジョンズ
                      overview: An anthology series of animated short films celebrating Star Wars through the lens of the world's best anime creators.
                      poster_path: /8yECMpsZ8wAvra4Sow6Bz9WOO5f.jpg
                      media_type: tv
                      genre_ids:
                      - 16
                      - 10765
                      - 10759
                      popularity: 32.764
                      first_air_date: '2021-09-22'
                      vote_average: 7.304
                      vote_count: 237
                      origin_country:
                      - JP
                      - US
                    - adult: false
                      backdrop_path: /m6eRgkR1KC6Mr6gKx6gKCzSn6vD.jpg
                      id: 4194
                      name: 'Star Wars: The Clone Wars'
                      original_language: en
                      original_name: 'Star Wars: The Clone Wars'
                      overview: Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace Windu and other Jedi Knights lead the Grand Army of the Republic against the droid army of the Separatists.
                      poster_path: /e1nWfnnCVqxS2LeTO3dwGyAsG2V.jpg
                      media_type: tv
                      genre_ids:
                      - 10759
                      - 16
                      - 10765
                      popularity: 93.955
                      first_air_date: '2008-10-03'
                      vote_average: 8.48
                      vote_count: 1649
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /sjxtIUCWR74yPPcZFfTsToepfWm.jpg
                      id: 105971
                      name: 'Star Wars: The Bad Batch'
                      original_language: en
                      original_name: 'Star Wars: The Bad Batch'
                      overview: The 'Bad Batch' of elite and experimental clones make their way through an ever-changing galaxy in the immediate aftermath of the Clone Wars.
                      poster_path: /5Q6z9bjy8dHKA5T8kNmCd8hj6Gl.jpg
                      media_type: tv
                      genre_ids:
                      - 16
                      - 10759
                      - 10765
                      popularity: 56.538
                      first_air_date: '2021-05-04'
                      vote_average: 8.334
                      vote_count: 738
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /AdJgkXb8oLI8e4rsk8XzkvABIuw.jpg
                      id: 60554
                      name: Star Wars Rebels
                      original_language: en
                      original_name: Star Wars Rebels
                      overview: 'Set between the events of Star Wars: Episodes III and IV, the story unfolds during a dark time when the evil Galactic Empire is tightening its grip of power on the galaxy. Imperial forces have occupied a remote planet and are ruining the lives of its people. The motley but clever crew of the starship Ghost — cowboy Jedi Kanan, ace pilot Hera, street-smart teenager Ezra, the “muscle” Zeb, warrior firebrand Sabine, and cantankerous old astromech droid Chopper — is among a select few who are brave enough to stand against the Empire. Together, they will face threatening new villains, encounter colorful adversaries, embark on thrilling adventures, and become heroes with the power to ignite a rebellion.'
                      poster_path: /vOUxo5sfXyQPIoF8rtYK1OVVBPi.jpg
                      media_type: tv
                      genre_ids:
                      - 10759
                      - 16
                      - 10765
                      popularity: 57.151
                      first_air_date: '2014-10-13'
                      vote_average: 7.667
                      vote_count: 650
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg
                      id: 140607
                      title: 'Star Wars: The Force Awakens'
                      original_language: en
                      original_title: 'Star Wars: The Force Awakens'
                      overview: Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.
                      poster_path: /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
                      media_type: movie
                      genre_ids:
                      - 12
                      - 28
                      - 878
                      - 14
                      popularity: 54.208
                      release_date: '2015-12-15'
                      video: false
                      vote_average: 7.3
                      vote_count: 17946
                    - adult: false
                      backdrop_path: /jOzrELAzFxtMx2I4uDGHOotdfsS.jpg
                      id: 181812
                      title: 'Star Wars: The Rise of Skywalker'
                      original_language: en
                      original_title: 'Star Wars: The Rise of Skywalker'
                      overview: The surviving Resistance faces the First Order once again as the journey of Rey, Finn and Poe Dameron continues. With the power and knowledge of generations behind them, the final battle begins.
                      poster_path: /db32LaOibwEliAmSL2jjDF6oDdj.jpg
                      media_type: movie
                      genre_ids:
                      - 12
                      - 28
                      - 878
                      popularity: 57.195
                      release_date: '2019-12-18'
                      video: false
                      vote_average: 6.389
                      vote_count: 8671
                    - adult: false
                      backdrop_path: /5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg
                      id: 181808
                      title: 'Star Wars: The Last Jedi'
                      original_language: en
                      original_title: 'Star Wars: The Last Jedi'
                      overview: Rey develops her newly discovered abilities with the guidance of Luke Skywalker, who is unsettled by the strength of her powers. Meanwhile, the Resistance prepares to do battle with the First Order.
                      poster_path: /kOVEVeg59E0wsnXmF9nrh6OmWII.jpg
                      media_type: movie
                      genre_ids:
                      - 12
                      - 28
                      - 878
                      popularity: 47.022
                      release_date: '2017-12-13'
                      video: false
                      vote_average: 6.8
                      vote_count: 13924
                    - adult: false
                      backdrop_path: null
                      id: 432134
                      title: 'Star Wars: Heroes & Villains'
                      original_language: en
                      original_title: 'Star Wars: Heroes & Villains'
                      overview: 'A look at the creation and filming of the various heroes and villains from all six Star Wars movies, leading up to the release of Star Wars: Episode III - Revenge of the Sith.'
                      poster_path: /uPlEvzDy4lez92nEhUt3UFJOoQ6.jpg
                      media_type: movie
                      genre_ids:
                      - 99
                      popularity: 2.851
                      release_date: '2005-05-03'
                      video: false
                      vote_average: 9.438
                      vote_count: 8
                    - adult: false
                      backdrop_path: /ojHCeDULAkQK25700fhRU75Tur2.jpg
                      id: 348350
                      title: 'Solo: A Star Wars Story'
                      original_language: en
                      original_title: 'Solo: A Star Wars Story'
                      overview: Through a series of daring escapades deep within a dark and dangerous criminal underworld, Han Solo meets his mighty future copilot Chewbacca and encounters the notorious gambler Lando Calrissian.
                      poster_path: /3IGbjc5ZC5yxim5W0sFING2kdcz.jpg
                      media_type: movie
                      genre_ids:
                      - 878
                      - 12
                      - 28
                      popularity: 34.732
                      release_date: '2018-05-15'
                      video: false
                      vote_average: 6.6
                      vote_count: 7651
                    - adult: false
                      backdrop_path: /6t8ES1d12OzWyCGxBeDYLHoaDrT.jpg
                      id: 330459
                      title: 'Rogue One: A Star Wars Story'
                      original_language: en
                      original_title: 'Rogue One: A Star Wars Story'
                      overview: A rogue band of resistance fighters unite for a mission to steal the Death Star plans and bring a new hope to the galaxy.
                      poster_path: /i0yw1mFbB7sNGHCs7EXZPzFkdA1.jpg
                      media_type: movie
                      genre_ids:
                      - 28
                      - 12
                      - 878
                      popularity: 34.32
                      release_date: '2016-12-14'
                      video: false
                      vote_average: 7.5
                      vote_count: 13977
                    - adult: false
                      backdrop_path: /wDe8LzwuvHYYiuwyNfxdYQq8ti4.jpg
                      id: 1893
                      title: 'Star Wars: Episode I - The Phantom Menace'
                      original_language: en
                      original_title: 'Star Wars: Episode I - The Phantom Menace'
                      overview: Anakin Skywalker, a young slave strong with the Force, is discovered on Tatooine. Meanwhile, the evil Sith have returned, enacting their plot for revenge against the Jedi.
                      poster_path: /6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg
                      media_type: movie
                      genre_ids:
                      - 12
                      - 28
                      - 878
                      popularity: 31.5
                      release_date: '1999-05-19'
                      video: false
                      vote_average: 6.5
                      vote_count: 13124
                    - adult: false
                      backdrop_path: /dUkCHy02dtFWQwyCKQKlf1sRm0D.jpg
                      id: 161704
                      title: 'Doraemon: Nobita''s Little Star Wars'
                      original_language: ja
                      original_title: 映画ドラえもん のび太の宇宙小戦争
                      overview: Papi, the tiny president of a faraway planet, escapes to Earth to avoid being captured by the military forces that took over. Despite being welcomed by Doraemon, Nobita and their friends, the little alien notices that his enemies have also reached this world and doesn't want to get his human friends involved in this war. Doraemon, Nobita, Gian, Suneo, and Shizuka start a big adventure as they try to hide and protect Papi.
                      poster_path: /oLXqorJ3CtXkR90wCBkg4WnITL3.jpg
                      media_type: movie
                      genre_ids:
                      - 16
                      - 12
                      - 10751
                      - 14
                      - 878
                      popularity: 9.276
                      release_date: '1985-03-16'
                      video: false
                      vote_average: 7.444
                      vote_count: 18
                    - adult: false
                      backdrop_path: /dVTvzp1PEnvloYy7qzYCFeAkPQ3.jpg
                      id: 203085
                      name: 'Star Wars: Tales of the Jedi'
                      original_language: en
                      original_name: 'Star Wars: Tales of the Jedi'
                      overview: Journey into the lives of two distinctly different Jedi from the prequel era – Ahsoka Tano and Count Dooku. Each will be put to the test as they make choices that will define their destinies.
                      poster_path: /9gshOJpjmZaUGM1En5wR1V1fcBE.jpg
                      media_type: tv
                      genre_ids:
                      - 16
                      - 10765
                      popularity: 35.917
                      first_air_date: '2022-10-26'
                      vote_average: 8.102
                      vote_count: 172
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /dKH2l6WrrYS3tGp4JD3Y0AtVzPu.jpg
                      id: 101978
                      name: 'Disney Gallery / Star Wars: The Mandalorian'
                      original_language: en
                      original_name: 'Disney Gallery / Star Wars: The Mandalorian'
                      overview: Executive producer Jon Favreau invites the cast and crew of The Mandalorian to share an unprecedented look at the making of the series. Each chapter explores a different facet of the first live-action Star Wars television show through interviews, never-before-seen footage, and roundtable conversations hosted by Favreau himself.
                      poster_path: /6Hc2eHp59iTyMqkhcumNovq2l6y.jpg
                      media_type: tv
                      genre_ids:
                      - 99
                      popularity: 39.403
                      first_air_date: '2020-05-04'
                      vote_average: 7.3
                      vote_count: 45
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /xEdnGUc8KeZ7h0eEgSN3ERhjgL0.jpg
                      id: 12180
                      title: 'Star Wars: The Clone Wars'
                      original_language: en
                      original_title: 'Star Wars: The Clone Wars'
                      overview: As the Clone Wars sweep through the galaxy, the heroic Jedi Knights struggle to maintain order and restore peace. More and more systems are falling prey to the forces of the dark side as the Galactic Republic slips further and further under the sway of the Separatists and their never-ending droid army. Anakin Skywalker and his Padawan learner Ahsoka Tano find themselves on a mission with far-reaching consequences, one that brings them face-to-face with crime lord Jabba the Hutt. But Count Dooku and his sinister agents, including the nefarious Asajj Ventress, will stop at nothing to ensure that Anakin and Ahsoka fail at their quest. Meanwhile, on the front lines of the Clone Wars, Obi-Wan Kenobi and Master Yoda lead the massive clone army in a valiant effort to resist the forces of the dark side...
                      poster_path: /d6YOfi0T9GowglzIkDQGGvGYVTM.jpg
                      media_type: movie
                      genre_ids:
                      - 16
                      - 28
                      - 878
                      - 12
                      popularity: 17.361
                      release_date: '2008-08-05'
                      video: false
                      vote_average: 6.113
                      vote_count: 1738
                    - adult: false
                      backdrop_path: /9eXNA3K010TlkUTLSzQ07cP6uPF.jpg
                      id: 79093
                      name: Star Wars Resistance
                      original_language: en
                      original_name: Star Wars Resistance
                      overview: Kazuda Xiono, a young pilot for the Resistance, is tasked with a top secret mission to investigate the First Order, a growing threat in the galaxy.
                      poster_path: /xul6SG8rar3wkHPY8YusUtxcdlZ.jpg
                      media_type: tv
                      genre_ids:
                      - 10765
                      - 16
                      - 10759
                      popularity: 20.486
                      first_air_date: '2018-10-07'
                      vote_average: 6.417
                      vote_count: 96
                      origin_country:
                      - US
                    - adult: false
                      backdrop_path: /eFaRU5y8wIwV0D14DPkbLaRUzOV.jpg
                      id: 1895
                      title: 'Star Wars: Episode III - Revenge of the Sith'
                      original_language: en
                      original_title: 'Star Wars: Episode III - Revenge of the Sith'
                      overview: The evil Darth Sidious enacts his final plan for unlimited power -- and the heroic Jedi Anakin Skywalker must choose a side.
                      poster_path: /xfSAoBEm9MNBjmlNcDYLvLSMlnq.jpg
                      media_type: movie
                      genre_ids:
                      - 12
                      - 28
                      - 878
                      popularity: 32.108
                      release_date: '2005-05-17'
                      video: false
                      vote_average: 7.401
                      vote_count: 12350
                    total_pages: 11
                    total_results: 201
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg
                        id:
                          type: integer
                          example: 11
                          default: 0
                        title:
                          type: string
                          example: Star Wars
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Star Wars
                        overview:
                          type: string
                          example: Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.
                        poster_path:
                          type: string
                          example: /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
                        media_type:
                          type: string
                          example: movie
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 12
                            default: 0
                        popularity:
                          type: number
                          example: 78.047
                          default: 0
                        release_date:
                          type: string
                          example: '1977-05-25'
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 8.208
                          default: 0
                        vote_count:
                          type: integer
                          example: 18528
                          default: 0
                        name:
                          type: string
                        original_name:
                          type: string
                  total_pages:
                    type: integer
                    example: 11
                    default: 0
                  total_results:
                    type: integer
                    example: 201
                    default: 0
      deprecated: false
      tags:
      - Search
  /3/search/person:
    get:
      summary: Person
      description: Search for people by their name and also known as names.
      operationId: search-person
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: include_adult
        in: query
        schema:
          type: boolean
          default: false
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"gender":2,"id":31,"known_for_department":"Acting","name":"Tom Hanks","original_name":"Tom Hanks","popularity":84.631,"profile_path":"/xndWFsBlClOJFRdhSt4NBwiPq2o.jpg","known_for":[{"adult":false,"backdrop_path":"/3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg","id":13,"title":"Forrest Gump","original_language":"en","original_title":"Forrest Gump","overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","poster_path":"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg","media_type":"movie","genre_ids":[35,18,10749],"popularity":67.209,"release_date":"1994-06-23","video":false,"vote_average":8.481,"vote_count":24525},{"adult":false,"backdrop_path":"/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg","id":862,"title":"Toy Story","original_language":"en","original_title":"Toy Story","overview":"Led by Woody, Andy''s toys live happily in his room until Andy''s birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy''s heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.","poster_path":"/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg","media_type":"movie","genre_ids":[16,12,10751,35],"popularity":119.802,"release_date":"1995-10-30","video":false,"vote_average":7.969,"vote_count":16613},{"adult":false,"backdrop_path":"/vxJ08SvwomfKbpboCWynC3uqUg4.jpg","id":497,"title":"The Green Mile","original_language":"en","original_title":"The Green Mile","overview":"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people''s ailments. When the cell block''s head guard, Paul Edgecomb, recognizes Coffey''s miraculous gift, he tries desperately to help stave off the condemned man''s execution.","poster_path":"/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg","media_type":"movie","genre_ids":[14,18,80],"popularity":77.553,"release_date":"1999-12-10","video":false,"vote_average":8.507,"vote_count":15310}]}],"total_pages":1,"total_results":1}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        gender:
                          type: integer
                          example: 2
                          default: 0
                        id:
                          type: integer
                          example: 31
                          default: 0
                        known_for_department:
                          type: string
                          example: Acting
                        name:
                          type: string
                          example: Tom Hanks
                        original_name:
                          type: string
                          example: Tom Hanks
                        popularity:
                          type: number
                          example: 84.631
                          default: 0
                        profile_path:
                          type: string
                          example: /xndWFsBlClOJFRdhSt4NBwiPq2o.jpg
                        known_for:
                          type: array
                          items:
                            type: object
                            properties:
                              adult:
                                type: boolean
                                example: false
                                default: true
                              backdrop_path:
                                type: string
                                example: /3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg
                              id:
                                type: integer
                                example: 13
                                default: 0
                              title:
                                type: string
                                example: Forrest Gump
                              original_language:
                                type: string
                                example: en
                              original_title:
                                type: string
                                example: Forrest Gump
                              overview:
                                type: string
                                example: A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.
                              poster_path:
                                type: string
                                example: /arw2vcBveWOVZr6pxd9XTd1TdQa.jpg
                              media_type:
                                type: string
                                example: movie
                              genre_ids:
                                type: array
                                items:
                                  type: integer
                                  example: 35
                                  default: 0
                              popularity:
                                type: number
                                example: 67.209
                                default: 0
                              release_date:
                                type: string
                                example: '1994-06-23'
                              video:
                                type: boolean
                                example: false
                                default: true
                              vote_average:
                                type: number
                                example: 8.481
                                default: 0
                              vote_count:
                                type: integer
                                example: 24525
                                default: 0
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
      tags:
      - Search
  /3/search/tv:
    get:
      summary: TV
      description: Search for TV shows by their original, translated and also known as names.
      operationId: search-tv
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: first_air_date_year
        in: query
        description: 'Search only the first air date. Valid values are: 1000..9999'
        schema:
          type: integer
          format: int32
      - name: include_adult
        in: query
        schema:
          type: boolean
          default: false
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: year
        in: query
        description: 'Search the first air date and all episode air dates. Valid values are: 1000..9999'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg","genre_ids":[18,80],"id":1396,"origin_country":["US"],"original_language":"en","original_name":"Breaking Bad","overview":"When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family''s financial future at any cost as he enters the dangerous world of drugs and crime.","popularity":298.884,"poster_path":"/ggFHVNu6YYI5L9pCfOacjizRGt.jpg","first_air_date":"2008-01-20","name":"Breaking Bad","vote_average":8.879,"vote_count":11536}],"total_pages":1,"total_results":1}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 1396
                          default: 0
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: US
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: Breaking Bad
                        overview:
                          type: string
                          example: When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family's financial future at any cost as he enters the dangerous world of drugs and crime.
                        popularity:
                          type: number
                          example: 298.884
                          default: 0
                        poster_path:
                          type: string
                          example: /ggFHVNu6YYI5L9pCfOacjizRGt.jpg
                        first_air_date:
                          type: string
                          example: '2008-01-20'
                        name:
                          type: string
                          example: Breaking Bad
                        vote_average:
                          type: number
                          example: 8.879
                          default: 0
                        vote_count:
                          type: integer
                          example: 11536
                          default: 0
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
      tags:
      - Search
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
