openapi: 3.2.0
info:
  title: tmdb-api Account Review API
  version: '3'
servers:
- url: https://api.themoviedb.org
security:
- sec0: []
tags:
- name: Review
paths:
  /3/review/{review_id}:
    get:
      summary: Details
      description: Retrieve the details of a movie or TV show review.
      operationId: review-details
      parameters:
      - name: review_id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"id":"640b2aeecaaca20079decdcc","author":"Ricardo Oliveira","author_details":{"name":"Ricardo Oliveira","username":"RSOliveira","avatar_path":"/23Cl7rhsknc7IIAcZZAGKzovjTu.jpg","rating":9.0},"content":"\"The Last of Us\" is a post-apocalyptic TV series based on the popular video game of the same name. The story follows the journey of Joel, a smuggler, and Ellie, a teenage girl who may be the key to finding a cure for a deadly fungal infection that has ravaged the world.\r\n\r\nThe series features outstanding performances from Pedro Pascal as Joel, Bella Ramsey as Ellie, and Anna Torv as Tess. The chemistry between the main characters is excellent, and the casting is spot-on.\r\n\r\nThe show''s writing is superb, and it captures the essence of the video game while adding a fresh perspective. The narrative is engaging, and the pacing is just right, with each episode leaving you on the edge of your seat, eager to see what happens next.\r\n\r\nThe show''s production value is top-notch, with stunning visuals and cinematography that capture the bleak and haunting atmosphere of a post-apocalyptic world. The use of practical effects and makeup is impressive and adds to the overall immersion of the story.\r\n\r\nOverall, \"The Last of Us\" is an outstanding TV series that does justice to the source material. It''s a must-watch for fans of the video game and anyone who enjoys gripping and emotional storytelling. I would rate it a 9 out of 10.\r\n\r\n \r\n\r\nWritten and Reviewed by RSOliveira","created_at":"2023-03-10T13:04:46.674Z","iso_639_1":"en","media_id":100088,"media_title":"The Last of Us","media_type":"tv","updated_at":"2023-03-10T13:04:46.734Z","url":"https://www.themoviedb.org/review/640b2aeecaaca20079decdcc"}'
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 640b2aeecaaca20079decdcc
                  author:
                    type: string
                    example: Ricardo Oliveira
                  author_details:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Ricardo Oliveira
                      username:
                        type: string
                        example: RSOliveira
                      avatar_path:
                        type: string
                        example: /23Cl7rhsknc7IIAcZZAGKzovjTu.jpg
                      rating:
                        type: integer
                        example: 9
                        default: 0
                  content:
                    type: string
                    example: "\"The Last of Us\" is a post-apocalyptic TV series based on the popular video game of the same name. The story follows the journey of Joel, a smuggler, and Ellie, a teenage girl who may be the key to finding a cure for a deadly fungal infection that has ravaged the world.\n\nThe series features outstanding performances from Pedro Pascal as Joel, Bella Ramsey as Ellie, and Anna Torv as Tess. The chemistry between the main characters is excellent, and the casting is spot-on.\n\nThe show's writing is superb, and it captures the essence of the video game while adding a fresh perspective. The narrative is engaging, and the pacing is just right, with each episode leaving you on the edge of your seat, eager to see what happens next.\n\nThe show's production value is top-notch, with stunning visuals and cinematography that capture the bleak and haunting atmosphere of a post-apocalyptic world. The use of practical effects and makeup is impressive and adds to the overall immersion of the story.\n\nOverall, \"The Last of Us\" is an outstanding TV series that does justice to the source material. It's a must-watch for fans of the video game and anyone who enjoys gripping and emotional storytelling. I would rate it a 9 out of 10.\n\n \n\nWritten and Reviewed by RSOliveira"
                  created_at:
                    type: string
                    example: '2023-03-10T13:04:46.674Z'
                  iso_639_1:
                    type: string
                    example: en
                  media_id:
                    type: integer
                    example: 100088
                    default: 0
                  media_title:
                    type: string
                    example: The Last of Us
                  media_type:
                    type: string
                    example: tv
                  updated_at:
                    type: string
                    example: '2023-03-10T13:04:46.734Z'
                  url:
                    type: string
                    example: https://www.themoviedb.org/review/640b2aeecaaca20079decdcc
      deprecated: false
      tags:
      - Review
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
