openapi: 3.2.0
info:
  title: tmdb-api Account Find API
  version: '3'
servers:
- url: https://api.themoviedb.org
security:
- sec0: []
tags:
- name: Find
paths:
  /3/find/{external_id}:
    get:
      summary: Find By ID
      description: Find data by external ID's.
      operationId: find-by-id
      parameters:
      - name: external_id
        in: path
        schema:
          type: string
        required: true
      - name: external_source
        in: query
        required: true
        schema:
          type: string
          enum:
          - imdb_id
          - facebook_id
          - instagram_id
          - tvdb_id
          - tiktok_id
          - twitter_id
          - wikidata_id
          - youtube_id
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"movie_results":[{"adult":false,"backdrop_path":"/44immBwzhDVyjn87b3x3l9mlhAD.jpg","id":934433,"title":"Scream VI","original_language":"en","original_title":"Scream VI","overview":"Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter.","poster_path":"/wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg","media_type":"movie","genre_ids":[27,9648,53],"popularity":853.917,"release_date":"2023-03-08","video":false,"vote_average":7.388,"vote_count":708}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
              schema:
                type: object
                properties:
                  movie_results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /44immBwzhDVyjn87b3x3l9mlhAD.jpg
                        id:
                          type: integer
                          example: 934433
                          default: 0
                        title:
                          type: string
                          example: Scream VI
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Scream VI
                        overview:
                          type: string
                          example: Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter.
                        poster_path:
                          type: string
                          example: /wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg
                        media_type:
                          type: string
                          example: movie
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 27
                            default: 0
                        popularity:
                          type: number
                          example: 853.917
                          default: 0
                        release_date:
                          type: string
                          example: '2023-03-08'
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 7.388
                          default: 0
                        vote_count:
                          type: integer
                          example: 708
                          default: 0
                  person_results:
                    type: array
                  tv_results:
                    type: array
                  tv_episode_results:
                    type: array
                  tv_season_results:
                    type: array
      deprecated: false
      tags:
      - Find
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
