openapi: 3.2.0
info:
  title: tmdb-api Account Guest Session API
  version: '3'
servers:
- url: https://api.themoviedb.org
security:
- sec0: []
tags:
- name: Guest Session
paths:
  /3/guest_session/{guest_session_id}/rated/movies:
    get:
      summary: Rated Movies
      description: Get the rated movies for a guest session.
      operationId: guest-session-rated-movies
      parameters:
      - name: guest_session_id
        in: path
        schema:
          type: string
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ikR2qy9xJCHX7M8i5rcvuNfdYXs.jpg","genre_ids":[18,80],"id":16,"original_language":"en","original_title":"Dancer in the Dark","overview":"Selma, a Czech immigrant on the verge of blindness, struggles to make ends meet for herself and her son, who has inherited the same genetic disorder and will suffer the same fate without an expensive operation. When life gets too difficult, Selma learns to cope through her love of musicals, escaping life''s troubles - even if just for a moment - by dreaming up little numbers to the rhythmic beats of her surroundings.","popularity":14.684,"poster_path":"/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg","release_date":"2000-06-30","title":"Dancer in the Dark","video":false,"vote_average":7.885,"vote_count":1549,"rating":8.5}],"total_pages":1,"total_results":1}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /ikR2qy9xJCHX7M8i5rcvuNfdYXs.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 16
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Dancer in the Dark
                        overview:
                          type: string
                          example: Selma, a Czech immigrant on the verge of blindness, struggles to make ends meet for herself and her son, who has inherited the same genetic disorder and will suffer the same fate without an expensive operation. When life gets too difficult, Selma learns to cope through her love of musicals, escaping life's troubles - even if just for a moment - by dreaming up little numbers to the rhythmic beats of her surroundings.
                        popularity:
                          type: number
                          example: 14.684
                          default: 0
                        poster_path:
                          type: string
                          example: /8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg
                        release_date:
                          type: string
                          example: '2000-06-30'
                        title:
                          type: string
                          example: Dancer in the Dark
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 7.885
                          default: 0
                        vote_count:
                          type: integer
                          example: 1549
                          default: 0
                        rating:
                          type: number
                          example: 8.5
                          default: 0
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
      tags:
      - Guest Session
  /3/guest_session/{guest_session_id}/rated/tv:
    get:
      summary: Rated TV
      description: Get the rated TV shows for a guest session.
      operationId: guest-session-rated-tv
      parameters:
      - name: guest_session_id
        in: path
        schema:
          type: string
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg","genre_ids":[10765,18,10759],"id":1399,"origin_country":["US"],"original_language":"en","original_name":"Game of Thrones","overview":"Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night''s Watch, is all that stands between the realms of men and icy horrors beyond.","popularity":404.299,"poster_path":"/7WUHnWGx5OO145IRxPDUkQSh4C7.jpg","first_air_date":"2011-04-17","name":"Game of Thrones","vote_average":8.436,"vote_count":21025,"rating":8.5}],"total_pages":1,"total_results":1}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 10765
                            default: 0
                        id:
                          type: integer
                          example: 1399
                          default: 0
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: US
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: Game of Thrones
                        overview:
                          type: string
                          example: Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and icy horrors beyond.
                        popularity:
                          type: number
                          example: 404.299
                          default: 0
                        poster_path:
                          type: string
                          example: /7WUHnWGx5OO145IRxPDUkQSh4C7.jpg
                        first_air_date:
                          type: string
                          example: '2011-04-17'
                        name:
                          type: string
                          example: Game of Thrones
                        vote_average:
                          type: number
                          example: 8.436
                          default: 0
                        vote_count:
                          type: integer
                          example: 21025
                          default: 0
                        rating:
                          type: number
                          example: 8.5
                          default: 0
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
      tags:
      - Guest Session
  /3/guest_session/{guest_session_id}/rated/tv/episodes:
    get:
      summary: Rated TV Episodes
      description: Get the rated TV episodes for a guest session.
      operationId: guest-session-rated-tv-episodes
      parameters:
      - name: guest_session_id
        in: path
        schema:
          type: string
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at.asc
          - created_at.desc
          default: created_at.asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"air_date":"2011-04-17","episode_number":1,"id":63056,"name":"Winter Is Coming","overview":"Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon''s place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.","production_code":"101","runtime":62,"season_number":1,"show_id":1399,"still_path":"/9hGF3WUkBf7cSjMg0cdMDHJkByd.jpg","vote_average":7.843,"vote_count":286,"rating":8.5}],"total_pages":1,"total_results":1}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        air_date:
                          type: string
                          example: '2011-04-17'
                        episode_number:
                          type: integer
                          example: 1
                          default: 0
                        id:
                          type: integer
                          example: 63056
                          default: 0
                        name:
                          type: string
                          example: Winter Is Coming
                        overview:
                          type: string
                          example: Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.
                        production_code:
                          type: string
                          example: '101'
                        runtime:
                          type: integer
                          example: 62
                          default: 0
                        season_number:
                          type: integer
                          example: 1
                          default: 0
                        show_id:
                          type: integer
                          example: 1399
                          default: 0
                        still_path:
                          type: string
                          example: /9hGF3WUkBf7cSjMg0cdMDHJkByd.jpg
                        vote_average:
                          type: number
                          example: 7.843
                          default: 0
                        vote_count:
                          type: integer
                          example: 286
                          default: 0
                        rating:
                          type: number
                          example: 8.5
                          default: 0
                  total_pages:
                    type: integer
                    example: 1
                    default: 0
                  total_results:
                    type: integer
                    example: 1
                    default: 0
      deprecated: false
      tags:
      - Guest Session
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
