openapi: 3.2.0
info:
  title: tmdb-api Account Tv API
  version: '3'
servers:
- url: https://api.themoviedb.org
security:
- sec0: []
tags:
- name: TV
paths:
  /3/tv/changes:
    get:
      summary: TV List
      description: ''
      operationId: changes-tv-list
      parameters:
      - name: end_date
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: start_date
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"results":[{"id":225591,"adult":false},{"id":220819,"adult":false},{"id":203857,"adult":false},{"id":1063,"adult":false},{"id":225601,"adult":false},{"id":201177,"adult":false},{"id":225602,"adult":false},{"id":112529,"adult":false},{"id":114922,"adult":false},{"id":225603,"adult":false},{"id":22569,"adult":false},{"id":218865,"adult":false},{"id":225332,"adult":false},{"id":211309,"adult":false},{"id":219847,"adult":false},{"id":134224,"adult":false},{"id":209265,"adult":false},{"id":212350,"adult":false},{"id":219241,"adult":false},{"id":221598,"adult":false},{"id":225217,"adult":false},{"id":209306,"adult":false},{"id":102051,"adult":false},{"id":104596,"adult":false},{"id":212989,"adult":false},{"id":224135,"adult":false},{"id":223043,"adult":false},{"id":65684,"adult":false},{"id":198988,"adult":false},{"id":1431,"adult":false},{"id":221854,"adult":false},{"id":34607,"adult":false},{"id":27485,"adult":false},{"id":153655,"adult":true},{"id":731,"adult":false},{"id":111551,"adult":false},{"id":45563,"adult":false},{"id":17740,"adult":false},{"id":68026,"adult":false},{"id":73010,"adult":false},{"id":91247,"adult":false},{"id":129604,"adult":false},{"id":22865,"adult":false},{"id":52135,"adult":false},{"id":194632,"adult":false},{"id":213705,"adult":false},{"id":211102,"adult":false},{"id":225155,"adult":null},{"id":17380,"adult":false},{"id":224522,"adult":false},{"id":70036,"adult":false},{"id":92803,"adult":false},{"id":80240,"adult":false},{"id":38693,"adult":false},{"id":85660,"adult":false},{"id":136155,"adult":false},{"id":116653,"adult":null},{"id":32726,"adult":false},{"id":128255,"adult":false},{"id":217510,"adult":false},{"id":211311,"adult":false},{"id":97951,"adult":false},{"id":214997,"adult":false},{"id":70785,"adult":false},{"id":37854,"adult":false},{"id":211564,"adult":false},{"id":33993,"adult":false},{"id":71232,"adult":false},{"id":69275,"adult":false},{"id":207250,"adult":false},{"id":210506,"adult":false},{"id":107255,"adult":false},{"id":90701,"adult":false},{"id":76331,"adult":false},{"id":14981,"adult":false},{"id":223079,"adult":false},{"id":210479,"adult":false},{"id":216672,"adult":null},{"id":65334,"adult":false},{"id":157069,"adult":false},{"id":50829,"adult":false},{"id":225604,"adult":false},{"id":65336,"adult":false},{"id":208230,"adult":false},{"id":138455,"adult":false},{"id":158168,"adult":false},{"id":220191,"adult":false},{"id":225152,"adult":false},{"id":221249,"adult":false},{"id":84693,"adult":false},{"id":213130,"adult":false},{"id":219476,"adult":false},{"id":209374,"adult":false},{"id":94997,"adult":false},{"id":82395,"adult":false},{"id":52814,"adult":false},{"id":224939,"adult":false},{"id":225178,"adult":false},{"id":225605,"adult":false},{"id":207863,"adult":false}],"page":1,"total_pages":18,"total_results":1763}'
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 225591
                          default: 0
                        adult:
                          type: boolean
                          example: false
                          default: true
                  page:
                    type: integer
                    example: 1
                    default: 0
                  total_pages:
                    type: integer
                    example: 18
                    default: 0
                  total_results:
                    type: integer
                    example: 1763
                    default: 0
      deprecated: false
      tags:
      - TV
  /3/tv/airing_today:
    get:
      summary: Airing Today
      description: Get a list of TV shows airing today.
      operationId: tv-series-airing-today-list
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: timezone
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"backdrop_path":"/mAJ84W6I8I272Da87qplS2Dp9ST.jpg","first_air_date":"2023-01-23","genre_ids":[9648,18],"id":202250,"name":"Dirty Linen","origin_country":["PH"],"original_language":"tl","original_name":"Dirty Linen","overview":"To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.","popularity":2797.914,"poster_path":"/aoAZgnmMzY9vVy9VWnO3U5PZENh.jpg","vote_average":5,"vote_count":13},{"backdrop_path":"/wJmcuxa0C4AERmA9mejxm9qRYDj.jpg","first_air_date":"2022-06-06","genre_ids":[80,9648],"id":203504,"name":"Aashiqana","origin_country":["IN"],"original_language":"hi","original_name":"आशिकाना","overview":"A serial killer sparks the story of uptight Yashvardhan and feisty Chikki. Plagued by misunderstandings, how far do they have to go to nab the murderer?","popularity":2732.908,"poster_path":"/a4Z6Uohb6Ln5vcPvMUzwyn3WBjP.jpg","vote_average":6.1,"vote_count":10},{"backdrop_path":"/xGKTgJlqCkq6tAK2sOTdULh7YaX.jpg","first_air_date":"2022-10-10","genre_ids":[10766,18,35],"id":204370,"name":"The Path","origin_country":["BR"],"original_language":"pt","original_name":"Travessia","overview":"After having her life course changed by a fake image and losing her childhood sweetheart to greed and power, Brisa, a strong woman, will struggle to rebuild her journey, raise her son, rediscover true love, and discover the truth about her origin.","popularity":2658.721,"poster_path":"/raDj1xSVzBenwI87arenZY6eHmz.jpg","vote_average":4.7,"vote_count":16},{"backdrop_path":null,"first_air_date":"2005-09-05","genre_ids":[18,35],"id":36361,"name":"Ulice","origin_country":["CZ"],"original_language":"cs","original_name":"Ulice","overview":"Ulice is a Czech soap opera produced and broadcast by Nova. In the Czech language Ulice means street.\n\nThe show describes the lives of the Farský, Jordán, Boháč, Nikl, and Liška families and many other people that live in Prague. Their daily battle against real problems of living in a modern world like divorce, love, betrayal and illness or disease. Ulice often shows crime.","popularity":2539.81,"poster_path":"/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg","vote_average":2.2,"vote_count":10},{"backdrop_path":"/azWBrlovNOOdy0eQYEe9BoiROoN.jpg","first_air_date":"2023-03-20","genre_ids":[18,10766],"id":209085,"name":"Amor Perfeito","origin_country":["BR"],"original_language":"pt","original_name":"Amor Perfeito","overview":"","popularity":2366.021,"poster_path":"/aOPhyvHDauWFuc3rthpHArCNyrm.jpg","vote_average":3.5,"vote_count":4},{"backdrop_path":"/69Jblm3seQgiPuPQMrJqg9Nxhaz.jpg","first_air_date":"2011-01-10","genre_ids":[10763,10767],"id":101463,"name":"Al rojo vivo","origin_country":["ES"],"original_language":"es","original_name":"Al rojo vivo","overview":"","popularity":2184.062,"poster_path":"/ag6PmoBxkF2s1uY3An618NCEt3g.jpg","vote_average":1.5,"vote_count":4},{"backdrop_path":"/t2rAdgjSh0WYbXzdOB5zTDqzdCI.jpg","first_air_date":"2022-11-02","genre_ids":[18],"id":213713,"name":"Faltu","origin_country":["IN"],"original_language":"hi","original_name":"Faltu","overview":"What''s in a name? Amidst the arid landscape of Rajasthan, a young woman with dreamy eyes struggles to prove her worth.","popularity":2148.313,"poster_path":"/lgyFuoXs7GvKJN0mNm7z7OMOFuZ.jpg","vote_average":4.7,"vote_count":15},{"backdrop_path":"/3n2TjKw3HrwDqgVgcynvantOfS3.jpg","first_air_date":"2023-01-04","genre_ids":[18,10751],"id":215103,"name":"Teri Meri Doriyaann","origin_country":["IN"],"original_language":"hi","original_name":"Teri Meri Doriyaan","overview":"It’s hate at first sight for Sahiba and Angad! But destined to be together, their lives get intertwined by a marriage alliance, and a love-hate story ensues.","popularity":2092.051,"poster_path":"/4BHDmYiuSnNL3nqKIOzLJKYX4AN.jpg","vote_average":4.9,"vote_count":7},{"backdrop_path":"/1Xm0WqoT0DjZm5JdG2V6YFabrOz.jpg","first_air_date":"2023-02-13","genre_ids":[10759,35,18],"id":215803,"name":"Batang Quiapo","origin_country":["PH"],"original_language":"tl","original_name":"Batang Quiapo","overview":"A young man rises to be one of the biggest outlaws in the neighborhood while he navigates his way in life to survive in Quiapo. Hoping to earn the affection of his parents, his feat draws him closer to the truth about his identity.","popularity":2087.665,"poster_path":"/9McqS8mgMf5NJCAKZIY6J1oOl8y.jpg","vote_average":5.6,"vote_count":8},{"backdrop_path":null,"first_air_date":"2022-11-28","genre_ids":[18],"id":215315,"name":"Rabb Se Hai Dua","origin_country":["IN"],"original_language":"hi","original_name":"रब्ब से है दुआ","overview":"Dua and her husband are a perfect married couple in the eyes of their family. However, Dua’s life turns upside down when her husband seeks her permission to marry another woman.","popularity":2073.144,"poster_path":"/6ikbefd7VeopbBuGgioYMNU5bQj.jpg","vote_average":6,"vote_count":2},{"backdrop_path":"/lcSvkJ2Rob3ICIOCUJahw3kgSYZ.jpg","first_air_date":"2023-03-14","genre_ids":[18],"id":216390,"name":"Woman in a Veil","origin_country":["KR"],"original_language":"ko","original_name":"비밀의 여자","overview":"Jung Gyul Wool loses her vision and ability to walk because of her materialistic husband and his mistress. Despite her shortcomings, she hatches a plot to seek revenge.","popularity":2067.687,"poster_path":"/5ERr09UrnVm0hdXBeefNVtQMxI.jpg","vote_average":4.5,"vote_count":2},{"backdrop_path":"/aqJPC5GXuiVbedajRmdOVMCb7mC.jpg","first_air_date":"2022-12-05","genre_ids":[18,10751,10766],"id":215902,"name":"Katha Ankahee","origin_country":["IN"],"original_language":"hi","original_name":"कथा अनकही","overview":"Katha, a single parent, is in need of funds for her son''s medical treatment. She comes across Viaan, who offers help but his conditions put her in an awkward situation.","popularity":2062.237,"poster_path":"/uhXU0SMPMlemKGHmwbldM60qqmW.jpg","vote_average":10,"vote_count":1},{"backdrop_path":"/peqIR6V2zZdzp3MEZBCwtqw1Bf2.jpg","first_air_date":"2022-11-28","genre_ids":[18],"id":215426,"name":"Pyaar Ke Saat Vachan - Dharam Patni","origin_country":["IN"],"original_language":"hi","original_name":"Pyaar Ke Saat Vachan - Dharam Patni","overview":"What will happen when Ravi Randhawa, a business tycoon, meets Pratiksha Parekh, a simple school teacher? Will sparks fly? Or is there no happy-ever-after for the opposite personalities?","popularity":2012.157,"poster_path":"/fMR23wg4yNsTEhqyYIfvzDAOEae.jpg","vote_average":6,"vote_count":1},{"backdrop_path":"/vW16JyrWiB1cW9wWzxhmjVHoqwJ.jpg","first_air_date":"2023-03-13","genre_ids":[10766],"id":217510,"name":"Queridos Papás","origin_country":["PT"],"original_language":"pt","original_name":"Queridos Papás","overview":"","popularity":1993.477,"poster_path":"/m1aGGAPvLpWF5cGhkQeZjbpu2nr.jpg","vote_average":6,"vote_count":2},{"backdrop_path":"/l7LRGYJY3NzIGBlpvHpMsNXHbm5.jpg","first_air_date":"2023-01-09","genre_ids":[10751,35],"id":218145,"name":"Mama na prenájom","origin_country":["SK"],"original_language":"sk","original_name":"Mama na prenájom","overview":"","popularity":1964.048,"poster_path":"/fH7PP2Rkdlo414IHvZABBHhtoqd.jpg","vote_average":8.5,"vote_count":2},{"backdrop_path":"/w9uM2biYWGqwEpvIYs8CXRoAdVB.jpg","first_air_date":"2023-02-26","genre_ids":[10764,10767],"id":221249,"name":"O Triângulo","origin_country":["PT"],"original_language":"pt","original_name":"O Triângulo","overview":"A series of physical, intellectual, emotional or psychological tests will test anonymous competitors, 24/7. In the end, only one will be victorious. Everything can change... At any time... When you least expect it!","popularity":1854.07,"poster_path":"/A2LE5B1IInR5h98OUNzyj9aQiIS.jpg","vote_average":2,"vote_count":1},{"backdrop_path":"/xkiv3e1daoqil5MRJitCJcwUgk2.jpg","first_air_date":"2021-10-31","genre_ids":[10764],"id":114294,"name":"Judy Justice","origin_country":["US"],"original_language":"en","original_name":"Judy Justice","overview":"The Honorable Judy Sheindlin, retired Judge of the Manhattan family Court, brings her signature blend of sharp wit and wisdom, hilarious candor and unwavering honesty that has made her America’s favorite judge for over 25 years, as she presides over real cases, arbitrates binding decisions and delivers what only she can: “Judy Justice.”","popularity":1723.765,"poster_path":"/4E8Rb9vPbixxC0ZdzSkvE5fpeQa.jpg","vote_average":4.1,"vote_count":7},{"backdrop_path":"/xYiI6QEZvx8Z4La1oHvApyZHpOU.jpg","first_air_date":"2023-01-16","genre_ids":[10766,35],"id":209117,"name":"Never Give Up","origin_country":["BR"],"original_language":"pt","original_name":"Vai na Fé","overview":"Sol is a hardworking woman who has the chance to work as a backing vocalist for a funk singer and return to dancing, as she did in her youth. Torn between family pressure and passion for the stage, she must face the judgment of her church''s members and conflicts with her family. The new chance will make her reconnect with her past in many ways, leading her to find her great youth love.","popularity":1574.388,"poster_path":"/6QNohzb7YUJ6eWZkXAYU8KGIq.jpg","vote_average":8.2,"vote_count":6},{"backdrop_path":"/3FLHePl9Y3n4BidLVjIA9qSRDOE.jpg","first_air_date":"2021-08-03","genre_ids":[10766],"id":130542,"name":"Bhagya Lakshmi","origin_country":["IN"],"original_language":"hi","original_name":"Bhagya Lakshmi","overview":"Hailing from a middle-class family, Lakshmi’s life is upended when she realises that her marriage to Rishi Oberoi, an industrialist’s son, is a sham to keep his death at bay.","popularity":1530.422,"poster_path":"/7wuKrFvbX7kAIF0ctotARsqayPo.jpg","vote_average":5,"vote_count":33},{"backdrop_path":"/4NcAz1QIqYnhe3u2pnVEVNwfTZf.jpg","first_air_date":"2020-10-05","genre_ids":[18,10766,10751],"id":111453,"name":"Ghum Hai Kisi Ke Pyaar Mein","origin_country":["IN"],"original_language":"hi","original_name":"घुम है किसिकी प्यार में","overview":"Virat sacrifices his love to honour the promise he made to a dying man. Trapped between the past and the present, will he find love beyond the chains of duty?","popularity":1214.89,"poster_path":"/uNjnoT3RChs2r7O9pDyx7TNBvIj.jpg","vote_average":5.6,"vote_count":38}],"total_pages":14,"total_results":265}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        backdrop_path:
                          type: string
                          example: /mAJ84W6I8I272Da87qplS2Dp9ST.jpg
                        first_air_date:
                          type: string
                          example: '2023-01-23'
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 9648
                            default: 0
                        id:
                          type: integer
                          example: 202250
                          default: 0
                        name:
                          type: string
                          example: Dirty Linen
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: PH
                        original_language:
                          type: string
                          example: tl
                        original_name:
                          type: string
                          example: Dirty Linen
                        overview:
                          type: string
                          example: To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.
                        popularity:
                          type: number
                          example: 2797.914
                          default: 0
                        poster_path:
                          type: string
                          example: /aoAZgnmMzY9vVy9VWnO3U5PZENh.jpg
                        vote_average:
                          type: integer
                          example: 5
                          default: 0
                        vote_count:
                          type: integer
                          example: 13
                          default: 0
                  total_pages:
                    type: integer
                    example: 14
                    default: 0
                  total_results:
                    type: integer
                    example: 265
                    default: 0
      deprecated: false
      tags:
      - TV
  /3/tv/on_the_air:
    get:
      summary: On The Air
      description: Get a list of TV shows that air in the next 7 days.
      operationId: tv-series-on-the-air-list
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: timezone
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"backdrop_path":"/mAJ84W6I8I272Da87qplS2Dp9ST.jpg","first_air_date":"2023-01-23","genre_ids":[9648,18],"id":202250,"name":"Dirty Linen","origin_country":["PH"],"original_language":"tl","original_name":"Dirty Linen","overview":"To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.","popularity":2797.914,"poster_path":"/aoAZgnmMzY9vVy9VWnO3U5PZENh.jpg","vote_average":5,"vote_count":13},{"backdrop_path":"/wJmcuxa0C4AERmA9mejxm9qRYDj.jpg","first_air_date":"2022-06-06","genre_ids":[80,9648],"id":203504,"name":"Aashiqana","origin_country":["IN"],"original_language":"hi","original_name":"आशिकाना","overview":"A serial killer sparks the story of uptight Yashvardhan and feisty Chikki. Plagued by misunderstandings, how far do they have to go to nab the murderer?","popularity":2732.908,"poster_path":"/a4Z6Uohb6Ln5vcPvMUzwyn3WBjP.jpg","vote_average":6.1,"vote_count":10},{"backdrop_path":"/xGKTgJlqCkq6tAK2sOTdULh7YaX.jpg","first_air_date":"2022-10-10","genre_ids":[10766,18,35],"id":204370,"name":"The Path","origin_country":["BR"],"original_language":"pt","original_name":"Travessia","overview":"After having her life course changed by a fake image and losing her childhood sweetheart to greed and power, Brisa, a strong woman, will struggle to rebuild her journey, raise her son, rediscover true love, and discover the truth about her origin.","popularity":2658.721,"poster_path":"/raDj1xSVzBenwI87arenZY6eHmz.jpg","vote_average":4.7,"vote_count":16},{"backdrop_path":null,"first_air_date":"2005-09-05","genre_ids":[18,35],"id":36361,"name":"Ulice","origin_country":["CZ"],"original_language":"cs","original_name":"Ulice","overview":"Ulice is a Czech soap opera produced and broadcast by Nova. In the Czech language Ulice means street.\n\nThe show describes the lives of the Farský, Jordán, Boháč, Nikl, and Liška families and many other people that live in Prague. Their daily battle against real problems of living in a modern world like divorce, love, betrayal and illness or disease. Ulice often shows crime.","popularity":2539.81,"poster_path":"/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg","vote_average":2.2,"vote_count":10},{"backdrop_path":"/azWBrlovNOOdy0eQYEe9BoiROoN.jpg","first_air_date":"2023-03-20","genre_ids":[18,10766],"id":209085,"name":"Amor Perfeito","origin_country":["BR"],"original_language":"pt","original_name":"Amor Perfeito","overview":"","popularity":2366.021,"poster_path":"/aOPhyvHDauWFuc3rthpHArCNyrm.jpg","vote_average":3.5,"vote_count":4},{"backdrop_path":"/69Jblm3seQgiPuPQMrJqg9Nxhaz.jpg","first_air_date":"2011-01-10","genre_ids":[10763,10767],"id":101463,"name":"Al rojo vivo","origin_country":["ES"],"original_language":"es","original_name":"Al rojo vivo","overview":"","popularity":2184.062,"poster_path":"/ag6PmoBxkF2s1uY3An618NCEt3g.jpg","vote_average":1.5,"vote_count":4},{"backdrop_path":"/t2rAdgjSh0WYbXzdOB5zTDqzdCI.jpg","first_air_date":"2022-11-02","genre_ids":[18],"id":213713,"name":"Faltu","origin_country":["IN"],"original_language":"hi","original_name":"Faltu","overview":"What''s in a name? Amidst the arid landscape of Rajasthan, a young woman with dreamy eyes struggles to prove her worth.","popularity":2148.313,"poster_path":"/lgyFuoXs7GvKJN0mNm7z7OMOFuZ.jpg","vote_average":4.7,"vote_count":15},{"backdrop_path":"/3n2TjKw3HrwDqgVgcynvantOfS3.jpg","first_air_date":"2023-01-04","genre_ids":[18,10751],"id":215103,"name":"Teri Meri Doriyaann","origin_country":["IN"],"original_language":"hi","original_name":"Teri Meri Doriyaan","overview":"It’s hate at first sight for Sahiba and Angad! But destined to be together, their lives get intertwined by a marriage alliance, and a love-hate story ensues.","popularity":2092.051,"poster_path":"/4BHDmYiuSnNL3nqKIOzLJKYX4AN.jpg","vote_average":4.9,"vote_count":7},{"backdrop_path":"/1Xm0WqoT0DjZm5JdG2V6YFabrOz.jpg","first_air_date":"2023-02-13","genre_ids":[10759,35,18],"id":215803,"name":"Batang Quiapo","origin_country":["PH"],"original_language":"tl","original_name":"Batang Quiapo","overview":"A young man rises to be one of the biggest outlaws in the neighborhood while he navigates his way in life to survive in Quiapo. Hoping to earn the affection of his parents, his feat draws him closer to the truth about his identity.","popularity":2087.665,"poster_path":"/9McqS8mgMf5NJCAKZIY6J1oOl8y.jpg","vote_average":5.6,"vote_count":8},{"backdrop_path":null,"first_air_date":"2022-11-28","genre_ids":[18],"id":215315,"name":"Rabb Se Hai Dua","origin_country":["IN"],"original_language":"hi","original_name":"रब्ब से है दुआ","overview":"Dua and her husband are a perfect married couple in the eyes of their family. However, Dua’s life turns upside down when her husband seeks her permission to marry another woman.","popularity":2073.144,"poster_path":"/6ikbefd7VeopbBuGgioYMNU5bQj.jpg","vote_average":6,"vote_count":2},{"backdrop_path":"/lcSvkJ2Rob3ICIOCUJahw3kgSYZ.jpg","first_air_date":"2023-03-14","genre_ids":[18],"id":216390,"name":"Woman in a Veil","origin_country":["KR"],"original_language":"ko","original_name":"비밀의 여자","overview":"Jung Gyul Wool loses her vision and ability to walk because of her materialistic husband and his mistress. Despite her shortcomings, she hatches a plot to seek revenge.","popularity":2067.687,"poster_path":"/5ERr09UrnVm0hdXBeefNVtQMxI.jpg","vote_average":4.5,"vote_count":2},{"backdrop_path":"/aqJPC5GXuiVbedajRmdOVMCb7mC.jpg","first_air_date":"2022-12-05","genre_ids":[18,10751,10766],"id":215902,"name":"Katha Ankahee","origin_country":["IN"],"original_language":"hi","original_name":"कथा अनकही","overview":"Katha, a single parent, is in need of funds for her son''s medical treatment. She comes across Viaan, who offers help but his conditions put her in an awkward situation.","popularity":2062.237,"poster_path":"/uhXU0SMPMlemKGHmwbldM60qqmW.jpg","vote_average":10,"vote_count":1},{"backdrop_path":"/peqIR6V2zZdzp3MEZBCwtqw1Bf2.jpg","first_air_date":"2022-11-28","genre_ids":[18],"id":215426,"name":"Pyaar Ke Saat Vachan - Dharam Patni","origin_country":["IN"],"original_language":"hi","original_name":"Pyaar Ke Saat Vachan - Dharam Patni","overview":"What will happen when Ravi Randhawa, a business tycoon, meets Pratiksha Parekh, a simple school teacher? Will sparks fly? Or is there no happy-ever-after for the opposite personalities?","popularity":2012.157,"poster_path":"/fMR23wg4yNsTEhqyYIfvzDAOEae.jpg","vote_average":6,"vote_count":1},{"backdrop_path":"/vW16JyrWiB1cW9wWzxhmjVHoqwJ.jpg","first_air_date":"2023-03-13","genre_ids":[10766],"id":217510,"name":"Queridos Papás","origin_country":["PT"],"original_language":"pt","original_name":"Queridos Papás","overview":"","popularity":1993.477,"poster_path":"/m1aGGAPvLpWF5cGhkQeZjbpu2nr.jpg","vote_average":6,"vote_count":2},{"backdrop_path":"/l7LRGYJY3NzIGBlpvHpMsNXHbm5.jpg","first_air_date":"2023-01-09","genre_ids":[10751,35],"id":218145,"name":"Mama na prenájom","origin_country":["SK"],"original_language":"sk","original_name":"Mama na prenájom","overview":"","popularity":1964.048,"poster_path":"/fH7PP2Rkdlo414IHvZABBHhtoqd.jpg","vote_average":8.5,"vote_count":2},{"backdrop_path":"/w9uM2biYWGqwEpvIYs8CXRoAdVB.jpg","first_air_date":"2023-02-26","genre_ids":[10764,10767],"id":221249,"name":"O Triângulo","origin_country":["PT"],"original_language":"pt","original_name":"O Triângulo","overview":"A series of physical, intellectual, emotional or psychological tests will test anonymous competitors, 24/7. In the end, only one will be victorious. Everything can change... At any time... When you least expect it!","popularity":1854.07,"poster_path":"/A2LE5B1IInR5h98OUNzyj9aQiIS.jpg","vote_average":2,"vote_count":1},{"backdrop_path":"/xkiv3e1daoqil5MRJitCJcwUgk2.jpg","first_air_date":"2021-10-31","genre_ids":[10764],"id":114294,"name":"Judy Justice","origin_country":["US"],"original_language":"en","original_name":"Judy Justice","overview":"The Honorable Judy Sheindlin, retired Judge of the Manhattan family Court, brings her signature blend of sharp wit and wisdom, hilarious candor and unwavering honesty that has made her America’s favorite judge for over 25 years, as she presides over real cases, arbitrates binding decisions and delivers what only she can: “Judy Justice.”","popularity":1723.765,"poster_path":"/4E8Rb9vPbixxC0ZdzSkvE5fpeQa.jpg","vote_average":4.1,"vote_count":7},{"backdrop_path":"/xYiI6QEZvx8Z4La1oHvApyZHpOU.jpg","first_air_date":"2023-01-16","genre_ids":[10766,35],"id":209117,"name":"Never Give Up","origin_country":["BR"],"original_language":"pt","original_name":"Vai na Fé","overview":"Sol is a hardworking woman who has the chance to work as a backing vocalist for a funk singer and return to dancing, as she did in her youth. Torn between family pressure and passion for the stage, she must face the judgment of her church''s members and conflicts with her family. The new chance will make her reconnect with her past in many ways, leading her to find her great youth love.","popularity":1574.388,"poster_path":"/6QNohzb7YUJ6eWZkXAYU8KGIq.jpg","vote_average":8.2,"vote_count":6},{"backdrop_path":"/3FLHePl9Y3n4BidLVjIA9qSRDOE.jpg","first_air_date":"2021-08-03","genre_ids":[10766],"id":130542,"name":"Bhagya Lakshmi","origin_country":["IN"],"original_language":"hi","original_name":"Bhagya Lakshmi","overview":"Hailing from a middle-class family, Lakshmi’s life is upended when she realises that her marriage to Rishi Oberoi, an industrialist’s son, is a sham to keep his death at bay.","popularity":1530.422,"poster_path":"/7wuKrFvbX7kAIF0ctotARsqayPo.jpg","vote_average":5,"vote_count":33},{"backdrop_path":"/4NcAz1QIqYnhe3u2pnVEVNwfTZf.jpg","first_air_date":"2020-10-05","genre_ids":[18,10766,10751],"id":111453,"name":"Ghum Hai Kisi Ke Pyaar Mein","origin_country":["IN"],"original_language":"hi","original_name":"घुम है किसिकी प्यार में","overview":"Virat sacrifices his love to honour the promise he made to a dying man. Trapped between the past and the present, will he find love beyond the chains of duty?","popularity":1214.89,"poster_path":"/uNjnoT3RChs2r7O9pDyx7TNBvIj.jpg","vote_average":5.6,"vote_count":38}],"total_pages":58,"total_results":1151}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        backdrop_path:
                          type: string
                          example: /mAJ84W6I8I272Da87qplS2Dp9ST.jpg
                        first_air_date:
                          type: string
                          example: '2023-01-23'
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 9648
                            default: 0
                        id:
                          type: integer
                          example: 202250
                          default: 0
                        name:
                          type: string
                          example: Dirty Linen
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: PH
                        original_language:
                          type: string
                          example: tl
                        original_name:
                          type: string
                          example: Dirty Linen
                        overview:
                          type: string
                          example: To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.
                        popularity:
                          type: number
                          example: 2797.914
                          default: 0
                        poster_path:
                          type: string
                          example: /aoAZgnmMzY9vVy9VWnO3U5PZENh.jpg
                        vote_average:
                          type: integer
                          example: 5
                          default: 0
                        vote_count:
                          type: integer
                          example: 13
                          default: 0
                  total_pages:
                    type: integer
                    example: 58
                    default: 0
                  total_results:
                    type: integer
                    example: 1151
                    default: 0
      deprecated: false
      tags:
      - TV
  /3/tv/popular:
    get:
      summary: Popular
      description: Get a list of TV shows ordered by popularity.
      operationId: tv-series-popular-list
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"backdrop_path":"/mAJ84W6I8I272Da87qplS2Dp9ST.jpg","first_air_date":"2023-01-23","genre_ids":[9648,18],"id":202250,"name":"Dirty Linen","origin_country":["PH"],"original_language":"tl","original_name":"Dirty Linen","overview":"To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.","popularity":2797.914,"poster_path":"/aoAZgnmMzY9vVy9VWnO3U5PZENh.jpg","vote_average":5,"vote_count":13},{"backdrop_path":"/wJmcuxa0C4AERmA9mejxm9qRYDj.jpg","first_air_date":"2022-06-06","genre_ids":[80,9648],"id":203504,"name":"Aashiqana","origin_country":["IN"],"original_language":"hi","original_name":"आशिकाना","overview":"A serial killer sparks the story of uptight Yashvardhan and feisty Chikki. Plagued by misunderstandings, how far do they have to go to nab the murderer?","popularity":2732.908,"poster_path":"/a4Z6Uohb6Ln5vcPvMUzwyn3WBjP.jpg","vote_average":6.1,"vote_count":10},{"backdrop_path":"/xGKTgJlqCkq6tAK2sOTdULh7YaX.jpg","first_air_date":"2022-10-10","genre_ids":[10766,18,35],"id":204370,"name":"The Path","origin_country":["BR"],"original_language":"pt","original_name":"Travessia","overview":"After having her life course changed by a fake image and losing her childhood sweetheart to greed and power, Brisa, a strong woman, will struggle to rebuild her journey, raise her son, rediscover true love, and discover the truth about her origin.","popularity":2658.721,"poster_path":"/raDj1xSVzBenwI87arenZY6eHmz.jpg","vote_average":4.7,"vote_count":16},{"backdrop_path":null,"first_air_date":"2005-09-05","genre_ids":[18,35],"id":36361,"name":"Ulice","origin_country":["CZ"],"original_language":"cs","original_name":"Ulice","overview":"Ulice is a Czech soap opera produced and broadcast by Nova. In the Czech language Ulice means street.\n\nThe show describes the lives of the Farský, Jordán, Boháč, Nikl, and Liška families and many other people that live in Prague. Their daily battle against real problems of living in a modern world like divorce, love, betrayal and illness or disease. Ulice often shows crime.","popularity":2539.81,"poster_path":"/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg","vote_average":2.2,"vote_count":10},{"backdrop_path":"/azWBrlovNOOdy0eQYEe9BoiROoN.jpg","first_air_date":"2023-03-20","genre_ids":[18,10766],"id":209085,"name":"Amor Perfeito","origin_country":["BR"],"original_language":"pt","original_name":"Amor Perfeito","overview":"","popularity":2366.021,"poster_path":"/aOPhyvHDauWFuc3rthpHArCNyrm.jpg","vote_average":3.5,"vote_count":4},{"backdrop_path":"/69Jblm3seQgiPuPQMrJqg9Nxhaz.jpg","first_air_date":"2011-01-10","genre_ids":[10763,10767],"id":101463,"name":"Al rojo vivo","origin_country":["ES"],"original_language":"es","original_name":"Al rojo vivo","overview":"","popularity":2184.062,"poster_path":"/ag6PmoBxkF2s1uY3An618NCEt3g.jpg","vote_average":1.5,"vote_count":4},{"backdrop_path":"/t2rAdgjSh0WYbXzdOB5zTDqzdCI.jpg","first_air_date":"2022-11-02","genre_ids":[18],"id":213713,"name":"Faltu","origin_country":["IN"],"original_language":"hi","original_name":"Faltu","overview":"What''s in a name? Amidst the arid landscape of Rajasthan, a young woman with dreamy eyes struggles to prove her worth.","popularity":2148.313,"poster_path":"/lgyFuoXs7GvKJN0mNm7z7OMOFuZ.jpg","vote_average":4.7,"vote_count":15},{"backdrop_path":"/3n2TjKw3HrwDqgVgcynvantOfS3.jpg","first_air_date":"2023-01-04","genre_ids":[18,10751],"id":215103,"name":"Teri Meri Doriyaann","origin_country":["IN"],"original_language":"hi","original_name":"Teri Meri Doriyaan","overview":"It’s hate at first sight for Sahiba and Angad! But destined to be together, their lives get intertwined by a marriage alliance, and a love-hate story ensues.","popularity":2092.051,"poster_path":"/4BHDmYiuSnNL3nqKIOzLJKYX4AN.jpg","vote_average":4.9,"vote_count":7},{"backdrop_path":"/1Xm0WqoT0DjZm5JdG2V6YFabrOz.jpg","first_air_date":"2023-02-13","genre_ids":[10759,35,18],"id":215803,"name":"Batang Quiapo","origin_country":["PH"],"original_language":"tl","original_name":"Batang Quiapo","overview":"A young man rises to be one of the biggest outlaws in the neighborhood while he navigates his way in life to survive in Quiapo. Hoping to earn the affection of his parents, his feat draws him closer to the truth about his identity.","popularity":2087.665,"poster_path":"/9McqS8mgMf5NJCAKZIY6J1oOl8y.jpg","vote_average":5.6,"vote_count":8},{"backdrop_path":null,"first_air_date":"2022-11-28","genre_ids":[18],"id":215315,"name":"Rabb Se Hai Dua","origin_country":["IN"],"original_language":"hi","original_name":"रब्ब से है दुआ","overview":"Dua and her husband are a perfect married couple in the eyes of their family. However, Dua’s life turns upside down when her husband seeks her permission to marry another woman.","popularity":2073.144,"poster_path":"/6ikbefd7VeopbBuGgioYMNU5bQj.jpg","vote_average":6,"vote_count":2},{"backdrop_path":"/lcSvkJ2Rob3ICIOCUJahw3kgSYZ.jpg","first_air_date":"2023-03-14","genre_ids":[18],"id":216390,"name":"Woman in a Veil","origin_country":["KR"],"original_language":"ko","original_name":"비밀의 여자","overview":"Jung Gyul Wool loses her vision and ability to walk because of her materialistic husband and his mistress. Despite her shortcomings, she hatches a plot to seek revenge.","popularity":2067.687,"poster_path":"/5ERr09UrnVm0hdXBeefNVtQMxI.jpg","vote_average":4.5,"vote_count":2},{"backdrop_path":"/aqJPC5GXuiVbedajRmdOVMCb7mC.jpg","first_air_date":"2022-12-05","genre_ids":[18,10751,10766],"id":215902,"name":"Katha Ankahee","origin_country":["IN"],"original_language":"hi","original_name":"कथा अनकही","overview":"Katha, a single parent, is in need of funds for her son''s medical treatment. She comes across Viaan, who offers help but his conditions put her in an awkward situation.","popularity":2062.237,"poster_path":"/uhXU0SMPMlemKGHmwbldM60qqmW.jpg","vote_average":10,"vote_count":1},{"backdrop_path":"/peqIR6V2zZdzp3MEZBCwtqw1Bf2.jpg","first_air_date":"2022-11-28","genre_ids":[18],"id":215426,"name":"Pyaar Ke Saat Vachan - Dharam Patni","origin_country":["IN"],"original_language":"hi","original_name":"Pyaar Ke Saat Vachan - Dharam Patni","overview":"What will happen when Ravi Randhawa, a business tycoon, meets Pratiksha Parekh, a simple school teacher? Will sparks fly? Or is there no happy-ever-after for the opposite personalities?","popularity":2012.157,"poster_path":"/fMR23wg4yNsTEhqyYIfvzDAOEae.jpg","vote_average":6,"vote_count":1},{"backdrop_path":"/vW16JyrWiB1cW9wWzxhmjVHoqwJ.jpg","first_air_date":"2023-03-13","genre_ids":[10766],"id":217510,"name":"Queridos Papás","origin_country":["PT"],"original_language":"pt","original_name":"Queridos Papás","overview":"","popularity":1993.477,"poster_path":"/m1aGGAPvLpWF5cGhkQeZjbpu2nr.jpg","vote_average":6,"vote_count":2},{"backdrop_path":"/l7LRGYJY3NzIGBlpvHpMsNXHbm5.jpg","first_air_date":"2023-01-09","genre_ids":[10751,35],"id":218145,"name":"Mama na prenájom","origin_country":["SK"],"original_language":"sk","original_name":"Mama na prenájom","overview":"","popularity":1964.048,"poster_path":"/fH7PP2Rkdlo414IHvZABBHhtoqd.jpg","vote_average":8.5,"vote_count":2},{"backdrop_path":"/w9uM2biYWGqwEpvIYs8CXRoAdVB.jpg","first_air_date":"2023-02-26","genre_ids":[10764,10767],"id":221249,"name":"O Triângulo","origin_country":["PT"],"original_language":"pt","original_name":"O Triângulo","overview":"A series of physical, intellectual, emotional or psychological tests will test anonymous competitors, 24/7. In the end, only one will be victorious. Everything can change... At any time... When you least expect it!","popularity":1854.07,"poster_path":"/A2LE5B1IInR5h98OUNzyj9aQiIS.jpg","vote_average":2,"vote_count":1},{"backdrop_path":"/xkiv3e1daoqil5MRJitCJcwUgk2.jpg","first_air_date":"2021-10-31","genre_ids":[10764],"id":114294,"name":"Judy Justice","origin_country":["US"],"original_language":"en","original_name":"Judy Justice","overview":"The Honorable Judy Sheindlin, retired Judge of the Manhattan family Court, brings her signature blend of sharp wit and wisdom, hilarious candor and unwavering honesty that has made her America’s favorite judge for over 25 years, as she presides over real cases, arbitrates binding decisions and delivers what only she can: “Judy Justice.”","popularity":1723.765,"poster_path":"/4E8Rb9vPbixxC0ZdzSkvE5fpeQa.jpg","vote_average":4.1,"vote_count":7},{"backdrop_path":"/xYiI6QEZvx8Z4La1oHvApyZHpOU.jpg","first_air_date":"2023-01-16","genre_ids":[10766,35],"id":209117,"name":"Never Give Up","origin_country":["BR"],"original_language":"pt","original_name":"Vai na Fé","overview":"Sol is a hardworking woman who has the chance to work as a backing vocalist for a funk singer and return to dancing, as she did in her youth. Torn between family pressure and passion for the stage, she must face the judgment of her church''s members and conflicts with her family. The new chance will make her reconnect with her past in many ways, leading her to find her great youth love.","popularity":1574.388,"poster_path":"/6QNohzb7YUJ6eWZkXAYU8KGIq.jpg","vote_average":8.2,"vote_count":6},{"backdrop_path":"/3FLHePl9Y3n4BidLVjIA9qSRDOE.jpg","first_air_date":"2021-08-03","genre_ids":[10766],"id":130542,"name":"Bhagya Lakshmi","origin_country":["IN"],"original_language":"hi","original_name":"Bhagya Lakshmi","overview":"Hailing from a middle-class family, Lakshmi’s life is upended when she realises that her marriage to Rishi Oberoi, an industrialist’s son, is a sham to keep his death at bay.","popularity":1530.422,"poster_path":"/7wuKrFvbX7kAIF0ctotARsqayPo.jpg","vote_average":5,"vote_count":33},{"backdrop_path":"/4NcAz1QIqYnhe3u2pnVEVNwfTZf.jpg","first_air_date":"2020-10-05","genre_ids":[18,10766,10751],"id":111453,"name":"Ghum Hai Kisi Ke Pyaar Mein","origin_country":["IN"],"original_language":"hi","original_name":"घुम है किसिकी प्यार में","overview":"Virat sacrifices his love to honour the promise he made to a dying man. Trapped between the past and the present, will he find love beyond the chains of duty?","popularity":1214.89,"poster_path":"/uNjnoT3RChs2r7O9pDyx7TNBvIj.jpg","vote_average":5.6,"vote_count":38}],"total_pages":7416,"total_results":148302}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        backdrop_path:
                          type: string
                          example: /mAJ84W6I8I272Da87qplS2Dp9ST.jpg
                        first_air_date:
                          type: string
                          example: '2023-01-23'
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 9648
                            default: 0
                        id:
                          type: integer
                          example: 202250
                          default: 0
                        name:
                          type: string
                          example: Dirty Linen
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: PH
                        original_language:
                          type: string
                          example: tl
                        original_name:
                          type: string
                          example: Dirty Linen
                        overview:
                          type: string
                          example: To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.
                        popularity:
                          type: number
                          example: 2797.914
                          default: 0
                        poster_path:
                          type: string
                          example: /aoAZgnmMzY9vVy9VWnO3U5PZENh.jpg
                        vote_average:
                          type: integer
                          example: 5
                          default: 0
                        vote_count:
                          type: integer
                          example: 13
                          default: 0
                  total_pages:
                    type: integer
                    example: 7416
                    default: 0
                  total_results:
                    type: integer
                    example: 148302
                    default: 0
      deprecated: false
      tags:
      - TV
  /3/tv/top_rated:
    get:
      summary: Top Rated
      description: Get a list of TV shows ordered by rating.
      operationId: tv-series-top-rated-list
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"backdrop_path":"/99vBORZixICa32Pwdwj0lWcr8K.jpg","first_air_date":"2021-09-03","genre_ids":[10764],"id":130392,"name":"The D''Amelio Show","origin_country":["US"],"original_language":"en","original_name":"The D''Amelio Show","overview":"From relative obscurity and a seemingly normal life, to overnight success and thrust into the Hollywood limelight overnight, the D’Amelios are faced with new challenges and opportunities they could not have imagined.","popularity":12.459,"poster_path":"/phv2Jc4H8cvRzvTKb9X1uKMboTu.jpg","vote_average":8.9,"vote_count":3190},{"backdrop_path":"/bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg","first_air_date":"2008-01-20","genre_ids":[18,80],"id":1396,"name":"Breaking Bad","origin_country":["US"],"original_language":"en","original_name":"Breaking Bad","overview":"When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family''s financial future at any cost as he enters the dangerous world of drugs and crime.","popularity":292.904,"poster_path":"/ggFHVNu6YYI5L9pCfOacjizRGt.jpg","vote_average":8.9,"vote_count":11543},{"backdrop_path":"/rkB4LyZHo1NHXFEDHl9vSD9r1lI.jpg","first_air_date":"2021-11-06","genre_ids":[16,10765,10759,18],"id":94605,"name":"Arcane","origin_country":["US"],"original_language":"en","original_name":"Arcane","overview":"Amid the stark discord of twin cities Piltover and Zaun, two sisters fight on rival sides of a war between magic technologies and clashing convictions.","popularity":56.77,"poster_path":"/fqldf2t8ztc9aiwn3k6mlX3tvRT.jpg","vote_average":8.8,"vote_count":3002},{"backdrop_path":"/uDgy6hyPd82kOHh6I95FLtLnj6p.jpg","first_air_date":"2023-01-15","genre_ids":[18],"id":100088,"name":"The Last of Us","origin_country":["US"],"original_language":"en","original_name":"The Last of Us","overview":"Twenty years after modern civilization has been destroyed, Joel, a hardened survivor, is hired to smuggle Ellie, a 14-year-old girl, out of an oppressive quarantine zone. What starts as a small job soon becomes a brutal, heartbreaking journey, as they both must traverse the United States and depend on each other for survival.","popularity":636.128,"poster_path":"/uKvVjHNqB5VmOrdxqAt2F7J78ED.jpg","vote_average":8.7,"vote_count":3281},{"backdrop_path":"/uGy4DCmM33I7l86W7iCskNkvmLD.jpg","first_air_date":"2013-12-02","genre_ids":[16,35,10765,10759],"id":60625,"name":"Rick and Morty","origin_country":["US"],"original_language":"en","original_name":"Rick and Morty","overview":"Rick is a mentally-unbalanced but scientifically gifted old man who has recently reconnected with his family. He spends most of his time involving his young grandson Morty in dangerous, outlandish adventures throughout space and alternate universes. Compounded with Morty''s already unstable family life, these events cause Morty much distress at home and school.","popularity":310.022,"poster_path":"/cvhNj9eoRBe5SxjCbQTkh05UP5K.jpg","vote_average":8.7,"vote_count":8149},{"backdrop_path":"/4Mt7WHox67uJ1yErwTBFcV8KWgG.jpg","first_air_date":"1999-10-20","genre_ids":[10759,35,16],"id":37854,"name":"One Piece","origin_country":["JP"],"original_language":"ja","original_name":"ワンピース","overview":"Years ago, the fearsome Pirate King, Gol D. Roger was executed leaving a huge pile of treasure and the famous \"One Piece\" behind. Whoever claims the \"One Piece\" will be named the new King of the Pirates.\n\nMonkey D. Luffy, a boy who consumed a \"Devil Fruit,\" decides to follow in the footsteps of his idol, the pirate Shanks, and find the One Piece. It helps, of course, that his body has the properties of rubber and that he''s surrounded by a bevy of skilled fighters and thieves to help him along the way.\n\nLuffy will do anything to get the One Piece and become King of the Pirates!","popularity":107.016,"poster_path":"/e3NBGiAifW9Xt8xD5tpARskjccO.jpg","vote_average":8.7,"vote_count":3709},{"backdrop_path":"/2UG177tWHy7xRmMKWJHB7nAUmKd.jpg","first_air_date":"2009-04-05","genre_ids":[10759,16,10765],"id":31911,"name":"Fullmetal Alchemist: Brotherhood","origin_country":["JP"],"original_language":"ja","original_name":"鋼の錬金術師 FULLMETAL ALCHEMIST","overview":"Edward and Alphonse Elric''s reckless disregard for alchemy''s fun­damental laws ripped half of Ed''s limbs from his body and left Al''s soul clinging to a cold suit of armor. To restore what was lost, the brothers scour a war-torn land for the Philosopher''s Sto­ne, a fabled relic which grants the ability to perform alchemy in impossible ways.\n\nThe Elrics are not alone in their search; the corrupt State Military is also eager to harness the artifact''s power. So too are the strange Homunculi and their shadowy creator. The mythical gem lures exotic alchemists from distant kingdoms, scarring some deeply enough to inspire murder. As the Elrics find their course altered by these enemies and allies, their purpose remains unchanged – and their bond unbreakable.","popularity":60.3,"poster_path":"/5ZFUEOULaVml7pQuXxhpR2SmVUw.jpg","vote_average":8.7,"vote_count":1615},{"backdrop_path":"/70YdbMELM4b8x8VXjlubymb2bQ0.jpg","first_air_date":"2017-03-19","genre_ids":[18,10751],"id":70785,"name":"Anne with an E","origin_country":["CA"],"original_language":"en","original_name":"Anne with an E","overview":"A coming-of-age story about an outsider who, against all odds and numerous challenges, fights for love and acceptance and for her place in the world. The series centers on a young orphaned girl in the late 1890’s, who, after an abusive childhood spent in orphanages and the homes of strangers, is mistakenly sent to live with an elderly woman and her aging brother. Over time, 13-year-old Anne will transform their lives and eventually the small town in which they live with her unique spirit, fierce intellect and brilliant imagination.","popularity":67.034,"poster_path":"/6P6tXhjT5tK3qOXzxF9OMLlG7iz.jpg","vote_average":8.7,"vote_count":4241},{"backdrop_path":"/smSbK5cd8T9XHcxEUcems23BDEF.jpg","first_air_date":"2016-12-02","genre_ids":[18,10765,35],"id":67915,"name":"Goblin","origin_country":["KR"],"original_language":"ko","original_name":"쓸쓸하고 찬란하神-도깨비","overview":"In his quest for a bride to break his immortal curse, a 939-year-old guardian of souls meets a grim reaper and a sprightly student with a tragic past.","popularity":86.058,"poster_path":"/t7aUi8jbsIUSCNqA1akAbKjBWjU.jpg","vote_average":8.7,"vote_count":2461},{"backdrop_path":"/nTvM4mhqNlHIvUkI1gVnW6XP7GG.jpg","first_air_date":"2019-04-06","genre_ids":[16,10759,10765],"id":85937,"name":"Demon Slayer: Kimetsu no Yaiba","origin_country":["JP"],"original_language":"ja","original_name":"鬼滅の刃","overview":"It is the Taisho Period in Japan. Tanjiro, a kindhearted boy who sells charcoal for a living, finds his family slaughtered by a demon. To make matters worse, his younger sister Nezuko, the sole survivor, has been transformed into a demon herself. Though devastated by this grim reality, Tanjiro resolves to become a “demon slayer” so that he can turn his sister back into a human, and kill the demon that massacred his family.","popularity":269.182,"poster_path":"/xUfRZu2mi8jH6SzQEJGP6tjBuYj.jpg","vote_average":8.7,"vote_count":5096},{"backdrop_path":"/3ILMlmC30QUnYkY3XEBOyJ82Dqu.jpg","first_air_date":"2016-04-03","genre_ids":[10759,16],"id":65930,"name":"My Hero Academia","origin_country":["JP"],"original_language":"ja","original_name":"僕のヒーローアカデミア","overview":"In a world where eighty percent of the population has some kind of super-powered Quirk, Izuku was unlucky enough to be born completely normal. But that won''t stop him from enrolling in a prestigious hero academy. Now, he''ll get his first taste of brutal rivalry from other schools as he braves the cutthroat, no-holds-barred provisional license exam.","popularity":53.883,"poster_path":"/ivOLM47yJt90P19RH1NvJrAJz9F.jpg","vote_average":8.7,"vote_count":4296},{"backdrop_path":"/6UH52Fmau8RPsMAbQbjwN3wJSCj.jpg","first_air_date":"2021-03-25","genre_ids":[16,10765,10759,18],"id":95557,"name":"Invincible","origin_country":["US"],"original_language":"en","original_name":"Invincible","overview":"Mark Grayson is a normal teenager except for the fact that his father is the most powerful superhero on the planet. Shortly after his seventeenth birthday, Mark begins to develop powers of his own and enters into his father’s tutelage.","popularity":52.092,"poster_path":"/yDWJYRAwMNKbIYT8ZB33qy84uzO.jpg","vote_average":8.7,"vote_count":3461},{"backdrop_path":"/5DUMPBSnHOZsbBv81GFXZXvDpo6.jpg","first_air_date":"2022-10-12","genre_ids":[16,10759,10765,35],"id":114410,"name":"Chainsaw Man","origin_country":["JP"],"original_language":"ja","original_name":"チェンソーマン","overview":"Denji has a simple dream—to live a happy and peaceful life, spending time with a girl he likes. This is a far cry from reality, however, as Denji is forced by the yakuza into killing devils in order to pay off his crushing debts. Using his pet devil Pochita as a weapon, he is ready to do anything for a bit of cash.","popularity":195.219,"poster_path":"/npdB6eFzizki0WaZ1OvKcJrWe97.jpg","vote_average":8.7,"vote_count":1015},{"backdrop_path":"/cHyY5z4txdVyGtYMvBJhCqCcJso.jpg","first_air_date":"2020-01-10","genre_ids":[16,10765,18,10751,10759,35],"id":92685,"name":"The Owl House","origin_country":["US"],"original_language":"en","original_name":"The Owl House","overview":"An animated fantasy-comedy series that follows Luz, a self-assured teenage girl who accidentally stumbles upon a portal to a magical world where she befriends a rebellious witch, Eda, and an adorably tiny warrior, King. Despite not having magical abilities, Luz pursues her dream of becoming a witch by serving as Eda''s apprentice at the Owl House and ultimately finds a new family in an unlikely setting.","popularity":218.671,"poster_path":"/zhdy3PcNVE15wj1wrxn45ARZBnx.jpg","vote_average":8.7,"vote_count":1290},{"backdrop_path":"/2vbE9ajftJ7dkqUAyxDS0WFILx8.jpg","first_air_date":"2010-09-06","genre_ids":[16,35],"id":31132,"name":"Regular Show","origin_country":["US"],"original_language":"en","original_name":"Regular Show","overview":"Two bored groundskeepers, Mordecai (a six-foot-tall blue jay) and Rigby (a hyperactive raccoon) are best friends who spend their days trying to entertain themselves by any means necessary, much to the displeasure of their boss. Their everyday pursuits often lead to things spiraling out of control and into the surreal.","popularity":222.893,"poster_path":"/mS5SLxMYcKfUxA0utBSR5MOAWWr.jpg","vote_average":8.7,"vote_count":1683},{"backdrop_path":"/kU98MbVVgi72wzceyrEbClZmMFe.jpg","first_air_date":"2005-02-21","genre_ids":[16,10759,10765],"id":246,"name":"Avatar: The Last Airbender","origin_country":["US"],"original_language":"en","original_name":"Avatar: The Last Airbender","overview":"In a war-torn world of elemental magic, a young boy reawakens to undertake a dangerous mystic quest to fulfill his destiny as the Avatar, and bring peace to the world.","popularity":58.276,"poster_path":"/cHFZA8Tlv03nKTGXhLOYOLtqoSm.jpg","vote_average":8.7,"vote_count":3245},{"backdrop_path":"/dJ8yrSokdTMnhKJw06MllSfCegb.jpg","first_air_date":"2019-01-12","genre_ids":[16,35,18],"id":83121,"name":"Kaguya-sama: Love Is War","origin_country":["JP"],"original_language":"ja","original_name":"かぐや様は告らせたい～天才たちの恋愛頭脳戦～","overview":"Considered a genius due to having the highest grades in the country, Miyuki Shirogane leads the prestigious Shuchiin Academy''s student council as its president, working alongside the beautiful and wealthy vice president Kaguya Shinomiya. The two are often regarded as the perfect couple by students despite them not being in any sort of romantic relationship.","popularity":77.385,"poster_path":"/5khbC6AuNgnvnoDbjIMKCOhEtIc.jpg","vote_average":8.7,"vote_count":608},{"backdrop_path":"/nBZyWSGAUEzCH7Mna0zUNTpBQlQ.jpg","first_air_date":"2022-06-18","genre_ids":[18,10759,9648,10765],"id":135157,"name":"Alchemy of Souls","origin_country":["KR"],"original_language":"ko","original_name":"환혼","overview":"A powerful sorceress in a blind woman''s body encounters a man from a prestigious family, who wants her help to change his destiny.","popularity":116.488,"poster_path":"/q2IiPRSXPOZ6qVRj36WRAYEQyHs.jpg","vote_average":8.7,"vote_count":339},{"backdrop_path":"/nGfjgUlES2WuYrHXNNF4fbGe2Eq.jpg","first_air_date":"2019-10-08","genre_ids":[10759,16,18],"id":89456,"name":"Primal","origin_country":["US"],"original_language":"en","original_name":"Primal","overview":"A caveman forms a bond with a dinosaur as they struggle to survive in a hostile world.","popularity":38.181,"poster_path":"/jflPzxYbM4MxxCppo2AbvSbTOLm.jpg","vote_average":8.7,"vote_count":1175},{"backdrop_path":"/tKh3pc5MEjCIGV7hSJX76qi8aGA.jpg","first_air_date":"2018-01-13","genre_ids":[16],"id":76121,"name":"DARLING in the FRANXX","origin_country":["JP"],"original_language":"ja","original_name":"ダーリン・イン・ザ・フランキス","overview":"The story is set in the distant future. The land is ruined, and humanity establishes the mobile fort city Plantation. Pilots produced inside Plantation live in Mistilteinn, also know as the \"birdcage.\" Children live there knowing nothing of the outside world or the freedom of the sky. Their lives consist of battling to carry out missions. Their enemies are mysterious giant lifeforms known as Kyouryuu, and the children pilot robots called Franxx to face off against them. For the children, riding the Franxx proves their existence.\n\nA boy named Hiro is called Code:016, and he was once known as a prodigy. However, he has fallen behind, and his existence seems unnecessary. Not piloting a Franxx is the same as ceasing to exist. One day, a mysterious girl known as \"Zero Two\" appears before him. Two horns grow out of her head.","popularity":47.233,"poster_path":"/rR8HgnD9tqFaSiJ69FpruHo9Gm9.jpg","vote_average":8.7,"vote_count":1668}],"total_pages":142,"total_results":2833}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        backdrop_path:
                          type: string
                          example: /99vBORZixICa32Pwdwj0lWcr8K.jpg
                        first_air_date:
                          type: string
                          example: '2021-09-03'
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 10764
                            default: 0
                        id:
                          type: integer
                          example: 130392
                          default: 0
                        name:
                          type: string
                          example: The D'Amelio Show
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: US
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: The D'Amelio Show
                        overview:
                          type: string
                          example: From relative obscurity and a seemingly normal life, to overnight success and thrust into the Hollywood limelight overnight, the D’Amelios are faced with new challenges and opportunities they could not have imagined.
                        popularity:
                          type: number
                          example: 12.459
                          default: 0
                        poster_path:
                          type: string
                          example: /phv2Jc4H8cvRzvTKb9X1uKMboTu.jpg
                        vote_average:
                          type: number
                          example: 8.9
                          default: 0
                        vote_count:
                          type: integer
                          example: 3190
                          default: 0
                  total_pages:
                    type: integer
                    example: 142
                    default: 0
                  total_results:
                    type: integer
                    example: 2833
                    default: 0
      deprecated: false
      tags:
      - TV
  /3/tv/{series_id}:
    get:
      summary: Details
      description: Get the details of a TV show.
      operationId: tv-series-details
      parameters:
      - name: series_id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      - name: append_to_response
        in: query
        description: comma separated list of endpoints within this namespace, 20 items max
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"adult\": false,\n  \"backdrop_path\": \"/6LWy0jvMpmjoS9fojNgHIKoWL05.jpg\",\n  \"created_by\": [\n    {\n      \"id\": 9813,\n      \"credit_id\": \"5256c8c219c2956ff604858a\",\n      \"name\": \"David Benioff\",\n      \"gender\": 2,\n      \"profile_path\": \"/xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg\"\n    },\n    {\n      \"id\": 228068,\n      \"credit_id\": \"552e611e9251413fea000901\",\n      \"name\": \"D.B. Weiss\",\n      \"gender\": 2,\n      \"profile_path\": \"/2RMejaT793U9KRk2IEbFfteQntE.jpg\"\n    }\n  ],\n  \"episode_run_time\": [\n    60\n  ],\n  \"first_air_date\": \"2011-04-17\",\n  \"genres\": [\n    {\n      \"id\": 10765,\n      \"name\": \"Sci-Fi & Fantasy\"\n    },\n    {\n      \"id\": 18,\n      \"name\": \"Drama\"\n    },\n    {\n      \"id\": 10759,\n      \"name\": \"Action & Adventure\"\n    }\n  ],\n  \"homepage\": \"http://www.hbo.com/game-of-thrones\",\n  \"id\": 1399,\n  \"in_production\": false,\n  \"languages\": [\n    \"en\"\n  ],\n  \"last_air_date\": \"2019-05-19\",\n  \"last_episode_to_air\": {\n    \"id\": 1551830,\n    \"name\": \"The Iron Throne\",\n    \"overview\": \"In the aftermath of the devastating attack on King's Landing, Daenerys must face the survivors.\",\n    \"vote_average\": 4.809,\n    \"vote_count\": 241,\n    \"air_date\": \"2019-05-19\",\n    \"episode_number\": 6,\n    \"production_code\": \"806\",\n    \"runtime\": 80,\n    \"season_number\": 8,\n    \"show_id\": 1399,\n    \"still_path\": \"/zBi2O5EJfgTS6Ae0HdAYLm9o2nf.jpg\"\n  },\n  \"name\": \"Game of Thrones\",\n  \"next_episode_to_air\": null,\n  \"networks\": [\n    {\n      \"id\": 49,\n      \"logo_path\": \"/tuomPhY2UtuPTqqFnKMVHvSb724.png\",\n      \"name\": \"HBO\",\n      \"origin_country\": \"US\"\n    }\n  ],\n  \"number_of_episodes\": 73,\n  \"number_of_seasons\": 8,\n  \"origin_country\": [\n    \"US\"\n  ],\n  \"original_language\": \"en\",\n  \"original_name\": \"Game of Thrones\",\n  \"overview\": \"Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and icy horrors beyond.\",\n  \"popularity\": 346.098,\n  \"poster_path\": \"/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg\",\n  \"production_companies\": [\n    {\n      \"id\": 76043,\n      \"logo_path\": \"/9RO2vbQ67otPrBLXCaC8UMp3Qat.png\",\n      \"name\": \"Revolution Sun Studios\",\n      \"origin_country\": \"US\"\n    },\n    {\n      \"id\": 12525,\n      \"logo_path\": null,\n      \"name\": \"Television 360\",\n      \"origin_country\": \"\"\n    },\n    {\n      \"id\": 5820,\n      \"logo_path\": null,\n      \"name\": \"Generator Entertainment\",\n      \"origin_country\": \"GB\"\n    },\n    {\n      \"id\": 12526,\n      \"logo_path\": null,\n      \"name\": \"Bighead Littlehead\",\n      \"origin_country\": \"\"\n    }\n  ],\n  \"production_countries\": [\n    {\n      \"iso_3166_1\": \"GB\",\n      \"name\": \"United Kingdom\"\n    },\n    {\n      \"iso_3166_1\": \"US\",\n      \"name\": \"United States of America\"\n    }\n  ],\n  \"seasons\": [\n    {\n      \"air_date\": \"2010-12-05\",\n      \"episode_count\": 272,\n      \"id\": 3627,\n      \"name\": \"Specials\",\n      \"overview\": \"\",\n      \"poster_path\": \"/kMTcwNRfFKCZ0O2OaBZS0nZ2AIe.jpg\",\n      \"season_number\": 0,\n      \"vote_average\": 0\n    },\n    {\n      \"air_date\": \"2011-04-17\",\n      \"episode_count\": 10,\n      \"id\": 3624,\n      \"name\": \"Season 1\",\n      \"overview\": \"Trouble is brewing in the Seven Kingdoms of Westeros. For the driven inhabitants of this visionary world, control of Westeros' Iron Throne holds the lure of great power. But in a land where the seasons can last a lifetime, winter is coming...and beyond the Great Wall that protects them, an ancient evil has returned. In Season One, the story centers on three primary areas: the Stark and the Lannister families, whose designs on controlling the throne threaten a tenuous peace; the dragon princess Daenerys, heir to the former dynasty, who waits just over the Narrow Sea with her malevolent brother Viserys; and the Great Wall--a massive barrier of ice where a forgotten danger is stirring.\",\n      \"poster_path\": \"/wgfKiqzuMrFIkU1M68DDDY8kGC1.jpg\",\n      \"season_number\": 1,\n      \"vote_average\": 8.3\n    },\n    {\n      \"air_date\": \"2012-04-01\",\n      \"episode_count\": 10,\n      \"id\": 3625,\n      \"name\": \"Season 2\",\n      \"overview\": \"The cold winds of winter are rising in Westeros...war is coming...and five kings continue their savage quest for control of the all-powerful Iron Throne. With winter fast approaching, the coveted Iron Throne is occupied by the cruel Joffrey, counseled by his conniving mother Cersei and uncle Tyrion. But the Lannister hold on the Throne is under assault on many fronts. Meanwhile, a new leader is rising among the wildings outside the Great Wall, adding new perils for Jon Snow and the order of the Night's Watch.\",\n      \"poster_path\": \"/9xfNkPwDOqyeUvfNhs1XlWA0esP.jpg\",\n      \"season_number\": 2,\n      \"vote_average\": 8.2\n    },\n    {\n      \"air_date\": \"2013-03-31\",\n      \"episode_count\": 10,\n      \"id\": 3626,\n      \"name\": \"Season 3\",\n      \"overview\": \"Duplicity and treachery...nobility and honor...conquest and triumph...and, of course, dragons. In Season 3, family and loyalty are the overarching themes as many critical storylines from the first two seasons come to a brutal head. Meanwhile, the Lannisters maintain their hold on King's Landing, though stirrings in the North threaten to alter the balance of power; Robb Stark, King of the North, faces a major calamity as he tries to build on his victories; a massive army of wildlings led by Mance Rayder march for the Wall; and Daenerys Targaryen--reunited with her dragons--attempts to raise an army in her quest for the Iron Throne.\",\n      \"poster_path\": \"/5MkZjRnCKiIGn3bkXrXfndEzqOU.jpg\",\n      \"season_number\": 3,\n      \"vote_average\": 8.2\n    },\n    {\n      \"air_date\": \"2014-04-06\",\n      \"episode_count\": 10,\n      \"id\": 3628,\n      \"name\": \"Season 4\",\n      \"overview\": \"The War of the Five Kings is drawing to a close, but new intrigues and plots are in motion, and the surviving factions must contend with enemies not only outside their ranks, but within.\",\n      \"poster_path\": \"/jXIMScXE4J4EVHUba1JgxZnWbo4.jpg\",\n      \"season_number\": 4,\n      \"vote_average\": 8.4\n    },\n    {\n      \"air_date\": \"2015-04-12\",\n      \"episode_count\": 10,\n      \"id\": 62090,\n      \"name\": \"Season 5\",\n      \"overview\": \"The War of the Five Kings, once thought to be drawing to a close, is instead entering a new and more chaotic phase. Westeros is on the brink of collapse, and many are seizing what they can while the realm implodes, like a corpse making a feast for crows.\",\n      \"poster_path\": \"/7Q1Hy1AHxAzA2lsmzEMBvuWTX0x.jpg\",\n      \"season_number\": 5,\n      \"vote_average\": 8.2\n    },\n    {\n      \"air_date\": \"2016-04-24\",\n      \"episode_count\": 10,\n      \"id\": 71881,\n      \"name\": \"Season 6\",\n      \"overview\": \"Following the shocking developments at the conclusion of season five, survivors from all parts of Westeros and Essos regroup to press forward, inexorably, towards their uncertain individual fates. Familiar faces will forge new alliances to bolster their strategic chances at survival, while new characters will emerge to challenge the balance of power in the east, west, north and south.\",\n      \"poster_path\": \"/p1udLh0gfqyZFmXBGa393gk8go5.jpg\",\n      \"season_number\": 6,\n      \"vote_average\": 8.3\n    },\n    {\n      \"air_date\": \"2017-07-16\",\n      \"episode_count\": 7,\n      \"id\": 81266,\n      \"name\": \"Season 7\",\n      \"overview\": \"The long winter is here. And with it comes a convergence of armies and attitudes that have been brewing for years.\",\n      \"poster_path\": \"/oX51n32QyHeFP5kErksemJsJljL.jpg\",\n      \"season_number\": 7,\n      \"vote_average\": 8.2\n    },\n    {\n      \"air_date\": \"2019-04-14\",\n      \"episode_count\": 6,\n      \"id\": 107971,\n      \"name\": \"Season 8\",\n      \"overview\": \"The Great War has come, the Wall has fallen and the Night King's army of the dead marches towards Westeros. The end is here, but who will take the Iron Throne?\",\n      \"poster_path\": \"/3OcQhbrecf4F4pYss2gSirTGPvD.jpg\",\n      \"season_number\": 8,\n      \"vote_average\": 6.5\n    }\n  ],\n  \"spoken_languages\": [\n    {\n      \"english_name\": \"English\",\n      \"iso_639_1\": \"en\",\n      \"name\": \"English\"\n    }\n  ],\n  \"status\": \"Ended\",\n  \"tagline\": \"Winter Is Coming\",\n  \"type\": \"Scripted\",\n  \"vote_average\": 8.438,\n  \"vote_count\": 21390\n}"
              schema:
                type: object
                properties:
                  adult:
                    type: boolean
                    example: false
                    default: true
                  backdrop_path:
                    type: string
                    example: /6LWy0jvMpmjoS9fojNgHIKoWL05.jpg
                  created_by:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 9813
                          default: 0
                        credit_id:
                          type: string
                          example: 5256c8c219c2956ff604858a
                        name:
                          type: string
                          example: David Benioff
                        gender:
                          type: integer
                          example: 2
                          default: 0
                        profile_path:
                          type: string
                          example: /xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg
                  episode_run_time:
                    type: array
                    items:
                      type: integer
                      example: 60
                      default: 0
                  first_air_date:
                    type: string
                    example: '2011-04-17'
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 10765
                          default: 0
                        name:
                          type: string
                          example: Sci-Fi & Fantasy
                  homepage:
                    type: string
                    example: http://www.hbo.com/game-of-thrones
                  id:
                    type: integer
                    example: 1399
                    default: 0
                  in_production:
                    type: boolean
                    example: false
                    default: true
                  languages:
                    type: array
                    items:
                      type: string
                      example: en
                  last_air_date:
                    type: string
                    example: '2019-05-19'
                  last_episode_to_air:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1551830
                        default: 0
                      name:
                        type: string
                        example: The Iron Throne
                      overview:
                        type: string
                        example: In the aftermath of the devastating attack on King's Landing, Daenerys must face the survivors.
                      vote_average:
                        type: number
                        example: 4.809
                        default: 0
                      vote_count:
                        type: integer
                        example: 241
                        default: 0
                      air_date:
                        type: string
                        example: '2019-05-19'
                      episode_number:
                        type: integer
                        example: 6
                        default: 0
                      production_code:
                        type: string
                        example: '806'
                      runtime:
                        type: integer
                        example: 80
                        default: 0
                      season_number:
                        type: integer
                        example: 8
                        default: 0
                      show_id:
                        type: integer
                        example: 1399
                        default: 0
                      still_path:
                        type: string
                        example: /zBi2O5EJfgTS6Ae0HdAYLm9o2nf.jpg
                  name:
                    type: string
                    example: Game of Thrones
                  next_episode_to_air: {}
                  networks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 49
                          default: 0
                        logo_path:
                          type: string
                          example: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                        name:
                          type: string
                          example: HBO
                        origin_country:
                          type: string
                          example: US
                  number_of_episodes:
                    type: integer
                    example: 73
                    default: 0
                  number_of_seasons:
                    type: integer
                    example: 8
                    default: 0
                  origin_country:
                    type: array
                    items:
                      type: string
                      example: US
                  original_language:
                    type: string
                    example: en
                  original_name:
                    type: string
                    example: Game of Thrones
                  overview:
                    type: string
                    example: Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and icy horrors beyond.
                  popularity:
                    type: number
                    example: 346.098
                    default: 0
                  poster_path:
                    type: string
                    example: /1XS1oqL89opfnbLl8WnZY1O1uJx.jpg
                  production_companies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 76043
                          default: 0
                        logo_path:
                          type: string
                          example: /9RO2vbQ67otPrBLXCaC8UMp3Qat.png
                        name:
                          type: string
                          example: Revolution Sun Studios
                        origin_country:
                          type: string
                          example: US
                  production_countries:
                    type: array
                    items:
                      type: object
                      properties:
                        iso_3166_1:
                          type: string
                          example: GB
                        name:
                          type: string
                          example: United Kingdom
                  seasons:
                    type: array
                    items:
                      type: object
                      properties:
                        air_date:
                          type: string
                          example: '2010-12-05'
                        episode_count:
                          type: integer
                          example: 272
                          default: 0
                        id:
                          type: integer
                          example: 3627
                          default: 0
                        name:
                          type: string
                          example: Specials
                        overview:
                          type: string
                          example: ''
                        poster_path:
                          type: string
                          example: /kMTcwNRfFKCZ0O2OaBZS0nZ2AIe.jpg
                        season_number:
                          type: integer
                          example: 0
                          default: 0
                        vote_average:
                          type: integer
                          example: 0
                          default: 0
                  spoken_languages:
                    type: array
                    items:
                      type: object
                      properties:
                        english_name:
                          type: string
                          example: English
                        iso_639_1:
                          type: string
                          example: en
                        name:
                          type: string
                          example: English
                  status:
                    type: string
                    example: Ended
                  tagline:
                    type: string
                    example: Winter Is Coming
                  type:
                    type: string
                    example: Scripted
                  vote_average:
                    type: number
                    example: 8.438
                    default: 0
                  vote_count:
                    type: integer
                    example: 21390
                    default: 0
      deprecated: false
      tags:
      - TV
  /3/tv/{series_id}/account_states:
    get:
      summary: Account States
      description: Get the rating, watchlist and favourite status.
      operationId: tv-series-account-states
      parameters:
      - name: series_id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      - name: session_id
        in: query
        schema:
          type: string
      - name: guest_session_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"id":550,"favorite":true,"rated":{"value":9.0},"watchlist":false}'
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 550
                    default: 0
                  favorite:
                    type: boolean
                    example: true
                    default: true
                  rated:
                    type: object
                    properties:
                      value:
                        type: integer
                        example: 9
                        default: 0
                  watchlist:
                    type: boolean
                    example: false
                    default: true
      deprecated: false
      tags:
      - TV
  /3/tv/{series_id}/aggregate_credits:
    get:
      summary: Aggregate Credits
      description: Get the aggregate credits (cast and crew) that have been added to a TV show.
      operationId: tv-series-aggregate-credits
      parameters:
      - name: series_id
        in: path
        schema:
          type: integer
          format: int32
        required: true
      - name: language
        in: query
        schema:
          type: string
          default: en-US
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"cast":[{"adult":false,"gender":1,"id":1223786,"known_for_department":"Acting","name":"Emilia Clarke","original_name":"Emilia Clarke","popularity":42.737,"profile_path":"/u59kTmNHXzaGZqokivxLPiBVIML.jpg","roles":[{"credit_id":"5256c8af19c2956ff60479f6","character":"Daenerys Targaryen","episode_count":78}],"total_episode_count":78,"order":6},{"adult":false,"gender":2,"id":239019,"known_for_department":"Acting","name":"Kit Harington","original_name":"Kit Harington","popularity":19.319,"profile_path":"/htGBMno71BJAEGF3Y9f62MdA3Yt.jpg","roles":[{"credit_id":"5256c8af19c2956ff6047af6","character":"Jon Snow","episode_count":78}],"total_episode_count":78,"order":9},{"adult":false,"gender":2,"id":22970,"known_for_department":"Acting","name":"Peter Dinklage","original_name":"Peter Dinklage","popularity":30.6,"profile_path":"/lRsRgnksAhBRXwAB68MFjmTtLrk.jpg","roles":[{"credit_id":"5256c8b219c2956ff6047cd8","character":"Tyrion Lannister","episode_count":77}],"total_episode_count":77,"order":0},{"adult":false,"gender":1,"id":17286,"known_for_department":"Acting","name":"Lena Headey","original_name":"Lena Headey","popularity":24.88,"profile_path":"/xR2IBnBlUdyBe5hecaVdtRuQqUE.jpg","roles":[{"credit_id":"5256c8ad19c2956ff60479ce","character":"Cersei Lannister","episode_count":75}],"total_episode_count":75,"order":3},{"adult":false,"gender":1,"id":1001657,"known_for_department":"Acting","name":"Sophie Turner","original_name":"Sophie Turner","popularity":22.401,"profile_path":"/zopxZsUZmxZ4sGEfm4cRr7FVoM4.jpg","roles":[{"credit_id":"5256c8b419c2956ff6047f34","character":"Sansa Stark","episode_count":75}],"total_episode_count":75,"order":16},{"adult":false,"gender":2,"id":84423,"known_for_department":"Acting","name":"Conleth Hill","original_name":"Conleth Hill","popularity":7.404,"profile_path":"/rMllryXDXq6NyJfmvakC775M9nR.jpg","roles":[{"credit_id":"5256c8b219c2956ff6047d6e","character":"Lord Varys","episode_count":75}],"total_episode_count":75,"order":23},{"adult":false,"gender":2,"id":20508,"known_for_department":"Acting","name":"Iain Glen","original_name":"Iain Glen","popularity":14.438,"profile_path":"/n9zXQhjtXQnc30kqF66hdX4i3PG.jpg","roles":[{"credit_id":"5256c8af19c2956ff6047a5c","character":"Jorah Mormont","episode_count":73}],"total_episode_count":73,"order":8},{"adult":false,"gender":2,"id":71586,"known_for_department":"Acting","name":"Alfie Allen","original_name":"Alfie Allen","popularity":21.444,"profile_path":"/1N6NPuSHUYdiwRbSTVbaEOrFIk.jpg","roles":[{"credit_id":"5256c8b019c2956ff6047b5a","character":"Theon Greyjoy","episode_count":73}],"total_episode_count":73,"order":17},{"adult":false,"gender":1,"id":1181313,"known_for_department":"Acting","name":"Maisie Williams","original_name":"Maisie Williams","popularity":26.639,"profile_path":"/inmEtffV5LFDAN3HojOP3QAg1wt.jpg","roles":[{"credit_id":"5256c8b419c2956ff6047f0c","character":"Arya Stark","episode_count":73}],"total_episode_count":73,"order":18},{"adult":false,"gender":2,"id":12795,"known_for_department":"Acting","name":"Nikolaj Coster-Waldau","original_name":"Nikolaj Coster-Waldau","popularity":18.686,"profile_path":"/rpFOERbHkj7GWxkinUNiQ76sSGk.jpg","roles":[{"credit_id":"5256c8ad19c2956ff604793e","character":"Jaime Lannister","episode_count":71}],"total_episode_count":71,"order":5},{"adult":false,"gender":2,"id":49735,"known_for_department":"Acting","name":"Aidan Gillen","original_name":"Aidan Gillen","popularity":22.652,"profile_path":"/ju5ho6nnwOQ2QLGLnDP9yOZhGpb.jpg","roles":[{"credit_id":"5256c8af19c2956ff6047aa4","character":"Petyr Baelish","episode_count":71}],"total_episode_count":71,"order":7},{"adult":false,"gender":2,"id":1010135,"known_for_department":"Acting","name":"John Bradley","original_name":"John Bradley","popularity":6.231,"profile_path":"/eLcisM9qqCLWnf0iImHuSn08FOi.jpg","roles":[{"credit_id":"56009f37c3a36856180002b5","character":"Samwell Tarly","episode_count":71}],"total_episode_count":71,"order":25},{"adult":false,"gender":2,"id":15498,"known_for_department":"Acting","name":"Liam Cunningham","original_name":"Liam Cunningham","popularity":12.778,"profile_path":"/ljmFT9zYqh4k2bmEcNU6rxoE7fW.jpg","roles":[{"credit_id":"5256c8b519c2956ff604803e","character":"Davos Seaworth","episode_count":67}],"total_episode_count":67,"order":12},{"adult":false,"gender":2,"id":239020,"known_for_department":"Acting","name":"Isaac Hempstead-Wright","original_name":"Isaac Hempstead-Wright","popularity":7.062,"profile_path":"/g6ZreLmGrrOzaUCGVFRNPAWfcso.jpg","roles":[{"credit_id":"5256c8b119c2956ff6047c22","character":"Bran Stark","episode_count":67}],"total_episode_count":67,"order":13},{"adult":false,"gender":2,"id":195930,"known_for_department":"Acting","name":"Jerome Flynn","original_name":"Jerome Flynn","popularity":13.169,"profile_path":"/c80gcQaskTUjeWnCAKqnIPw8Tga.jpg","roles":[{"credit_id":"5256c8b219c2956ff6047d8e","character":"Bronn","episode_count":67}],"total_episode_count":67,"order":22},{"adult":false,"gender":2,"id":3075,"known_for_department":"Acting","name":"Rory McCann","original_name":"Rory McCann","popularity":7.227,"profile_path":"/9GKM3FshPtVOE6zqkT1XLTs2iot.jpg","roles":[{"credit_id":"5256c8b119c2956ff6047c84","character":"Sandor ''The Hound'' Clegane","episode_count":63}],"total_episode_count":63,"order":24},{"adult":false,"gender":2,"id":964792,"known_for_department":"Acting","name":"Jacob Anderson","original_name":"Jacob Anderson","popularity":6.42,"profile_path":"/i8dkNHSK3hok2VyvZwaVwFtcePh.jpg","roles":[{"credit_id":"570161b39251416070000434","character":"Grey Worm","episode_count":55}],"total_episode_count":55,"order":28},{"adult":false,"gender":2,"id":571418,"known_for_department":"Acting","name":"Kristofer Hivju","original_name":"Kristofer Hivju","popularity":17.672,"profile_path":"/bACL39GihNmBnFRay78rS3PUHsH.jpg","roles":[{"credit_id":"5256c8c219c2956ff6048530","character":"Tormund Giantsbane","episode_count":53}],"total_episode_count":53,"order":87},{"adult":false,"gender":1,"id":1011904,"known_for_department":"Acting","name":"Gwendoline Christie","original_name":"Gwendoline Christie","popularity":19.428,"profile_path":"/kmlv5i02n3zKryBr2W3kSeWVKTD.jpg","roles":[{"credit_id":"5256c8bd19c2956ff604841c","character":"Brienne of Tarth","episode_count":50}],"total_episode_count":50,"order":21},{"adult":false,"gender":1,"id":1251069,"known_for_department":"Acting","name":"Nathalie Emmanuel","original_name":"Nathalie Emmanuel","popularity":36.781,"profile_path":"/koSwmmonFJiZDfwmZgdVA7I1aR.jpg","roles":[{"credit_id":"570161409251416074000524","character":"Missandei","episode_count":50}],"total_episode_count":50,"order":92},{"adult":false,"gender":1,"id":23229,"known_for_department":"Acting","name":"Carice van Houten","original_name":"Carice van Houten","popularity":15.648,"profile_path":"/wcyc5upHVhIF9cl1DrWgjlmKWSX.jpg","roles":[{"credit_id":"599101b1c3a36806b300171d","character":"Melisandre","episode_count":49}],"total_episode_count":49,"order":65},{"adult":false,"gender":1,"id":58502,"known_for_department":"Acting","name":"Natalie Dormer","original_name":"Natalie Dormer","popularity":31.899,"profile_path":"/3OlkHjDKDj9NKkFWXfLk7gcb2C.jpg","roles":[{"credit_id":"5256c8b519c2956ff6048078","character":"Margaery Tyrell","episode_count":49}],"total_episode_count":49,"order":82},{"adult":false,"gender":2,"id":8435,"known_for_department":"Acting","name":"Stephen Dillane","original_name":"Stephen Dillane","popularity":10.138,"profile_path":"/qjIa6pXD4Z7nL7nH2LxyHDfxNgC.jpg","roles":[{"credit_id":"5256c8b519c2956ff6047fde","character":"Stannis Baratheon","episode_count":44}],"total_episode_count":44,"order":20},{"adult":false,"gender":2,"id":4391,"known_for_department":"Acting","name":"Charles Dance","original_name":"Charles Dance","popularity":28.138,"profile_path":"/2T2tH6EJjgP8aGevWogwfYr26QQ.jpg","roles":[{"credit_id":"5256c8b419c2956ff6047eda","character":"Tywin Lannister","episode_count":41}],"total_episode_count":41,"order":11},{"adult":false,"gender":1,"id":1052255,"known_for_department":"Acting","name":"Charlotte Hope","original_name":"Charlotte Hope","popularity":15.888,"profile_path":"/tFyn1QyNPqrhDmTkRKiWMidlCkD.jpg","roles":[{"credit_id":"5701782ac3a368569400076f","character":"Myranda","episode_count":40}],"total_episode_count":40,"order":55},{"adult":false,"gender":1,"id":20057,"known_for_department":"Acting","name":"Michelle Fairley","original_name":"Michelle Fairley","popularity":10.22,"profile_path":"/j8lQfEPHCKWV2QCiJJuH97CnoBX.jpg","roles":[{"credit_id":"5256c8ad19c2956ff604796a","character":"Catelyn Stark","episode_count":38}],"total_episode_count":38,"order":4},{"adult":false,"gender":2,"id":221978,"known_for_department":"Acting","name":"Iwan Rheon","original_name":"Iwan Rheon","popularity":9.365,"profile_path":"/5af7sYrJcVmOcQhMxcNLZHlUZyi.jpg","roles":[{"credit_id":"570162b19251416070000450","character":"Ramsay Bolton","episode_count":20},{"credit_id":"5347ff6c0e0a265c6c001636","character":"Ramsay Snow","episode_count":18}],"total_episode_count":38,"order":31},{"adult":false,"gender":2,"id":489467,"known_for_department":"Acting","name":"Jack Gleeson","original_name":"Jack Gleeson","popularity":9.187,"profile_path":"/uhSnpvrZ5TMnUmfRmZGn2VeVB89.jpg","roles":[{"credit_id":"5256c8b119c2956ff6047c4e","character":"Joffrey Baratheon","episode_count":37}],"total_episode_count":37,"order":26},{"adult":false,"gender":1,"id":213395,"known_for_department":"Acting","name":"Hannah Murray","original_name":"Hannah Murray","popularity":10.104,"profile_path":"/kbD8Plq6EC8K9d6hsPb2DcS56gv.jpg","roles":[{"credit_id":"55181024c3a36862ff00406c","character":"Gilly","episode_count":36}],"total_episode_count":36,"order":69},{"adult":false,"gender":2,"id":512991,"known_for_department":"Acting","name":"Richard Madden","original_name":"Richard Madden","popularity":59.193,"profile_path":"/kC7X9LgAtJfpxUBRtVwaVTEXomH.jpg","roles":[{"credit_id":"5256c8af19c2956ff6047b1a","character":"Robb Stark","episode_count":34}],"total_episode_count":34,"order":14},{"adult":true,"gender":1,"id":5118,"known_for_department":"Acting","name":"Sibel Kekilli","original_name":"Sibel Kekilli","popularity":8.385,"profile_path":"/hxaLGWS6ec02gThkyrLfveqHbOS.jpg","roles":[{"credit_id":"5256c8b919c2956ff6048330","character":"Shae","episode_count":34}],"total_episode_count":34,"order":27},{"adult":false,"gender":2,"id":1600596,"known_for_department":"Acting","name":"Brenock O''Connor","original_name":"Brenock O''Connor","popularity":3.338,"profile_path":"/n32zOLtJ1BP8UnCEkZfaGLsdp6L.jpg","roles":[{"credit_id":"57017e6dc3a36856900007ee","character":"Olly","episode_count":30}],"total_episode_count":30,"order":45},{"adult":false,"gender":1,"id":1223793,"known_for_department":"Acting","name":"Rose Leslie","original_name":"Rose Leslie","popularity":27.939,"profile_path":"/mAwKulkANZSlPSGYGbNx6iR6uq5.jpg","roles":[{"credit_id":"5256c8bf19c2956ff60484a0","character":"Ygritte","episode_count":28}],"total_episode_count":28,"order":75},{"adult":false,"gender":2,"id":73288,"known_for_department":"Acting","name":"Michael McElhatton","original_name":"Michael McElhatton","popularity":3.22,"profile_path":"/aPjuV6N10zAJMr55lAIvnpdsNgE.jpg","roles":[{"credit_id":"5256c8c019c2956ff6048504","character":"Roose Bolton","episode_count":28}],"total_episode_count":28,"order":80},{"adult":false,"gender":2,"id":570296,"known_for_department":"Acting","name":"Joe Dempsie","original_name":"Joe Dempsie","popularity":2.537,"profile_path":"/lnR0AMIwxQR6zUCOhp99GnMaRet.jpg","roles":[{"credit_id":"5256c8b619c2956ff604829c","character":"Gendry","episode_count":27}],"total_episode_count":27,"order":29},{"adult":false,"gender":2,"id":91520,"known_for_department":"Acting","name":"Michiel Huisman","original_name":"Michiel Huisman","popularity":15.336,"profile_path":"/pCxnCahwncPtWZw61Sy5qFgSkJ2.jpg","roles":[{"credit_id":"5549a51092514104c000122e","character":"Daario Naharis","episode_count":27}],"total_episode_count":27,"order":31},{"adult":false,"gender":1,"id":992808,"known_for_department":"Acting","name":"Rosabell Laurenti Sellers","original_name":"Rosabell Laurenti Sellers","popularity":22.444,"profile_path":"/54jpEVJpRi74YR019n3XytOF4lb.jpg","roles":[{"credit_id":"5701848c9251416ec900065c","character":"Tyene Sand","episode_count":27}],"total_episode_count":27,"order":35},{"adult":false,"gender":1,"id":1202689,"known_for_department":"Acting","name":"Jessica Henwick","original_name":"Jessica Henwick","popularity":21.864,"profile_path":"/a8LdstM4zzJwM2wXdmC6FU2oz7s.jpg","roles":[{"credit_id":"5701849cc3a36856900008ab","character":"Nymeria Sand","episode_count":27}],"total_episode_count":27,"order":37},{"adult":false,"gender":1,"id":15293,"known_for_department":"Acting","name":"Keisha Castle-Hughes","original_name":"Keisha Castle-Hughes","popularity":12.469,"profile_path":"/9lBukGiFVV0pKNwndaNhRQVnNmt.jpg","roles":[{"credit_id":"57018471c3a36856a50008f9","character":"Obara Sand","episode_count":27}],"total_episode_count":27,"order":38},{"adult":false,"gender":2,"id":52639,"known_for_department":"Acting","name":"Tom Wlaschiha","original_name":"Tom Wlaschiha","popularity":20.056,"profile_path":"/pWQEHReAOnjNF2N0s5TsQ12Qwyq.jpg","roles":[{"credit_id":"57016f74925141607700068f","character":"Jaqen H''ghar","episode_count":27}],"total_episode_count":27,"order":76},{"adult":false,"gender":1,"id":30430,"known_for_department":"Acting","name":"Indira Varma","original_name":"Indira Varma","popularity":34.438,"profile_path":"/iNplVZNqPkOXc4gGwTX3kyo3ykO.jpg","roles":[{"credit_id":"570179e6c3a368569000076c","character":"Ellaria Sand","episode_count":27}],"total_episode_count":27,"order":95},{"adult":false,"gender":2,"id":43138,"known_for_department":"Acting","name":"Ian McElhinney","original_name":"Ian McElhinney","popularity":7.741,"profile_path":"/xkKicrls0SEYP3kAaKhyWnd395S.jpg","roles":[{"credit_id":"5987d6329251413d18025132","character":"Barristan Selmy","episode_count":26}],"total_episode_count":26,"order":873},{"adult":false,"gender":2,"id":2467,"known_for_department":"Acting","name":"James Cosmo","original_name":"James Cosmo","popularity":10.513,"profile_path":"/yNZLoDlGmsQfvqK53yFiCMsknp0.jpg","roles":[{"credit_id":"5256c8b219c2956ff6047df8","character":"Jeor Mormont","episode_count":21}],"total_episode_count":21,"order":64},{"adult":false,"gender":2,"id":58758,"known_for_department":"Acting","name":"Deobia Oparei","original_name":"Deobia Oparei","popularity":3.114,"profile_path":"/kcw8vNMlYgK8peuN80zhX6TqeNk.jpg","roles":[{"credit_id":"57018329c3a36856940008ee","character":"Areo Hotah","episode_count":20}],"total_episode_count":20,"order":53},{"adult":false,"gender":2,"id":2957,"known_for_department":"Acting","name":"Alexander Siddig","original_name":"Alexander Siddig","popularity":12.098,"profile_path":"/oETjmdGRXgahgwGue7k52ZwMs5x.jpg","roles":[{"credit_id":"570182fa92514160740009b7","character":"Doran Martell","episode_count":20}],"total_episode_count":20,"order":54},{"adult":false,"gender":2,"id":1332971,"known_for_department":"Acting","name":"Dean-Charles Chapman","original_name":"Dean-Charles Chapman","popularity":9.642,"profile_path":"/sDWP1EZKmzb46A
[...]
